<template>
  <div>
    <v-card>
      <v-card-title></v-card-title>
      <v-card-text>
        <div>
          <p>Maior gasto R$ {{analisado.max}}</p>
          <p>Soma de gastos R$ {{analisado.sum.toFixed(2)}}</p>
          <p>Media de gastos R$ {{analisado.mean.toFixed(2)}}</p>
          <p>Menor gasto R$ {{analisado.min}}</p>
          <p>Quantidade de gastos {{analisado.quantity}}</p>
        </div>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>

export default {
  components: {
  },
  props: ["analisado"]
};
</script>