<template>
  <v-card>
    <v-card-title>
      <h1>{{ title }}</h1>
    </v-card-title>
    <v-card-text>
      <div id="container" class="svg-container" align="center">
        <svg v-if="redrawToggle === true" :width="svgWidth" :height="svgHeight">
          <g>
            <rect
              v-for="item in data"
              class="bar-positive"
              :key="item[xKey]"
              :x="xScale(item[xKey])"
              :y="yScale(0)"
              :width="xScale.bandwidth()"
              :height="0"
            />
          </g>
        </svg>
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
import * as d3 from "d3";
// import { scaleLinear, scaleBand } from "d3-scale";
// import { max, min } from "d3-array";
// import { selectAll } from "d3-selection";
// import { transition } from "d3-transition";

export default {
  name: "BarChart",
  props: {
    title: String,
    xKey: String,
    yKey: String,
    data: Array
  },
  mounted() {
    this.svgWidth = document.getElementById("container").offsetWidth * 0.75;
    this.AddResizeListener();
    this.AnimateLoad();
  },
  data: () => ({
    svgWidth: 0,
    redrawToggle: true
  }),
  methods: {
    AnimateLoad() {
      d3.selectAll("rect")
        .data(this.data)
        .transition()
        .delay((d, i) => {
          return i * 10;
        })
        .duration(1000)
        .attr("y", d => {
          return this.yScale(d[this.yKey]);
        })
        .attr("height", d => {
          return this.svgHeight - this.yScale(d[this.yKey]);
        });
    },
    AddResizeListener() {
      // redraw the chart 300ms after the window has been resized
      window.addEventListener("resize", () => {
        this.$data.redrawToggle = false;
        setTimeout(() => {
          this.$data.redrawToggle = true;
          this.$data.svgWidth =
            document.getElementById("container").offsetWidth * 0.75;
          this.AnimateLoad();
        }, 300);
      });
    }
  },
  computed: {
    yMax() {
      return d3.max(this.data, d => {
        return d[this.yKey];
      });
    },
    yMin() {
      return d3.min(this.data, d => {
        return d[this.yKey];
      });
    },
    xScale() {
      return d3
        .scaleBand()
        .rangeRound([0, this.svgWidth])
        .padding(0.1)
        .domain(
          this.data.map(d => {
            return d[this.xKey];
          })
        );
    },
    yScale() {
      return d3
        .scaleLinear()
        .rangeRound([this.svgHeight, 0])
        .domain([this.yMin > 0 ? 0 : this.yMin, this.yMax]);
    },
    svgHeight() {
      return this.svgWidth / 1.61803398875; // golden ratio
    }
  }
};
</script>

<style scoped>
.bar-positive {
  fill: steelblue;
  transition: r 0.2s ease-in-out;
}

.bar-positive:hover {
  fill: brown;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 1%;
  vertical-align: top;
  overflow: hidden;
}
</style>
