<template>
  <div>
    <TitleCard
      :titlecard="{title: 'Conversor de unidades', source: 'https://gitlab.com/yurifbeck/engcivil/blob/master/components/Conversor.vue'}"
    />
    <v-container>
      <v-row>
        <v-col>
          <Conversor></Conversor>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>


<script>
import Conversor from "~/components/Conversor.vue";
import TitleCard from "~/components/TitleCard.vue";

export default {
  components: {
    Conversor,
    TitleCard
  }
};
</script>
