<template>
  <div>
    <TitleCard :titlecard="titleCard" />
    <v-container>
      <v-stepper vertical v-model="etapa">
        <v-stepper-step editable step="1" :complete="e1>1">Inputs</v-stepper-step>

        <v-stepper-content step="1">
          <v-row>
            <v-col cols="12" sm="6">
              <v-radio-group v-model="tipo">
                <v-radio label="Moldada in loco" value="inLoco"></v-radio>
                <v-radio label="Pre-moldada" value="preMoldada"></v-radio>
                <v-radio label="Hélice contínua" value="helice"></v-radio>
              </v-radio-group>
              <v-col>
                <v-select
                  :items="decourtQuaresma"
                  item-text="nome"
                  return-object
                  v-model="tipoSolo"
                  label="Tipo de solo"
                ></v-select>
              </v-col>
              <v-col v-for="prop in inputs" :key="prop.id">
                <v-text-field
                  :label="prop.name"
                  :hint="prop.hint"
                  :suffix="prop.suffix"
                  :rules="prop.rules"
                  v-model.number="prop.value"
                  type="number"
                  min="0"
                  persistent-hint
                ></v-text-field>
              </v-col>
            </v-col>

            <v-col cols="12" sm="6" class="justify-center">
              <v-alert
                v-model="alert"
                type="warning"
                v-for="(e,index) in warnings"
                :key="index"
              >{{e}}</v-alert>Para estacas com diâmetro < 30 cm:
              <Mathjax
                :mdData="`$$ F_{adm} = (\\frac{P \\cdot L \\frac{SPT}{3} + 1}{1,3}) + \\frac{A \\cdot SPT \\cdot \\beta}{4} $$`"
              ></Mathjax>Para estacas com diâmetro maiores que 30 cm:
              <Mathjax
                :mdData="`$$ F_{adm} = (\\frac{P \\cdot L \\frac{SPT}{3} + 1}{1,3}) \\cdot \\alpha + \\frac{A \\cdot SPT \\cdot \\beta}{4} $$`"
              ></Mathjax>Para estacas hélice contínua:
              <Mathjax
                :mdData="`$$ F_{adm} = (\\frac{P \\cdot L \\frac{SPT}{3} + 1}{1,3}) + \\frac{A \\cdot SPT \\cdot \\beta \\cdot 0.3}{4} $$`"
              ></Mathjax>
              <v-simple-table>
                <template v-slot:default>
                  <thead>
                    <tr>
                      <th class="text-left">Solo</th>
                      <th class="text-left">&#946; pré-moldada</th>
                      <th class="text-left">&#946; in loco</th>
                      <th class="text-left">&#945; in loco</th>
                      <th class="text-left">&#945; cravada</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="item in decourtQuaresma" :key="item.name">
                      <td>{{ item.nome }}</td>
                      <td>{{ item.betaPreMoldado }}</td>
                      <td>{{ item.betaInLoco }}</td>
                      <td>{{ item.alfaInLoco }}</td>
                      <td>{{ item.alfaCravada }}</td>
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>
            </v-col>
          </v-row>
          <v-btn
            @click="etapa = 2"
          >Calcular</v-btn>
        </v-stepper-content>
        <v-stepper-step
          step="2"
          editable
          :complete="e1 > 2"
        >Cálculo método Decourt-Quaresma</v-stepper-step>

        <v-stepper-content step="2">
          <v-row>
            <v-col>
              <p class="title">Estaca tipo {{tipo}} em solo {{tipoSolo.nome}}</p>
              <p>Cálculo da resistência de atrito lateral do fuste</p>
              <Mathjax
                :mdData="`$$ ${tipo} $$`"
              ></Mathjax>
            </v-col>
          </v-row>

          <v-btn color="green" @click="etapa = 3">Calcular momento limite</v-btn>
        </v-stepper-content>
        <v-stepper-step step="3" editable :complete="e1 > 2">Cálculo do momento limite</v-stepper-step>

        <v-stepper-content step="3">
          <v-row>
            <v-col>
              <p>Considerando x limite como 0.45 . d</p>

              <v-btn color="green" @click="etapa = 4">Calcular M2</v-btn>
            </v-col>
          </v-row>
        </v-stepper-content>
        <v-stepper-step step="4" editable :complete="etapa > 3">Cálculo das armaduras</v-stepper-step>

        <v-stepper-content step="4">
          <v-row>
            <v-col></v-col>
          </v-row>
        </v-stepper-content>
      </v-stepper>
    </v-container>
  </div>
</template>


<script>
import TitleCard from "~/components/TitleCard.vue";
import Mathjax from "~/components/AnaliseMatricial/Mathjax.vue";
// var math = require('mathjs')
// var math2 = math.create({
//   matrix: 'Array'
// })
export default {
  components: {
    TitleCard,
    Mathjax
  },
  data() {
    return {
      warnings: [],
      tipo: 'inLoco',
      tipoSolo:           {
              nome: 'Argilas',
              betaPreMoldado: 12,
              betaInLoco: 10,
              alfaInLoco:0.8,
              alfaCravada: 12,
              alfaHelice: 0.3,
              betaHelice: 1
          },
      decourtQuaresma: [
          {
              nome: 'Argilas',
              betaPreMoldado: 12,
              betaInLoco: 10,
              alfaInLoco:0.8,
              alfaCravada: 12,
              alfaHelice: 0.3,
              betaHelice: 1
          },
                    {
              nome: 'Siltes argilosos',
              betaPreMoldado: 20,
              betaInLoco: 12,
                            alfaInLoco:0.65,
              alfaCravada: 20,
                            alfaHelice: 0.3,
              betaHelice: 1
          },
                    {
              nome: 'Siltes arenosos',
              betaPreMoldado: 25,
              betaInLoco: 14,
                            alfaInLoco:0.65,
              alfaCravada: 25,
                            alfaHelice: 0.3,
              betaHelice: 1,
          },
                    {
              nome: 'Areia',
              betaPreMoldado: 40,
              betaInLoco: 20,
                            alfaInLoco:0.5,
              alfaCravada: 40,
                            alfaHelice: 0.3,
              betaHelice: 1
          }
      ],
      titleCard: {
        title: "Fórmula de Decourt-Quaresma",
        subtitle:
          "",
        source:
          "https://gitlab.com/yurifbeck/engcivil/blob/laje2/pages/engcivil/decourt-quaresma.vue"
      },
      etapa: 1,
      rules: {
        // simples: value =>
        //   value < this.dmin.dmin || "Para esta altura armadura simples basta"
      },
      alert: false,
      dialog: false,
      escoamento: false,
      e1: 1,
      inputs: {
        p: {
          name: "P",
          value: 0.12,
          suffix: "m",
          hint: "Largura"
        },
        d: {
          name: "Diâmetro do fuste",
          value: 25,
          suffix: "cm",
          hint: "Diâmetro do fuste"
        },
        h: {
          name: "d",
          value: 8,
          suffix: "m",
          hint: "Altura do fuste",
          rules: [
            // value =>
            //   value < this.dmin.dmin ||
            //   "Para esta altura armadura simples basta"
          ]
        },
        m: {
          name: "M",
          value: 45,
          suffix: "kN m",
          hint: "M = Momento, Md = M * 1.4 "
        },
                spt: {
          name: "SPT",
          value: 52,
          suffix: "",
          hint: "Soma do SPT do fuste em contato com solo "
        },
                        sptPonta: {
          name: "SPT Ponta",
          value: 17,
          suffix: "",
          hint: "SPT na ponta"
        },
      },
      d2: {
        value: 0.036
      }
    };
  },
  computed: {
      f () {
          let areaPonta = Math.PI * this.d.value **2 /4
          let areaLateralPorMetro = this.d.value * Math.PI * 100
          if ( this.tipo === 'helice') { 
              
          } else if (this.d.value < 30 ){
              if(this.tipo === 'preMoldado'){

                  let fat = (this.spt.value/3 + 1) * this.h.value * this.areaLateralPorMetro
                  let fpt = this.sptPonta.value * areaPonta * this.tipoSolo.betaPreMoldado
                  let fat_md = `$$ F_{at} = (\\frac{P \\cdot L \\frac{SPT}{3} + 1}{1,3}) + \\frac{A \\cdot SPT \\cdot \\beta}{4} $$`
              }else {
                  let fat = (this.spt.value/3 + 1) * this.h.value * this.areaLateralPorMetro
                  let fpt = this.sptPonta.value * areaPonta * this.tipoSolo.betaInLoco
                                    let fat_md = `$$ F_{at} = (\\frac{P \\cdot L \\frac{SPT}{3} + 1}{1,3}) + \\frac{A \\cdot SPT \\cdot \\beta}{4} $$`
              }
          } else {
              if(this.tipo === 'preMoldado'){

                  let fat = (this.spt.value/3 + 1) * this.h.value * this.areaLateralPorMetro * this.tipoSolo.alfaCravada
                  let fpt = this.sptPonta.value * areaPonta * this.tipoSolo.betaPreMoldado
                                    let fat_md = `$$ F_{at} = (\\frac{P \\cdot L \\frac{SPT}{3} + 1}{1,3}) + \\frac{A \\cdot SPT \\cdot \\beta}{4} $$`
              }else {
                  let fat = (this.spt.value/3 + 1) * this.h.value * this.areaLateralPorMetro * this.tipoSolo.alfaInLoco
                  let fpt = this.sptPonta.value * areaPonta * this.tipoSolo.betaInLoco
                                    let fat_md = `$$ F_{at} = (\\frac{P \\cdot L \\frac{SPT}{3} + 1}{1,3}) + \\frac{A \\cdot SPT \\cdot \\beta}{4} $$`
              }

          }
          let f = fat /1.3 + fpt/4
          return {areaPonta, areaLateralPorMetro, fat, fpt, f, fat_md}
      }
  }
};
</script>
