<template>
  <div>
    <TitleCard :titlecard="titleCard" />
    <v-container>
      <v-stepper vertical v-model="etapa">
        <v-stepper-step editable step="1" :complete="e1>1">Dados do cliente:</v-stepper-step>

        <v-stepper-content step="1">
          <v-row>
            <v-col cols="12" sm="6">
              <v-col v-for="prop in client" :key="prop.id">
                <v-text-field
                  :label="prop.name"
                  :hint="prop.hint"
                  :suffix="prop.suffix"
                  :value="prop.value"
                  :type="prop.type"
                  :placeholder="prop.placeholder"
                  persistent-hint
                ></v-text-field>
              </v-col>
            </v-col>

            <v-col cols="12" sm="6">
              <v-alert
                v-model="alert"
                type="warning"
                v-for="(e,index) in warnings"
                :key="index"
              >{{e}}</v-alert>
            </v-col>
          </v-row>
          <v-btn color="primary" @click="etapa = 2">Continue</v-btn>
        </v-stepper-content>
      </v-stepper>
    </v-container>
  </div>
</template>


<script>
import TitleCard from "~/components/TitleCard.vue";
import Mathjax from "~/components/AnaliseMatricial/Mathjax.vue";
// var math = require('mathjs')
// var math2 = math.create({
//   matrix: 'Array'
// })
export default {
  components: {
    TitleCard,
    Mathjax
  },
  data() {
    return {
      warnings: [],
      titleCard: {
        title: "Calcular espaçamentos de estribos simples",
        subtitle:
          "Baseado no exemplo 1 do capítulo 6 do livro Cálculo e Detalhamento de Estruturas Usuais de Concreto Armado de Roberto Chust Carvalho",
        source:
          "https://gitlab.com/yurifbeck/engcivil/blob/laje2/pages/engcivil/pilar_estribos.vue"
      },
      etapa: 1,
      alert: false,
      dialog: false,
      client: {
        address: {
          name: "Endereço",
          value: "",
          placeholder: "Rua 123, apto. 321",
          type: "text"
        },
        phone: {
          name: "Telefone",
          value: "",
          placeholder: "(67) 99932-2323"
        }
      }
    };
  },
  computed: {}
};
</script>

<style scoped lang="css">
.description {
  font-size: 0.8em;
}
</style>
