<template>
  <div>
    <TitleCard :titlecard="titleCard" />
    <v-container fluid grid-list-lg id="engcivil">
      <v-layout row wrap>
        <Card v-for="(card,n) in cards" :key="n" :card="card"></Card>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import Card from "~/components/Card";
import TitleCard from "~/components/TitleCard.vue";
export default {
  components: { Card, TitleCard },
  data() {
    return {
      titleCard: {
        title: "Engenharia Civil",
        subtitle:
          "Encontre aqui diversos mini apps relacionados a engenharia civil."
      },
      cards: {
        trelica: {
          title: "Análise Estrutural de Treliças",
          description:
            "Análise matricial de estruturas de treliça utilizando o método da rigidez. Passo a passo todo descrito de forma didática.",
          year: "2017",
          link: "/engcivil/trelica3",
          author: "Yuri Becker"
        },
        viga: {
          title: "Vigas - Resistencia máxima",
          description:
            "Cálculo de resistência máxima. Coloque altura, largura e aço utilizado. Resulta Md e área de aço. Irá mostrar passo a passo fórmulas utilizadas no processo. ",
          year: "2019",
          link: "/engcivil/viga",
          author: "Yuri Becker"
        },
        viga_altura_minima: {
          title: "Vigas - Altura mínima",
          description: "Cálculo de altura mínima de vigas",
          year: "2019",
          link: "/engcivil/viga_altura_minima",
          author: "Yuri Becker"
        },
        viga_armadura_dupla: {
          title: "Vigas - Armadura dupla",
          description: "Cálculo de resistência para armadura dupla ",
          year: "2019",
          link: "/engcivil/viga_armadura_dupla",
          author: "Yuri Becker"
        },
        pilar_estribo: {
          title: "Pilar - Cálculo estribos",
          description: "Cálculo de armadura transversal necessária",
          year: "2019",
          link: "/engcivil/pilar_estribos",
          author: "Yuri Becker"
        },
        traco: {
          title: "Tabelas para Traços de Concreto",
          description:
            "Escolha o MPa desejado e volume. Obtenha facilmente tabela quantitativa e custos.",
          year: "2018",
          link: "/engcivil/traco_concreto",
          author: "Yuri Becker"
        },
        questoes: {
          title: "Questões de concurso",
          description:
            "Resolução comentada de questões de curcursos de engenharia civil.",
          year: "2018",
          link: "/engcivil/resolucao",
          author: "Yuri Becker"
        },
        questoes: {
          title: "Conversor de unidades",
          description: "Transforme temperatura, pressões, forças, etc...",
          year: "2019",
          link: "/engcivil/conversor",
          author: "Yuri Becker"
        }
      }
    };
  }
};
</script>

<style scoped>
</style>
