<template>
  <v-container fluid grid-list-md>
      <v-layout row wrap>

        <!-- card das propriedades materiais -->
          <v-flex xs6 sm3 lg3>
              <v-card class="mb-3 light-green darken-4">
                <v-card-title> Propriedades materiais </v-card-title>

                <!-- loop para mostrar todas propriedades -->
                <v-card-text class="py-1"
                  v-for="property in matProps"
                  :key="property.name"
                >
                  <v-text-field
                    color="black"
                    v-model="property.value" 
                    :label="property.name"
                    :suffix="property.suffix"
                    :hint="property.hint"
                    type="number"
                    persistent-hint
                  />
                </v-card-text>

              </v-card>
          </v-flex>

          <!-- card das propriedades geometricas -->
          <v-flex xs6 sm3 lg3>
              <v-card class="mb-3 light-blue darken-4">
                <v-card-title> Propriedades geometricas </v-card-title>

                <!-- loop para mostrar todas propriedades -->
                <v-card-text class="py-1"
                  v-for="property in geoProps"
                  :key="property.name"
                >
                  <v-text-field
                    color="black"
                    v-model="property.value" 
                    :label="property.name"
                    :suffix="property.suffix"
                    :hint="property.hint"
                    type="number"
                  />
                </v-card-text>

              </v-card>
          </v-flex>

          <!-- propriedades calculadas -->
          <v-flex xs6 sm3 lg3>
              <v-card class="mb-3 blue darken-4">
                <v-card-title> Propriedades calculadas </v-card-title>

                <!-- loop para mostrar todas propriedades calculadas -->
                <v-card-text class="py-1"
                v-for="prop in calcPropsComp"
                :key="prop.id"
                >

                  <v-text-field
                    color="black"
                    v-model="prop.value" 
                    :label="prop.name"
                    :suffix="prop.suffix"
                    :hint="prop.hint"
                    type="number"
                    persistent-hint
                    disabled
                  />

                </v-card-text>

              </v-card>
          </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
// import Latex from '~/components/Latex.vue'
// var math = require('mathjs')
// var math2 = math.create({
//   matrix: 'Array'
// })
export default {
  components: {
    // Latex
  },
  data () {
    return {
      matProps:
      {
        fck: { name: 'fck', value: 20, suffix: 'MPa', hint: 'Resistencia compressao - concreto' },
        fyk: { name: 'fyk', value: 500, suffix: 'MPa', hint: 'Resistencia tracao - aco' },
        Eyd: { name: 'Eyd', value: 0.207, suffix: '%', hint: ' - aco' },
        gamma_y: { name: '&gamma y', value: 1.4, suffix: '', hint: 'Coeficiente seguranca - Concreto' },
        gamma_y2: { name: 'Gamma y2', value: 1.15, suffix: '', hint: 'Coeficiente seguranca - Aco' }
      },
      geoProps:
      {
        bw: { name: 'bw', value: 0.15, suffix: 'm', hint: 'largura da viga' },
        d: { name: 'd', value: 0.27, suffix: 'm', hint: 'altura util da viga (altura - cobrimento)' },
        mk: { name: 'mk', value: 12.2, suffix: 'kN.m', hint: 'momento aplicado' }
      },
      calcProps:
      {
        fcd: { name: 'fcd', suffix: 'MPa', hint: 'Resistencia compressao concreto de calculo, usual fck/1.4' },
        fyd: { name: 'fyd', suffix: 'MPa', hint: 'Resistencia compressao aco de calculo, usual fck/1.15' },
        md: { name: 'md', suffix: 'kN.m', hint: 'momento de calculo' },
        kx: { name: 'kx', suffix: '', hint: '' },
        kz: { name: 'kz', suffix: '', hint: '' },
        KMD: { name: 'KMD', suffix: '', hint: 'adasd' },
        As: { name: 'Area de aco', suffix: '', hint: 'adasd' }
      }
    }
  },
  computed: {
    calcPropsComp () {
      var a = this.calcProps
      a.fcd.value = this.matProps.fck.value / this.matProps.gamma_y.value
      a.fyd.value = this.matProps.fyk.value / this.matProps.gamma_y2.value
      a.md.value = this.matProps.gamma_y.value * this.geoProps.mk.value
      // a.kx.value = this.kx(
      //   this.matProps.gamma_y.value,
      //   this.matProps.gamma_y2.value
      // )
      a.KMD.value = this.KMD(
        this.calcProps.md.value,
        this.geoProps.bw.value,
        this.geoProps.d.value,
        a.fcd.value
      )
      a.kx.value = this.kx2(a.KMD.value)
      a.kz.value = this.kz(a.kx.value)
      a.As.value = this.KMD(
        this.calcProps.md.value,
        this.calcProps.kz.value,
        this.geoProps.d.value,
        this.calcProps.fyd.value
      )
      return {
        ...a
      }
    }
  },
  methods: {
    kx (Ecd, Esd) {
      return (Ecd / (Ecd + Esd))
    },
    kx2 (kmd) {
      // ax**2 + bx + c = 0
      // KMD = 0.4 kx + kx^2
      var a = 1
      var b = 0.4
      var c = -kmd
      var x1 = (-b + Math.sqrt(Math.pow(b, 2) - 4 * a * c)) / (2 * a)
      var x2 = (-b - Math.sqrt(Math.pow(b, 2) - 4 * a * c)) / (2 * a)
      console.log('x1 e x2', x1, x2)
      if (x1 >= 0) {
        return x1
      } else {
        return x2
      }
    },
    kz (kx) {
      return (1 - 0.4 * kx)
    },
    KMD (md, bw, d, fcd) {
      return (md / (bw * Math.pow(d, 2) * fcd * 1000))
    },
    As (md, kz, d, fyd) {
      return (md / (kz * Math.pow(d, 2) * fyd * 1000))
    }
  }
}
</script>
