<template>
  <div>
    <TitleCard :titlecard="{title: 'Dimensionamento de Lajes'}" />
    <v-card class>
      <v-divider class="my-3"></v-divider>

      <v-radio-group v-model.number="tipoLaje" row>
        <v-radio label="Armada em 1 direção" value="1" />
        <v-radio label="Armada em 2 direções" value="2" disabled />
        <v-radio label="1 lado em balanço" value="3" disabled />
      </v-radio-group>

      <v-stepper non-linear v-model="etapa" vertical color="blue-grey lighten-1">
        <h2 class="mx-2">Cálculo do momento fletor</h2>

        <v-stepper-step editable :complete="etapa > 1" step="1">
          Propriedades geométricas
          <small>Lembrando que direção principal (lx) é a menor dimensão</small>
        </v-stepper-step>

        <v-stepper-content step="1">
          <v-layout row wrap>
            <v-flex xs12 sm6>
              <v-layout row wrap>
                <v-flex xs12 v-for="prop in geoProps" :key="prop.id">
                  <v-text-field
                    v-if="prop.type == 'text'"
                    :label="prop.hint"
                    class="input-group--focused my-2"
                    :hint="prop.name"
                    :suffix="prop.suffix"
                    v-model.number="prop.value"
                    type="number"
                    persistent-hint
                  ></v-text-field>
                </v-flex>

                <v-flex xs12>
                  <v-select
                    :items="engastes1"
                    v-model="geoProps.e_lx.value"
                    label="Quantidade de engastes"
                    item-text="description"
                    item-value="value"
                  ></v-select>
                </v-flex>
              </v-layout>
            </v-flex>

            <v-flex xs12 sm6 class="text-xs-center">
              <laje-planta :geoProps="geoProps" />
            </v-flex>
            <v-btn color="primary" @click="etapa = 2">Continue</v-btn>
          </v-layout>
        </v-stepper-content>

        <v-stepper-step editable :complete="etapa > 2" step="2">
          Cargas
          <small></small>
        </v-stepper-step>

        <v-stepper-content step="2">
          <v-layout row wrap>
            <v-flex xs12 v-for="prop in cargaProps" :key="prop.id">
              <v-text-field
                :label="prop.hint"
                class="input-group--focused my-2"
                :hint="prop.name"
                :suffix="prop.suffix"
                v-model.number="prop.value"
                type="number"
                persistent-hint
              ></v-text-field>
            </v-flex>
          </v-layout>

          <v-btn color="primary" @click="etapa = 3">Continue</v-btn>
        </v-stepper-content>

        <v-stepper-step editable :complete="etapa > 3" step="3">
          Resultados
          <small></small>
        </v-stepper-step>

        <v-stepper-content step="3" class="mx-0 px-0">
          <v-data-table
            :items="calcPropsComp"
            class="elevation-2"
            color="info"
            hide-default-footer
            :headers="titulosMomento"
          >
            <template slot="items" slot-scope="props">
              <td>{{ props.item.hint }}</td>
              <td class="text-xs-right">{{ props.item.name }}</td>
              <td class="text-xs-right">{{ props.item.value }}</td>
              <td class="text-xs-right">{{ props.item.suffix }}</td>
            </template>
          </v-data-table>
        </v-stepper-content>
      </v-stepper>

      <v-stepper non-linear v-model="etapa2" vertical color="blue-grey lighten-1">
        <h2 class="mx-2">Cálculo da armadura simples</h2>

        <v-stepper-step editable :complete="etapa2 > 1" step="1">
          Propriedades da laje
          <small></small>
        </v-stepper-step>

        <v-stepper-content step="1">
          <v-layout row wrap>
            <v-flex xs12 sm6>
              <v-layout row wrap>
                <v-flex xs12 v-for="prop in lajeProps" :key="prop.id">
                  <v-text-field
                    v-if="prop.type == 'text'"
                    :label="prop.hint"
                    class="input-group--focused my-2"
                    :hint="prop.name"
                    :suffix="prop.suffix"
                    v-model.number="prop.value"
                    type="number"
                    persistent-hint
                  ></v-text-field>
                </v-flex>

                <v-flex xs12>
                  <v-select
                    :items="tipoAco"
                    v-model="lajeProps.aco.value"
                    label="Tipo de Aço"
                    item-text="description"
                    item-value="value"
                  ></v-select>
                </v-flex>
              </v-layout>
            </v-flex>

            <v-flex xs12 sm6 class="text-xs-center">
              <laje-corte :lajeProps="lajeProps" />
            </v-flex>
            <v-btn color="primary" @click="etapa2 = 2">Continue</v-btn>
          </v-layout>
        </v-stepper-content>

        <v-stepper-step editable :complete="etapa2 > 2" step="2">
          Resultados
          <small></small>
        </v-stepper-step>

        <v-stepper-content step="2" class="mx-0 px-0">
          <v-data-table
            :items="calcPropsComp"
            class="elevation-2"
            color="info"
            hide-default-footer
            :headers="titulosArmadura"
          >
            <template slot="items" slot-scope="props">
              <td>{{ props.item.armacao }}</td>
              <td class="text-xs-right">{{ props.item.kx }}</td>
              <td class="text-xs-right">{{ props.item.dominio }}</td>
              <td class="text-xs-right">{{ props.item.yf }}</td>
            </template>
          </v-data-table>
          <v-btn color="primary" @click="etapa2 = 3">Continue</v-btn>
        </v-stepper-content>

        <v-stepper-step editable :complete="etapa2 > 3" step="3">
          Resultados
          <small></small>
        </v-stepper-step>

        <v-stepper-content step="3"></v-stepper-content>
      </v-stepper>
    </v-card>
  </div>
</template>


<script>
// import Latex from '~/components/Latex.vue'
import LajePlanta from "~/components/LajePlanta.vue";
import LajeCorte from "~/components/LajeCorte.vue";
import TitleCard from "~/components/TitleCard.vue";
// var math = require('mathjs')
// var math2 = math.create({
//   matrix: 'Array'
// })
export default {
  components: {
    // Latex
    LajePlanta,
    LajeCorte,
    TitleCard
  },
  data() {
    return {
      etapa: null,
      etapa2: null,
      tipoLaje: 1,
      engastes1: [
        { description: "Nenhum", value: 0 },
        { description: "Um lado", value: 1 },
        { description: "Dois lados", value: 2 }
      ],
      tipoAco: [
        { description: "CA-25", value: 0 },
        { description: "CA-50", value: 1 },
        { description: "CA-60", value: 2 }
      ],
      titulosMomento: [
        { text: "Propriedade", sortable: false, align: "left", value: "hint" },
        { text: "Sigla", sortable: false, align: "center", value: "name" },
        { text: "Valor", sortable: false, align: "left", value: "value" },
        { text: "Unidade", sortable: false, align: "left", value: "suffix" }
      ],
      titulosArmadura: [
        { text: "Armação", sortable: false, align: "left", value: "armacao" },
        { text: "Kx", sortable: false, align: "center", value: "kx" },
        { text: "Domínio", sortable: false, align: "left", value: "dominio" },
        { text: "yf", sortable: false, align: "left", value: "yf" },
        { text: "d_real", sortable: false, align: "left", value: "d_real" },
        { text: "As_real", sortable: false, align: "left", value: "as_real" }
      ],
      matProps: {
        fck: {
          name: "fck",
          value: 20,
          suffix: "MPa",
          hint: "Resistencia compressão - concreto"
        },
        fyk: {
          name: "fyk",
          value: 500,
          suffix: "MPa",
          hint: "Resistencia tracao - aco"
        },
        Eyd: { name: "Eyd", value: 0.207, suffix: "%", hint: " - aco" },
        gamma_y: {
          name: "&gamma y",
          value: 1.4,
          suffix: "",
          hint: "Coeficiente segurança - Concreto"
        },
        gamma_y2: {
          name: "Gamma y2",
          value: 1.15,
          suffix: "",
          hint: "Coeficiente segurança - Aco"
        }
      },
      geoProps: {
        lx: {
          name: "lx",
          value: 2,
          suffix: "m",
          hint: "Comprimento direção principal",
          type: "text"
        },
        h: {
          name: "H",
          value: 12,
          suffix: "cm",
          hint: "Altura da laje",
          type: "text"
        },
        e_lx: {
          name: "engaste lx",
          value: 0,
          suffix: "",
          hint: "Número de engaste ao longo direção secundária",
          type: "select"
        }
      },
      cargaProps: {
        pp: {
          name: "pp",
          value: 0.1,
          suffix: "tf/m2",
          hint: "Carga permanente (sem peso próprio)"
        },
        pq: { name: "pq", value: 0, suffix: "tf/m2", hint: "Carga variável" },
        fck: {
          name: "fck",
          value: 0,
          suffix: "MPa",
          hint: "Resistencia do concreto"
        }
      },
      calcProps: {
        pg: { name: "pg", suffix: "tf/m2", hint: "Carga total" },
        E: { name: "E", suffix: "kgf/cm2", hint: "E = Módulo de deformação " },
        I: { name: "I", suffix: "cm4", hint: "I = Momento de inércia" },
        flecha: { name: "flecha", suffix: "cm", hint: "Flecha" },
        flecha_adm: {
          name: "flecha_adm",
          suffix: "cm",
          hint: "Flecha admissível"
        },
        mk: { name: "mk", suffix: "tf.m/m", hint: "Momento de Cálculo" }
      },
      lajeProps: {
        fck: {
          name: "fck",
          value: 20,
          suffix: "MPa",
          hint: "Resistencia compressao - concreto",
          type: "text"
        },
        h: {
          name: "h",
          value: 12,
          suffix: "cm",
          hint: "Altura laje",
          type: "text"
        },
        aco: {
          name: "CA",
          value: 0.207,
          suffix: "",
          hint: "Aco CA",
          type: "select"
        },
        mx: {
          name: "Mx",
          value: 1.4,
          suffix: "tf.m/m",
          hint: "Momento fletor",
          type: "text"
        },
        c: {
          name: "c",
          value: 1.15,
          suffix: "cm",
          hint: "Cobrimento",
          type: "text"
        }
      }
    };
  },
  computed: {
    svgWidth() {
      return (30 + this.geoProps.lx.value).toString() + "%";
    },
    calcPropsComp() {
      this.calcProps.pg.value =
        this.cargaProps.pp.value + this.cargaProps.pq.value;
      this.calcProps.I.value = 30;
      return Object.values(this.calcProps);
    }
  },
  methods: {
    kx(Ecd, Esd) {
      return Ecd / (Ecd + Esd);
    },
    kx2(kmd) {
      // ax**2 + bx + c = 0
      // KMD = 0.4 kx + kx^2
      var a = 1;
      var b = 0.4;
      var c = -kmd;
      var x1 = (-b + Math.sqrt(Math.pow(b, 2) - 4 * a * c)) / (2 * a);
      var x2 = (-b - Math.sqrt(Math.pow(b, 2) - 4 * a * c)) / (2 * a);
      console.log("x1 e x2", x1, x2);
      if (x1 >= 0) {
        return x1;
      } else {
        return x2;
      }
    },
    kz(kx) {
      return 1 - 0.4 * kx;
    },
    KMD(md, bw, d, fcd) {
      return md / (bw * Math.pow(d, 2) * fcd * 1000);
    },
    As(md, kz, d, fyd) {
      return md / (kz * Math.pow(d, 2) * fyd * 1000);
    }
  }
};
</script>
