<template>
  <div>
    <v-card class="ma-3">
      <v-card-text>
        <v-subheader>Propriedades geométricas do muro</v-subheader>
        <v-container fluid grid-list-md>
          <v-layout row wrap>
            <v-flex xs12 sm4 md4>
              <v-text-field 
                v-model="comprimentoMuro" 
                label="Comprimento"
                type="number" 
                suffix="m"
              />
            </v-flex>

            <v-flex xs12 sm4 md4>
              <v-text-field 
                v-model="alturaMuro" 
                label="Altura"
                type="number" 
                suffix="m"
              />
            </v-flex>

            <v-flex xs12 sm4 md4>
              <v-text-field 
                v-model="espessuraArgamassa" 
                label="Espessura espessuraArgamassa"
                type="number" 
                suffix="cm"
              />
            </v-flex>

            <v-flex xs12 sm4 md4>
              <div>Área muro = {{ areaMuro = comprimentoMuro * alturaMuro }} m2</div>
            </v-flex>
            <v-flex xs12 sm4 md4>
              <div>Volume muro = {{ volumeMuro = comprimentoMuro * alturaMuro * espessuraTijolo / 100 }} m3</div>
            </v-flex>

          </v-layout>
        </v-container>
      </v-card-text>
    </v-card>
    <v-card class="ma-3">
      <v-card-text>
        <v-subheader>Dimensões do tijolo</v-subheader>
        <v-container fluid grid-list-md>
          <v-layout row wrap>
            <v-flex xs12 sm4 md4>
              <v-text-field 
                v-model="comprimentoTijolo" 
                label="Comprimento tijolo"
                type="number" 
                suffix="cm"
              />
            </v-flex>

            <v-flex xs12 sm4 md4>
              <v-text-field 
                v-model="alturaTijolo" 
                label="Altura tijolo"
                type="number" 
                suffix="cm"
              />
            </v-flex>

            <v-flex xs12 sm4 md4>
              <v-text-field 
                v-model="espessuraTijolo" 
                label="Espessura tijolo"
                type="number" 
                suffix="cm"
              />
            </v-flex>

            <v-flex xs12 sm4 md4>
              <div>Área de um tijolo = {{ areaTijolo = comprimentoTijolo * alturaTijolo / 10000 }} m2</div>
            </v-flex>
            <v-flex xs12 sm4 md4>
              <div>Volume de um tijolo = {{ volumeTijolo = comprimentoTijolo * alturaTijolo * espessuraTijolo / 1000000 }} m3</div>
            </v-flex>
            <v-flex xs12 sm4 md4>
              <div>Peso de um tijolo = {{ pesoTijolo = volumeTijolo * densidadeTijolo }} kg</div>
            </v-flex>

          </v-layout>
        </v-container>
      </v-card-text>
    </v-card>

    <v-card class="ma-3">
      <v-card-text>
        <v-subheader>Outras variáveis</v-subheader>
        <v-container fluid grid-list-md>
          <v-layout row wrap>
            <v-flex xs12 sm4 md4>
              <v-text-field 
                v-model="perdas" 
                label="Perdas"
                type="number" 
                suffix="%"
              />
            </v-flex>

            <v-flex xs12 sm4 md4>
              <v-text-field 
                v-model="precoPedreiro" 
                label="Preço hora pedreiro"
                type="number" 
                suffix="R$/Hr"
              />
            </v-flex>

            <v-flex xs12 sm4 md4>
              <v-text-field 
                v-model="precoArgamassa" 
                label="Preço espessuraArgamassa"
                type="number" 
                suffix="R$/KG"
              />
            </v-flex>

            <v-flex xs12 sm4 md4>
              <v-text-field 
                v-model="precoTijolo" 
                label="Preço tijolo"
                type="number" 
                suffix="R$/UN"
              />
            </v-flex>

            <v-flex xs12 sm4 md4>
              <v-text-field 
                v-model="distPilares" 
                label="Distancia entre pilares"
                type="number" 
                suffix="m"
              />
            </v-flex>

            <v-flex xs12 sm4 md4>
              <v-text-field 
                v-model="larguraPilares" 
                label="Largura dos pilares"
                type="number" 
                suffix="m"
              />
            </v-flex>

            <v-flex xs12 sm4 md4>
              <v-text-field 
                v-model="densidadeArgamassa" 
                label="Densidade Argamassa"
                type="number" 
                suffix="%"
              />
            </v-flex>

            <v-flex xs12 sm4 md4>
              <v-text-field 
                v-model="densidadeTijolo" 
                label="Densidade Tijolo"
                type="number" 
                suffix="%"
              />
            </v-flex>

          </v-layout>
        </v-container>
      </v-card-text>
    </v-card>
  
    <v-card class="ma-3">
      <v-card-text>
        <v-subheader>Traço argamassa</v-subheader>
        <v-container fluid grid-list-md>
          <v-layout row wrap>
            <v-flex xs12 sm4 md4>
              <v-text-field 
                v-model="tracoCimento" 
                label="Traço cimento"
                type="number" />
            </v-flex>

            <v-flex xs12 sm4 md4>
              <v-text-field 
                v-model="tracoCalHidratada" 
                label="Traço Cal Hidratada"
                type="number"/>
            </v-flex>

            <v-flex xs12 sm4 md4>
              <v-text-field 
                v-model="tracoAreia" 
                label="Traço Areia"
                type="number"/>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-text>
    </v-card>


    <v-container>
      <v-card ma-3 color="light-blue darken-4">
        <v-card-title>
          <v-subheader class="headline">RESULTADOS</v-subheader>
        </v-card-title>
        <v-layout row wrap>
          <v-flex xs12 sm6 md6 pr-1>
            <v-card color="black">
              <v-card-text>
                <v-subheader class="headline">Materiais</v-subheader>
                <div>Tijolos em uma fieira = {{ tijolosX }} Unid.</div>
                <div>Quantidade de fieiras = {{ tijolosY }} Unid.</div>
                <div>Quantidade de tijolos (sem perdas) = {{ quantidadeTijolos }} Unid.</div>
                <div>Quantidade de tijolos (com perdas) = {{ quantidadeTijolos * (100 + perdas)/100 }} Unid.</div>
                <div>Volume de argamassa (sem perdas) = {{ volumeArgamassa = volumeMuro - volumeTijolo }} m3.</div>
                <div>Volume de argamassa (com perdas) = {{ volumeArgamassa * (100 + perdas)/100 }} m3.</div>
                <div>Quantidade de argamassa (sem perdas) = {{ volumeArgamassa * densidadeArgamassa }} kg.</div>
              </v-card-text>
            </v-card>
          </v-flex>
          <v-flex xs12 sm6 md6 >
            <v-card color="black">
              <v-card-text>
                <v-subheader class="headline">Humanos</v-subheader>
                <div>Tijolos em uma fieira = {{ tijolosX }} Unid.</div>
                <div>Quantidade de fieiras = {{ tijolosY }} Unid.</div>
                <div>Quantidade de tijolos (sem perdas) = {{ quantidadeTijolos }} Unid.</div>
                <div>Quantidade de tijolos (com perdas) = {{ quantidadeTijolos * (100 + perdas)/100 }} Unid.</div>
                <div>Volume de argamassa (sem perdas) = {{ volumeArgamassa = volumeMuro - volumeTijolo }} m3.</div>
                <div>Volume de argamassa (com perdas) = {{ volumeArgamassa * (100 + perdas)/100 }} m3.</div>
                <div>Quantidade de argamassa (sem perdas) = {{ volumeArgamassa * densidadeArgamassa }} kg.</div>
                <div>Área de muro = {{ metroQuadrado }} m2</div>
                <div>Volume do muro = {{ volumeTijolo }} m2</div>
                <div>Peso do muro = {{ volumeTijolo*densidadeTijolo }} m2</div>
                <div>Área de muro = {{ metroQuadrado }} m2</div>
                <div>Quantidade tijolos = {{ metroQuadrado }} Unid.</div>
                <div>Quantidade espessuraArgamassa = {{ metroQuadrado }} Unid.</div>
                <div>Custo material = {{ metroQuadrado }} m2</div>
                <div>Custo mão obra = {{ metroQuadrado }} m2</div>
                <div>Custo total = {{ metroQuadrado }} m2</div>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-card>
    </v-container>

    <v-card class="ma-3" color="red darken-4">
      <v-card-text>
        <v-subheader>Cuidados </v-subheader>

        <div v-for="i in cuidados" :key="i">{{ i }}</div>
      </v-card-text>
    </v-card>

  </div>
</template>
<script>
export default {
  data () {
    return {
      listaCuidados: [],
      comprimentoMuro: 30,
      alturaMuro: 2.2,
      espessuraArgamassa: 3,
      comprimentoTijolo: 19,
      alturaTijolo: 19,
      espessuraTijolo: 9,
      perdas: 10,
      precoPedreiro: 12,
      precoArgamassa: 30,
      precoTijolo: 300,
      densidadeTijolo: 1.8,
      densidadeArgamassa: 2,
      tracoCimento: 1,
      tracoCalHidratada: 3,
      tracoAreia: 12
    }
  },
  computed: {
    tijolosX () {
      return (
        this.comprimentoMuro /
        ((this.comprimentoTijolo + this.espessuraArgamassa) / 100)
      )
    },
    tijolosY () {
      return (
        this.alturaMuro / ((this.alturaTijolo + this.espessuraArgamassa) / 100)
      )
    },
    quantidadeTijolos () {
      return this.tijolosX * this.tijolosY
    },
    quantidadeArgamassa () {
      let volumeArgamassa = this.volumeMuro - this.volumeTijolo
      // return ((this.tijolosX * this.espessuraArgamassa) + (this.tijolosY * this.espessuraArgamassa * this.comprimentoMuro)) * this.espessuraTijolo
      return volumeArgamassa * this.densidadeArgamassa
    },
    metroQuadrado () {
      return this.comprimentoMuro * this.alturaMuro
    },
    cuidados () {
      let lista = []
      if (this.comprimentoMuro > 3) {
        lista.push('Comprimento muro > 3: Atentar para instablidade lateral')
      }
      if (this.alturaMuro > 2) {
        lista.push('Altura muro > 2: Atentar para instablidade lateral')
      }
      return lista
    }
  }
}
</script>
