<template>
  <div>
    <TitleCard :titlecard="titleCard" />
    <v-container>
      <v-stepper vertical v-model="etapa">
        <v-stepper-step editable step="1" :complete="e1>1">Inputs</v-stepper-step>

        <v-stepper-content step="1">
          <v-row>
            <v-col cols="12" sm="6">
              <v-col v-for="prop in inputs" :key="prop.id">
                <v-text-field
                  :label="prop.name"
                  :hint="prop.hint"
                  :suffix="prop.suffix"
                  v-model.number="prop.value"
                  type="number"
                  persistent-hint
                ></v-text-field>
              </v-col>
              <v-col>
                <v-select
                  :items="acos"
                  v-model="aco"
                  label="Tipo de aço"
                  item-text="nome"
                  item-value="value"
                  return-object
                ></v-select>
                <v-select
                  :items="barras"
                  v-model="barra"
                  label="Barra"
                  item-text="fio"
                  item-value="area"
                  :hint="`d = ${barra.fio} cm = (${barra.polegada}) polegada`"
                  persistent-hint
                  return-object
                ></v-select>
              </v-col>
            </v-col>

            <v-col cols="12" sm="6">
              <v-alert
                v-model="alert"
                type="warning"
                v-for="(e,index) in warnings"
                :key="index"
              >{{e}}</v-alert>
            </v-col>
          </v-row>
          <v-btn color="primary" @click="etapa = 2">Continue</v-btn>
        </v-stepper-content>

        <v-stepper-step
          step="2"
          editable
          :complete="e1 > 1"
        >Cálculo armadura transversal e tensões nas bielas (ABNT NBR 6118:2014)</v-stepper-step>

        <v-stepper-content step="2">
          <v-row>
            <v-col>
              <p class="title">Verificação do estado limite último</p>
              <p>Deve satisfazer 2 condições:</p>
              <Mathjax :mdData="`$$ V_{sd} \\leq V_{Rd2}$$`"></Mathjax>
              <Mathjax :mdData="`$$ V_{sd} \\leq V_{Rd3} = V_c + V_{sw}$$`"></Mathjax>
              <v-expansion-panels class="my-3">
                <v-expansion-panel>
                  <v-expansion-panel-header>Sobre variáveis</v-expansion-panel-header>
                  <v-expansion-panel-content>
                    <p class="description">V_sd = força cortante solicitante de cálculo</p>
                    <p
                      class="description"
                    >V_rd2 = força cortatnte resistente de cálculo de acordo com os modelos de cálculo 1 ou 2</p>
                    <p
                      class="description"
                    >V_rd3 = V_c + V_sw = é a força cortante resistente de cálculo por tração diagonal</p>
                    <p
                      class="caption"
                    >V_c = parcela força cortante absorvida por mecanismos complementares</p>
                    <p
                      class="caption"
                    >V_sw = parcela de força cortante resistida pela armadura transversal</p>
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-expansion-panels>
              <p class="title">Modelo de cálculo 1</p>
              <p>a) Verificação das tensões de compressão nas bielas</p>
              <Mathjax
                :mdData="`$$ V_{sd} \\leq V_{Rd2,1} = 0.27 \\cdot \\alpha_{v2} \\cdot f_{cd} \\cdot b_w \\cdot d $$`"
              ></Mathjax>
              <Mathjax
                :mdData="`$ V_{sd} = 1.4 \\cdot ${this.s.fck} = ${this.s.vsd.toFixed(2)} \\ kN $`"
              ></Mathjax>
              <Mathjax
                :mdData="`$ \\alpha_{v2} = (1 - f_{ck} / 250) = (1 - ${this.s.fck} / (1000 \\cdot 250) = ${this.s.alpha}$ em MPa`"
              ></Mathjax>
              <Mathjax
                :mdData="`$ V_{Rd2,1} = 0.27 \\cdot ${this.s.alpha} \\cdot \\frac{${this.s.fck}}{1.4} \\cdot ${this.s.bw} \\cdot ${this.s.d} = ${this.s.vrd2_1.toFixed(2)} \\ kN $`"
              ></Mathjax>
              <div v-if="this.s.vsd > this.s.vrd2_1">
                <v-alert type="error">
                  <Mathjax :mdData="`$ V_{sd} > V_{Rd2,1} $ Esmagamento do concreto nas bielas`"></Mathjax>
                </v-alert>
              </div>
              <div v-else>
                <p>b) Calcular armaduras transversais</p>
                <p>Verificar força cortante (Vc) absorvida por mecanismos complementares</p>
                <Mathjax :mdData="`$$ V_c = 0.6 \\cdot f_{ctd} \\cdot b_w \\cdot d $$`"></Mathjax>
                <Mathjax
                  :mdData="`$ f_{ctd} = f_{ck,inf} / \\gamma_c = 0.15 \\cdot f_{ck}^{2/3} = ${this.s.fctd.toFixed(2)} \\ kN / m^2 $ (fck em MPa, depois transformar para kN m2)`"
                ></Mathjax>
                <Mathjax
                  :mdData="`$ V_c = 0.6 \\cdot ${this.s.fctd.toFixed(2)} \\cdot ${this.s.bw} \\cdot ${this.s.d} = ${this.s.vc.toFixed(2)} \\ kN $`"
                ></Mathjax>
                <p>Parcela resistente pela armadura transversal:</p>
                <Mathjax
                  :mdData="`$V_{sw} = V_{Sd} - V_c = ${this.s.vsd.toFixed(2)} - ${this.s.vc.toFixed(2)} = ${this.s.vsw.toFixed(2)}  \\ kN $`"
                ></Mathjax>
                <p>Espaçamento dos estribos para barras de {{barra.fio}} mm</p>
                <Mathjax
                  :mdData="`$$ V_{sw} = (\\frac{A_{sw}}{s}) \\cdot 0.9 \\cdot d \\cdot f_{ywd} $$`"
                ></Mathjax>
                <Mathjax
                  :mdData="`$ ${this.s.vsw.toFixed(2)} = ( \\frac{2 \\cdot ${this.s.area}}{s}) \\cdot 0.9 \\cdot ${this.s.d} \\cdot ${this.aco.fyd.toFixed(2)} \\implies s = ${this.s.espacamento.toFixed(2)} \\ cm$`"
                ></Mathjax>
              </div>
            </v-col>
          </v-row>
        </v-stepper-content>
        <v-stepper-step
          step="3"
          editable
          :complete="e1 > 2"
        >Cálculo rápido pela analogia de treliça de Mörsch</v-stepper-step>

        <v-stepper-content step="3">
          <v-row>
            <v-col>
              <Mathjax
                :mdData="`$$ s = \\frac{A_{sw} \\cdot d \\cdot f_{yd}}{1.1 \\cdot V_{Sd}}$$`"
              ></Mathjax>
              <v-expansion-panels class="my-3">
                <v-expansion-panel>
                  <v-expansion-panel-header>Sobre variáveis</v-expansion-panel-header>
                  <v-expansion-panel-content>
                    <p
                      class="description"
                    >A_{sw} = $ Área de aço transversal, normalmente multiplicado por 2 porque o estribo tem '2 pernas'</p>
                    <p class="description">d = altura da viga</p>
                    <p
                      class="description"
                    >f_yd = resistencia de escoamento do aço, divide-se por 1.15 por fator de segurança. Multiplicar por 10000 para passar de cm2 para m2</p>
                    <p
                      class="caption"
                    >Vsd = Esforço cortante de cálculo, é o esforço multiplicado pelo fator amplificação, neste caso 1.4</p>
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-expansion-panels>
              <Mathjax
                :mdData="`$ s = \\frac{2 \\cdot ${this.barra.a} \\cdot ${this.inputs.d.value} \\cdot ${this.aco.fyd.toFixed(3)} \\cdot 10000} {1.1 \\cdot 1.4 \\cdot ${this.inputs.vs.value}} = ${this.s.s.toFixed(4)} \\ m = ${this.s.s.toFixed(4)*100} \\ cm$`"
              ></Mathjax>

              <div v-if="s.s > 0.3">
                <p>Escolher bitola menor, estribos muitos espaçados</p>
              </div>
              <div v-else-if="s.s < 0.1">
                <p>Estribos com espaçamento baixo, escolher outra configuração (bitola maior)</p>
              </div>
              <div v-else>
                <p>Pode-se colocar um estribo de bitola {{barra.fio}} a cada {{ Math.floor(s.s * 100)}} cm</p>
              </div>
            </v-col>
          </v-row>

          <v-btn color="green" @click="etapa = 3">Calcular armadura</v-btn>
          <v-dialog v-model="dialog" width="500">
            <template v-slot:activator="{ on }">
              <v-btn color="primary" v-on="on">Considerações sobre analogia de treliça</v-btn>
            </template>

            <v-card>
              <v-card-title class="headline grey lighten-2" primary-title>Analogia treliça de Mörsch</v-card-title>

              <v-card-text>
                <p>A analogia exagera no dimensionamento da armadura pois as tensões reais são menores:</p>
                <ul>
                  <li>A treliça é hiperestática</li>
                  <li>Parte do esforço cortante é absorvido pela zona do concreto comprimido devida à flexão</li>
                  <li>Os banzos não são paralelos</li>
                  <li>Bielas de concreto parcialmente engastadas com o banzo comprimido, aliviando diagonais tracionadas</li>
                  <li>Armadura longitudinal influi no esforço da armadura transversal</li>
                </ul>
              </v-card-text>
            </v-card>
          </v-dialog>
        </v-stepper-content>
      </v-stepper>
    </v-container>
  </div>
</template>


<script>
import TitleCard from "~/components/TitleCard.vue";
import Mathjax from "~/components/AnaliseMatricial/Mathjax.vue";
// var math = require('mathjs')
// var math2 = math.create({
//   matrix: 'Array'
// })
export default {
  components: {
    TitleCard,
    Mathjax
  },
  data() {
    return {
      warnings: [],
      titleCard: {
        title: "Calcular espaçamentos de estribos simples",
        subtitle:
          "Baseado no exemplo 1 do capítulo 6 do livro Cálculo e Detalhamento de Estruturas Usuais de Concreto Armado de Roberto Chust Carvalho",
        source:
          "https://gitlab.com/yurifbeck/engcivil/blob/laje2/pages/engcivil/pilar_estribos.vue"
      },
      etapa: 1,
      alert: false,
      dialog: false,
      e1: 1,
      aco: { nome: "CA50", e: 0.00207, fyd: 50 / 1.15 },
      acos: [
        { nome: "CA50", e: 0.00207, fyd: 50 / 1.15 },
        { nome: "CA60", e: 0.00248, fyd: 60 / 1.15 },
        { nome: "CA25", e: 0.00104, fyd: 25 / 1.15 }
      ],
      barra: {
        fio: 12.5,
        polegada: "1/2",
        d: 0.0125,
        peso: 0.988,
        perimetro: 0.04,
        a: 0.00125
      },
      barras: [
        {
          fio: 3.2,
          polegada: null,
          d: 0.0032,
          peso: 0.063,
          perimetro: 0.01,
          a: 0.00008
        },
        {
          fio: 4,
          polegada: null,
          d: 0.004,
          peso: 0.1,
          perimetro: 0.0125,
          a: 0.000125
        },
        {
          fio: 5.5,
          barra: null,
          d: 0.0055,
          peso: 0.183,
          perimetro: 0.0173,
          a: 0.00024
        },
        {
          fio: 6.3,
          polegada: "1/4",
          d: 0.0063,
          peso: 0.248,
          perimetro: 0.02,
          a: 0.000315
        },
        {
          fio: 8,
          polegada: "5/16",
          d: 0.008,
          peso: 0.393,
          perimetro: 0.025,
          a: 0.0005
        },
        {
          fio: 10,
          polegada: "3/8",
          d: 0.01,
          peso: 0.624,
          perimetro: 0.0315,
          a: 0.0008
        },
        {
          fio: 12.5,
          polegada: "1/2",
          d: 0.0125,
          peso: 0.988,
          perimetro: 0.04,
          a: 0.000125
        },
        {
          fio: 16,
          polegada: "5/8",
          d: 0.016,
          peso: 1.57,
          perimetro: 0.05,
          a: 0.0002
        },
        {
          fio: 20,
          polegada: "3/4",
          d: 0.02,
          peso: 2.48,
          perimetro: 0.063,
          a: 0.00315
        },
        {
          fio: 22.5,
          polegada: "7/8",
          d: 0.0225,
          peso: 3.12,
          perimetro: 0.071,
          a: 0.004
        },
        {
          fio: 25,
          polegada: "1",
          d: 0.025,
          peso: 3.93,
          perimetro: 0.08,
          a: 0.005
        },
        {
          fio: 32,
          polegada: "1.25",
          d: 0.032,
          peso: 6.24,
          perimetro: 0.01,
          a: 0.008
        }
      ],
      inputs: {
        bw: {
          name: "bw",
          value: 0.7,
          suffix: "m",
          hint: "Largura"
        },
        d: {
          name: "d",
          value: 2,
          suffix: "m",
          hint: "Altura"
        },
        fck: {
          name: "f_ck",
          value: 26000,
          suffix: "kN/m2",
          hint: "F_ck"
        },
        vs: {
          name: "Esforço cortante",
          value: 1300,
          suffix: "kN",
          hint: "Vsd = Vs * 1.4 "
        }
      }
    };
  },
  computed: {
    s() {
      let asw = 2 * this.barra.a;
      let d = this.inputs.d.value;
      let fyd = this.aco.fyd;
      let vsd = this.inputs.vs.value * 1.4;
      let s = (asw * d * fyd * 1000) / (1.1 * vsd);
      let fck = this.inputs.fck.value;
      let alpha = 1 - fck / (250 * 1000); //em MPa
      let bw = this.inputs.bw.value;
      let vrd2_1 = 0.27 * alpha * (fck / 1.4) * bw * d;
      let fctd = ((0.21 * Math.pow(fck, 2 / 3)) / 1.4) * 10;
      let vc = 0.6 * fctd * bw * d;
      let vsw = vsd - vc;
      let area = this.barra.a * 1000;
      let espacamento = (2 * area * 0.9 * d * fyd) / vsw;
      return {
        asw,
        d,
        fyd,
        vsd,
        s,
        fck,
        alpha,
        bw,
        vrd2_1,
        fctd,
        vc,
        vsw,
        espacamento,
        area
      };
    }
  }
};
</script>

<style scoped lang="css">
.description {
  font-size: 0.8em;
}
</style>
