<template>
  <v-container fluid grid-list-md>
      <v-layout row wrap>

        <!-- card das propriedades materiais -->
          <v-flex xs6 sm4 lg4>
              <v-card class="mb-3 light-green darken-4">
                <v-card-title> Propriedades materiais </v-card-title>

                <!-- loop para mostrar todas propriedades -->
                <v-card-text class="py-1"
                  v-for="property in properties"
                  :key="property.name"
                >
                  <v-text-field
                    color="black"
                    v-model="property.value" 
                    :label="property.name"
                    :suffix="property.suffix"
                    :hint="property.hint"
                    type="number"
                    persistent-hint
                  />
                </v-card-text>

              </v-card>
          </v-flex>

          <!-- card das propriedades geometricas -->
          <v-flex xs6 sm4 lg4>
              <v-card class="mb-3 light-blue darken-4">
                <v-card-title> Propriedades materiais </v-card-title>

                <!-- loop para mostrar todas propriedades -->
                <v-card-text class="py-1"
                  v-for="property in geoProps"
                  :key="property.name"
                >
                  <v-text-field
                    color="black"
                    v-model="property.value" 
                    :label="property.name"
                    :suffix="property.suffix"
                    :hint="property.hint"
                    type="number"
                    persistent-hint
                  />
                </v-card-text>

              </v-card>
          </v-flex>

          <!-- propriedades calculadas -->
          <v-flex xs6 sm4 lg4>
              <v-card class="mb-3 blue darken-4">
                <v-card-title> Propriedades calculadas </v-card-title>

                <!-- loop para mostrar todas propriedades calculadas -->
                <v-card-text class="py-1"
                v-for="prop in calcPropsComp"
                :key="prop.id"
                >

                  <v-text-field
                    color="black"
                    v-model="prop.value" 
                    :label="prop.name"
                    :suffix="prop.suffix"
                    :hint="prop.hint"
                    type="number"
                    persistent-hint
                    disabled
                  />

                </v-card-text>

              </v-card>
          </v-flex>

          <!-- <plotly-pilar
            ref="chart"
            :h="this.geoProps.h.value"
            :b="this.geoProps.b.value"
            :l="this.geoProps.l.value"
            /> -->

    </v-layout>
  </v-container>
</template>

<script>
// import plotlyPilar from '~/components/plotlyPilar.vue'
// var matl = require('mathjs')
// var math2 = math.create({
//   matrix: 'Array'
// })

export default {
  components: {
    //plotlyPilar
    // Latex
  },
  data () {
    return {
      properties:
      {
        fck: { name: 'fck', value: 30, suffix: 'MPa', hint: 'Resistencia compressao - concreto' },
        fcd: { name: 'fcd', value: 17.86, suffix: 'MPa', hint: 'Resistencia tracao, usual fck/1.4' },
        fyk: { name: 'fyk', value: 434.8, suffix: 'MPa', hint: 'Resistencia tracao - aco' },
        Eyd: { name: 'Eyd', value: 0.207, suffix: '%', hint: ' - aco' },
        Eya: { name: 'Eya', value: 0.207, suffix: '%', hint: ' - aco' }
      },
      geoProps:
      {
        b: { name: 'b', value: 50, suffix: 'cm', hint: 'dimensao x do pilar' },
        h: { name: 'h', value: 30, suffix: 'cm', hint: 'dimensao y do pilar' },
        l: { name: 'l', value: 260, suffix: 'cm', hint: 'altura do pilar' }
      },
      calcProps:
      {
        e1: { name: 'e1', suffix: 'Mpa', hint: 'bla bla bla' },
        esbeltez: { name: 'esbeltez', suffix: '', hint: 'adasd' }
      }
    }
  },
  computed: {
    calcPropsComp () {
      var a = this.calcProps
      var res = this.properties.fck.value / this.properties.fyk.value
      a.e1.value = res
      a.esbeltez.value = this.esbeltez(this.geoProps.b.value, this.geoProps.h.value, this.geoProps.l.value)
      return {
        ...a
      }
    }
  },
  methods: {
    esbeltez (b, h, l) {
      if (b > h) {
        return l / h
      } else {
        return l / b
      }
    }
  }
}
</script>
