<template>
  <div>
    <TitleCard :titlecard="{title: 'Traço de Concreto'}" />

    <v-card class="ma-3" transition="fade-transition">
      <v-card-text>
        <v-subheader>Propriedades geométricas da forma</v-subheader>
        <v-container fluid grid-list-md>
          <v-layout row wrap>
            <v-flex xs12 sm4 md4>
              <v-text-field v-model="comprimento" label="Comprimento" type="number" suffix="m" />
            </v-flex>

            <v-flex xs12 sm4 md4>
              <v-text-field v-model="altura" label="Altura" type="number" suffix="m" />
            </v-flex>

            <v-flex xs12 sm4 md4>
              <v-text-field v-model="largura" label="Largura" type="number" suffix="m" />
            </v-flex>

            <v-flex xs12 sm4 md4>
              <div>Volume total de concreto = {{ volumeConcreto }} m3</div>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-text>
    </v-card>
    <v-card class="ma-3">
      <v-subheader>Traço em massa</v-subheader>

      <v-card-text>
        <a
          href="http://www.feb.unesp.br/pbastos/site_paulo/Artigo%20Tracos%20Concreto-Paulo%20Bastos.pdf"
        >
          Tabela de onde traços
          <a></a>
        </a>
        <v-dialog v-model="dialog" max-width="500px">
          <template v-slot:activator="{ on }">
            <v-btn outlined v-on="on">Editar propriedades materiais</v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">Propriedades materiais</span>
            </v-card-title>
            <v-card-text>
              <v-container fluid>
                <v-layout row wrap>
                  <v-flex xs12 sm6 md4>
                    <span class="subheading info--text">Cimento</span>
                    <v-text-field
                      label="Nome"
                      v-model="propriedadesMateriais.cimento.nome"
                      type="text"
                    ></v-text-field>
                    <v-text-field
                      label="Densidade"
                      v-model.number="propriedadesMateriais.cimento.densidade"
                      type="number"
                      suffix="t/m3"
                    ></v-text-field>
                  </v-flex>

                  <v-flex xs12 sm6 md4 px-2>
                    <span class="subheading info--text">Areia</span>
                    <v-text-field
                      label="Densidade areia"
                      v-model.number="propriedadesMateriais.areia.densidade"
                      type="number"
                      suffix="t/m3"
                    ></v-text-field>
                    <v-text-field
                      label="Umidade areia"
                      v-model.number="propriedadesMateriais.areia.umidade"
                      type="number"
                      suffix="%"
                    ></v-text-field>
                  </v-flex>

                  <v-flex xs12 sm6 md4 px-2>
                    <span class="subheading info--text">Brita</span>
                    <v-text-field
                      label="Densidade"
                      v-model.number="propriedadesMateriais.cimento.densidade"
                      type="number"
                      suffix="t/m3"
                    ></v-text-field>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>
          </v-card>
        </v-dialog>

        <v-container fluid grid-list-md>
          <v-layout row wrap>
            <v-flex xs12>
              <v-select
                :items="tracos"
                return-object
                v-model="select"
                item-text="nome"
                label="Selecione um traço pronto"
              ></v-select>
            </v-flex>

            <v-flex xs4>
              <v-subheader class="text-xs-right">Areia</v-subheader>
            </v-flex>
            <v-flex xs4 pr-2>
              <v-text-field
                label="Em volume"
                v-model.number="select.areia"
                type="number"
                suffix="l"
              ></v-text-field>
            </v-flex>
            <v-flex xs4 pl-2>
              <v-text-field label="Em Massa" v-model.number="areiaM" type="number" suffix="kg"></v-text-field>
            </v-flex>

            <v-flex xs4>
              <v-subheader>Brita</v-subheader>
            </v-flex>
            <v-flex xs4 pr-2>
              <v-text-field
                label="Em Volume"
                v-model.number="select.brita"
                type="number"
                suffix="l"
              ></v-text-field>
            </v-flex>
            <v-flex xs4 pl-2>
              <v-text-field
                label="Em Massa"
                v-model.number="select.britaM"
                type="number"
                suffix="kg"
              ></v-text-field>
            </v-flex>

            <v-flex xs4>
              <v-subheader class="text-xs-right">Cimento</v-subheader>
            </v-flex>
            <v-flex xs4 pr-2>
              <v-text-field v-model.number="select.aguaCimento" label="Água/Cimento" type="number" />
            </v-flex>
            <v-flex xs4 pl-2>
              <v-text-field
                v-model.number="select.consumo"
                label="Consumo cimento"
                suffix="kg/m3"
                type="number"
              />
            </v-flex>
          </v-layout>
          Traço em volume = 1 : {{this.select.areia | formatNumber}} : {{this.select.brita | formatNumber}} : {{this.select.aguaCimento}}
          <br />
          Traço em massa = 1 : {{this.select.areiaM | formatNumber}} : {{this.select.britaM | formatNumber}} : {{this.select.aguaCimento}}
        </v-container>
      </v-card-text>
    </v-card>

    <v-card class="ma-3">
      <v-card-text>
        <v-subheader>Tabela de consumo</v-subheader>
        <v-container fluid grid-list-md>
          <v-layout row wrap>
            <v-flex xs12 sm4 md4>
              <v-text-field v-model="sacoCimento" label="Saco cimento" suffix="kg" type="number" />
            </v-flex>
            <v-flex xs12 sm4 md4>
              <v-text-field
                v-model="volumePadiola"
                label="Volume Padiola"
                suffix="l"
                type="number"
              />
            </v-flex>
            <v-flex xs12 sm12 md12>
              Volume total de concreto: {{ volumeConcreto }} m3
              <v-data-table
                :headers="cabecalhoConsumo"
                :items="quantidades"
                hide-default-footer
                class="elevation-1"
              >
                <template v-slot:items="props">
                  <td>{{ props.item.tipo }}</td>
                  <td>{{ props.item.cimento | formatNumber }}</td>
                  <td>{{ props.item.areia | formatNumber }}</td>
                  <td>{{ props.item.brita | formatNumber }}</td>
                  <td>{{ props.item.agua | formatNumber }}</td>
                </template>
              </v-data-table>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-text>
    </v-card>

    <v-card class="ma-3">
      <v-card-text>
        <v-subheader>Tabela orçamento</v-subheader>
        <v-container fluid grid-list-md>
          <v-layout row wrap>
            <v-flex xs12 sm4 md4>
              <v-text-field
                v-model="propriedadesMateriais.areia.precoM"
                label="Preço areia"
                prefix="R$"
                suffix="/m3"
                type="number"
              />
            </v-flex>
            <v-flex xs12 sm4 md4>
              <v-text-field
                v-model="propriedadesMateriais.brita.precoM"
                label="Preço brita"
                prefix="R$"
                suffix="/m3"
                type="number"
              />
            </v-flex>
            <v-flex xs12 sm4 md4>
              <v-text-field
                v-model="propriedadesMateriais.cimento.precoSaco"
                label="Preço saco cimento (50kg)"
                prefix="R$"
                type="number"
              />
            </v-flex>

            <v-flex xs12 sm12 md12>
              <v-data-table
                :headers="cabecalhoOrcamento"
                :items="orcamento"
                hide-default-footer
                class="elevation-1"
              >
                <template v-slot:items="props">
                  <td>{{ props.item.material }}</td>
                  <td>{{ props.item.volume | formatNumber}}</td>
                  <td>{{ props.item.kg | formatNumber }}</td>
                  <td>{{ props.item.precoUnitario | toCurrency }}</td>
                  <td class="font-weight-bold">{{ props.item.precoTotal | toCurrency }}</td>
                </template>
              </v-data-table>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-text>
    </v-card>

    <v-card class="ma-3" color="red darken-4">
      <v-card-text>
        <v-subheader>Cuidados</v-subheader>

        <div v-for="i in cuidados" :key="i">{{ i }}</div>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
import TitleCard from "~/components/TitleCard.vue";

export default {
  components: {
    TitleCard
  },
  watch: {
    areiaM(val) {
      this.select.areia = val / this.propriedadesMateriais.areia.densidade;
    },
    areia(val) {
      this.select.areiaM = val * this.propriedadesMateriais.areia.densidade;
    },
    areiaD(val) {
      this.select.areia = this.select.areiaM / val;
    },
    britaM(val) {
      this.select.brita = val / this.propriedadesMateriais.brita.densidade;
    },
    brita(val) {
      this.select.britaM = val * this.propriedadesMateriais.brita.densidade;
    },
    britaD(val) {
      this.select.brita = this.select.britaM / val;
    }
  },
  data() {
    return {
      dialog: false,
      listaCuidados: [],
      comprimento: 1,
      altura: 1,
      largura: 1,
      volumePadiola: 18,
      sacoCimento: 50,
      select: {
        nome: "15 MPa",
        cimento: 1,
        areia: 3.85,
        areiaM: 2.65,
        brita: 3.66,
        britaM: 2.3,
        aguaCimento: 0.85,
        consumo: 239
      },
      tracos: [
        {
          nome: "15 MPa",
          cimento: 1,
          areia: 3.85,
          areiaM: 2.65,
          britaM: 2.3,
          brita: 3.66,
          aguaCimento: 0.85,
          consumo: 239
        },
        {
          nome: "20 MPa",
          cimento: 1,
          areia: 3.39,
          areiaM: 2.34,
          britaM: 2.08,
          brita: 3.31,
          aguaCimento: 0.73,
          consumo: 269
        },
        {
          nome: "25 MPa",
          cimento: 1,
          areia: 3.1,
          areiaM: 2.14,
          britaM: 1.95,
          brita: 3.1,
          aguaCimento: 0.65,
          consumo: 292
        },
        {
          nome: "30 MPa",
          cimento: 1,
          areia: 2.85,
          areiaM: 1.96,
          britaM: 1.83,
          brita: 2.9,
          aguaCimento: 0.58,
          consumo: 317
        },
        {
          nome: "35 MPa",
          cimento: 1,
          areia: 2.59,
          brita: 2.71,
          areiaM: 1.79,
          britaM: 1.7,
          aguaCimento: 0.54,
          consumo: 344
        },
        {
          nome: "40 MPa",
          cimento: 1,
          areiaM: 1.67,
          britaM: 1.62,
          areia: 2.42,
          brita: 2.58,
          aguaCimento: 0.51,
          consumo: 365
        },
        {
          nome: "45 MPa",
          cimento: 1,
          areia: 2.25,
          brita: 2.45,
          areiaM: 1.55,
          britaM: 1.54,
          aguaCimento: 0.48,
          consumo: 387
        },
        {
          nome: "50 MPa",
          cimento: 1,
          areia: 2.08,
          areiaM: 1.43,
          britaM: 1.46,
          brita: 2.32,
          aguaCimento: 0.45,
          consumo: 412
        }
      ],
      propriedadesMateriais: {
        cimento: {
          nome: "Cimento CP II E-32",
          massaEspecifica: 3100,
          precoSaco: 20,
          densidade: 3.15
        },
        areia: {
          nome: "Areia media",
          massaEspecifica: 2650,
          umidade: 6,
          inchaco: 0.3,
          MF: 2.6,
          densidade: 1.45,
          precoM: 50
        },
        brita: { nome: "Brita", densidade: 1.59, precoM: 80 }
      },
      cabecalhoConsumo: [
        {
          text: "Tipo",
          value: "tipo"
        },
        { text: "Cimento", value: "cimento" },
        { text: "Areia", value: "areia" },
        { text: "Brita", value: "brita" },
        { text: "Agua", value: "agua" }
      ],
      cabecalhoOrcamento: [
        {
          text: "Material",
          value: "material"
        },
        { text: "Volume total (l)", value: "volume" },
        { text: "Massa total (kg)", value: "kg" },
        { text: "Preco Unitario (R$/m3)", value: "precoUnitario" },
        { text: "PrecoTotal (R$)", value: "precoTotal" }
      ]
    };
  },
  filters: {
    toCurrency(value) {
      if (typeof value !== "number") {
        return value;
      }
      var formatter = new Intl.NumberFormat("pt-BR", {
        style: "currency",
        currency: "BRL",
        minimumFractionDigits: 2
      });
      return formatter.format(value);
    },
    formatNumber(value) {
      if (typeof value !== "number") {
        return value;
      }
      var formatter = new Intl.NumberFormat("pt-BR", {
        minimumFractionDigits: 2
      });
      return formatter.format(value);
    }
  },
  computed: {
    areia() {
      return this.select.areia;
    },
    areiaM() {
      return this.select.areiaM;
    },
    areiaD() {
      return this.propriedadesMateriais.areia.densidade;
    },
    brita() {
      return this.select.brita;
    },
    britaM() {
      return this.select.britaM;
    },
    britaD() {
      return this.propriedadesMateriais.brita.densidade;
    },
    quantidades() {
      // http://wwwp.feb.unesp.br/pbastos/site_paulo/Artigo%20Tracos%20Concreto-Paulo%20Bastos.pdf
      let consumoCimento = this.select.consumo * this.volumeConcreto;
      return [
        {
          tipo: "Volume (l)",
          cimento:
            (this.select.cimento * consumoCimento) /
            this.propriedadesMateriais.cimento.densidade,
          areia:
            (this.select.areia * consumoCimento) /
            this.propriedadesMateriais.areia.densidade,
          brita:
            (this.select.brita * consumoCimento) /
            this.propriedadesMateriais.brita.densidade,
          agua: this.select.aguaCimento * consumoCimento
        },
        {
          tipo: "Massa (kg)",
          cimento: this.select.cimento * consumoCimento,
          areia: this.select.areia * consumoCimento,
          brita: this.select.brita * consumoCimento,
          agua: this.select.aguaCimento * consumoCimento
        },
        {
          tipo: `Padiolas (${this.volumePadiola} l) / saco ${this.sacoCimento} kg `,
          cimento: "-",
          areia:
            ((this.select.areia / this.propriedadesMateriais.areia.densidade) *
              consumoCimento) /
            this.volumePadiola,
          brita:
            (this.select.brita * consumoCimento) /
            this.volumePadiola /
            this.propriedadesMateriais.brita.densidade,
          agua: (this.select.aguaCimento * consumoCimento) / this.volumePadiola
        }
      ];
    },
    volumeConcreto() {
      return this.comprimento * this.largura * this.altura;
    },
    orcamento() {
      let consumoCimento = this.select.consumo * this.volumeConcreto;
      let sacos = Math.ceil(
        (this.select.cimento * consumoCimento) / this.sacoCimento
      );
      let total =
        this.propriedadesMateriais.cimento.precoSaco * sacos +
        (this.propriedadesMateriais.areia.precoM *
          (this.select.areia * consumoCimento)) /
          this.propriedadesMateriais.areia.densidade /
          1000 +
        (this.propriedadesMateriais.brita.precoM *
          (this.select.brita * consumoCimento)) /
          this.propriedadesMateriais.brita.densidade /
          1000;
      return [
        {
          material: this.propriedadesMateriais.cimento.nome,
          kg: this.select.cimento * consumoCimento + " ou " + sacos + " sacos",
          volume:
            (this.select.cimento * consumoCimento) /
            this.propriedadesMateriais.cimento.densidade,
          precoUnitario: this.propriedadesMateriais.cimento.precoSaco,
          precoTotal: this.propriedadesMateriais.cimento.precoSaco * sacos
        },
        {
          material: this.propriedadesMateriais.areia.nome,
          kg: this.select.areia * consumoCimento,
          volume:
            (this.select.areia * consumoCimento) /
            this.propriedadesMateriais.areia.densidade,
          precoUnitario: this.propriedadesMateriais.areia.precoM,
          precoTotal:
            (this.propriedadesMateriais.areia.precoM *
              (this.select.areia * consumoCimento)) /
            this.propriedadesMateriais.areia.densidade /
            1000
        },
        {
          material: this.propriedadesMateriais.brita.nome,
          kg: this.select.brita * consumoCimento,
          volume:
            (this.select.brita * consumoCimento) /
            this.propriedadesMateriais.brita.densidade,
          precoUnitario: this.propriedadesMateriais.brita.precoM,
          precoTotal:
            (this.propriedadesMateriais.brita.precoM *
              (this.select.brita * consumoCimento)) /
            this.propriedadesMateriais.brita.densidade /
            1000
        },
        {
          material: "Total",
          kg:
            (this.select.brita + this.select.areia + this.select.cimento) *
            consumoCimento,
          volume:
            (this.select.brita * consumoCimento) /
              this.propriedadesMateriais.brita.densidade +
            (this.select.areia * consumoCimento) /
              this.propriedadesMateriais.areia.densidade +
            (this.select.cimento * consumoCimento) /
              this.propriedadesMateriais.cimento.densidade,
          precoUnitario: total / this.volumeConcreto,
          precoTotal: total
        }
      ];
    },
    somaPesos() {
      return (
        this.select.cimento +
        this.select.areia +
        this.select.brita +
        this.select.cimento * this.select.aguaCimento
      );
    },
    cuidados() {
      let lista = [];
      lista.push(
        "Esta ferramenta ainda não leva em consideração umidade de areia e brita, nem inchamento"
      );
      if (this.comprimento > 3) {
        lista.push("Comprimento muro > 3: Atentar para instablidade lateral");
      }
      if (this.altura > 2) {
        lista.push("Altura muro > 2: Atentar para instablidade lateral");
      }
      return lista;
    }
  }
};
</script>
