<template>
  <v-container px-0 fluid grid-list-md>
    <v-layout row wrap>

      <!-- Coluna da esquerda -->
      <v-flex sm12 lg12>

        <v-layout row wrap>
          <v-flex xs8 sm9>
            <v-select
              :items="items"
              item-text="name"
              v-model="select"
              label="Demos"
            ></v-select>
          </v-flex>
          <v-flex xs4 sm3>
            <v-btn block color="error" @click="limpar">Limpar</v-btn>
          </v-flex>
        </v-layout>

        <v-layout row wrap>
          <v-flex xs12 sm12>
          <TrelicaNos
            :nodesArr="select.nodesArr"/>
          </v-flex>
        </v-layout>

        <v-layout row wrap>
          <v-flex xs12 sm12>
          <TrelicaElementos
            :nodesArr="select.nodesArr"
            :elementsArr="select.elementsArr"/>
          </v-flex>
        </v-layout>

        <v-layout row wrap>
          <v-flex xs12 sm12>
            <TrelicaPlotly
              ref="chart"
              :nodes="select.nodesArr"
              :elements="select.elementsArr"
            />
          </v-flex>
        </v-layout> 

        <v-btn 
          block 
          @click="resolver(select.nodesArr, select.elementsArr)"
          >Calcular </v-btn>       

      </v-flex>

      <v-flex sm12 lg12>

        <trelica-resultado v-if="mostrar"
          :estrutura="estrutura"
        />  

      </v-flex>

    </v-layout>
  </v-container>
</template>

<script>
import TrelicaNos from '~/components/AnaliseMatricial/TrelicaNos.vue'
import TrelicaElementos from '~/components/AnaliseMatricial/TrelicaElementos.vue'
import TrelicaResultado from '~/components/AnaliseMatricial/TrelicaResultado.vue'

import TrelicaPlotly from '~/components/AnaliseMatricial/TrelicaPlotly.vue'
import { items } from '~/assets/TrelicaExemplos.js'

var math = require('mathjs')
var math2 = math.create({
  matrix: 'Array'
})

export default {
  components: {
    TrelicaElementos,
    TrelicaResultado,
    TrelicaNos,
    TrelicaPlotly
  },
  data () {
    return {
      items: items,
      select: items[4],
      mostrar: false,
      estrutura: {
        nosArr: {},
        eleArr: {}
      }
    }
  },
  methods: {
    limpar () {
      this.select = items[0]
    },
    resolver (nodesArr, elementsArr) {
      this.mostrar = false
      // TODO: COMO FAZER MATHJAX UPDATAR SOZINHO?
      this.estrutura.nosArr = JSON.parse(JSON.stringify(nodesArr))
      this.estrutura.eleArr = JSON.parse(JSON.stringify(elementsArr))
      this.estrutura.nNodes = Object.keys(this.estrutura.nosArr).length
      this.estrutura.nElements = Object.keys(this.estrutura.eleArr).length
      this.calcularElementos(this.estrutura.eleArr, this.estrutura.nNodes)
      this.estrutura.forces = this.getTrussGlobalForces(this.estrutura.nosArr)
      this.estrutura.restrictions = this.getTrussGlobalRestrictions(this.estrutura.nosArr)
      this.estrutura.k = this.getGlobalStiffnessFromElementsArr(
        this.estrutura.eleArr,
        this.estrutura.nNodes
      )
      this.estrutura.metodoRearranjar = this.getTrussKDireto(
        this.estrutura.k, this.estrutura.restrictions, this.estrutura.forces
      )
      this.estrutura.nosArr = this.adicionarResultadoNos(this.estrutura.nosArr, this.estrutura.metodoRearranjar)
      this.estrutura.eleArr = this.atualizarNosDoEleArr(this.estrutura.eleArr, this.estrutura.nosArr)
      this.estrutura.eleArr = this.getTrussAxialForces(this.estrutura.eleArr)
      this.mostrar = true
    },
    calcularElementos (elementsArr, nNodes) {
      elementsArr.forEach(element => {
        element.l = this.getLength(element)
        element.angle = this.getAngle(element)
        element.kLocal = this.getStiffnessTrelica(
          element.elasticidade, element.l, element.area
        )
        element.kGlobal = this.getStiffnessTrelicaRot(
          element.elasticidade, element.l, element.area, element.angle
        )
        element.matrizT = this.getTrussMatrizT(
          element.nodeA, element.nodeB, nNodes
        )
        element.kGlobalGeral = this.getKGlobal(element.kGlobal, element.matrizT)
      })
    },
    getLength (element) {
      let deltaX =
        Number.parseFloat(element.nodeB.x) -
        Number.parseFloat(element.nodeA.x)
      let deltaY =
        element.nodeB.y -
        element.nodeA.y
      return Math.sqrt(Math.pow(deltaX, 2) + Math.pow(deltaY, 2)).toFixed(4)
    },
    getAngle (element) {
      let deltaX =
        Number.parseFloat(element.nodeB.x) -
        Number.parseFloat(element.nodeA.x)
      let deltaY =
        Number.parseFloat(element.nodeB.y) -
        Number.parseFloat(element.nodeA.y)
      return (Math.atan2(deltaY, deltaX) * 180 / Math.PI).toFixed(4)
    },
    getStiffnessTrelica (E, L, A) {
      // console.log('k_local', 'elemnet', element, I, E, L)
      let k = [
        [
          E * A / L,
          0,
          -E * A / L,
          0
        ],
        [
          0, 0, 0, 0
        ],
        [
          -E * A / L,
          0,
          E * A / L,
          0
        ],
        [
          0, 0, 0, 0
        ]
      ]
      return k
    },
    getStiffnessTrelicaRot (E, L, A, angle) {
      // console.log('k_local', 'elemnet', element, I, E, L)
      let k = [
        [
          ((E * A / L) * Math.cos((angle / 180) * Math.PI) * Math.cos((angle / 180) * Math.PI)).toFixed(5),
          ((E * A / L) * Math.cos((angle / 180) * Math.PI) * Math.sin((angle / 180) * Math.PI)).toFixed(5),
          (-(E * A / L) * Math.cos((angle / 180) * Math.PI) * Math.cos((angle / 180) * Math.PI)).toFixed(5),
          (-(E * A / L) * Math.cos((angle / 180) * Math.PI) * Math.sin((angle / 180) * Math.PI).toFixed(5))
        ],
        [
          ((E * A / L) * Math.cos((angle / 180) * Math.PI) * Math.sin((angle / 180) * Math.PI)).toFixed(5),
          ((E * A / L) * Math.sin((angle / 180) * Math.PI) * Math.sin((angle / 180) * Math.PI)).toFixed(5),
          (-(E * A / L) * Math.cos((angle / 180) * Math.PI) * Math.sin((angle / 180) * Math.PI)).toFixed(5),
          (-(E * A / L) * Math.sin((angle / 180) * Math.PI) * Math.sin((angle / 180) * Math.PI).toFixed(5))
        ],
        [
          (-(E * A / L) * Math.cos((angle / 180) * Math.PI) * Math.cos((angle / 180) * Math.PI)).toFixed(5),
          (-(E * A / L) * Math.cos((angle / 180) * Math.PI) * Math.sin((angle / 180) * Math.PI)).toFixed(5),
          ((E * A / L) * Math.cos((angle / 180) * Math.PI) * Math.cos((angle / 180) * Math.PI)).toFixed(5),
          ((E * A / L) * Math.cos((angle / 180) * Math.PI) * Math.sin((angle / 180) * Math.PI).toFixed(5))
        ],
        [
          (-(E * A / L) * Math.cos((angle / 180) * Math.PI) * Math.sin((angle / 180) * Math.PI)).toFixed(5),
          (-(E * A / L) * Math.sin((angle / 180) * Math.PI) * Math.sin((angle / 180) * Math.PI)).toFixed(5),
          ((E * A / L) * Math.cos((angle / 180) * Math.PI) * Math.sin((angle / 180) * Math.PI)).toFixed(5),
          ((E * A / L) * Math.sin((angle / 180) * Math.PI) * Math.sin((angle / 180) * Math.PI).toFixed(5))
        ]
      ]
      return k
    },
    getTrussGlobalForces (nodesArr) {
      var f = []
      nodesArr.forEach(node => {
        f.push(node.fx)
        f.push(node.fy)
      })
      return f
    },
    getTrussGlobalRestrictions (nodesArr) {
      var r = []
      nodesArr.forEach(node => {
        r.push(node.rx)
        r.push(node.ry)
      })
      return r
    },
    getKGlobal (k, t) {
      // let globK = math.zeros(t.length, k.length)
      let tTransposed = math2.transpose(t)
      let globK = math2.multiply(t, k, tTransposed)
      return globK
    },
    getTrussMatrizT (nodeA, nodeB, structNumNodes) {
      // nNodes * 2 because truss = 2 dof per node
      let i = nodeA.id * 2
      let j = nodeB.id * 2
      // 4 because truss
      let t = math2.zeros(structNumNodes * 2, 4)
      if (i < j) {
        t[i][0] = 1
        t[i + 1][1] = 1
        t[j][2] = 1
        t[j + 1][3] = 1
      } else {
        t[j][0] = 1
        t[j + 1][1] = 1
        t[i][2] = 1
        t[i + 1][3] = 1
      }
      return t
    },
    getGlobalStiffnessFromElementsArr (elements, numNodes) {
      let k = math2.zeros(numNodes * 2, numNodes * 2)
      elements.forEach(element => {
        k = math2.add(k, element.kGlobalGeral)
      })
      return k
    },
    getTrussKDireto (k, r, forces) {
      // cria array que contem rows q vao permanecer
      // s = support
      // f = forces
      let s = []
      let f = []
      let ff = []
      // let fs = []
      let ds = []
      for (let i = 0; i < r.length; i++) {
        if (r[i]) {
          s.push(i)
          // fs.push(forces[i])
          ds.push(0)
        } else {
          f.push(i)
          ff.push(forces[i])
        }
      }
      let kff = math2.subset(k, math.index(f, f))
      let kfs = math2.subset(k, math.index(f, s))
      let ksf = math2.subset(k, math.index(s, f))
      let kss = math2.subset(k, math.index(s, s))
      let kRearranged = math2.zeros(kff.length, kfs.length)
      let top = math2.concat(kff, kfs)
      let bottom = math2.concat(ksf, kss)
      kRearranged = math2.concat(top, bottom, 0)
      let df_ = math2.lusolve(kff, ff)
      let df = []
      df_.forEach(v => df.push(v[0]))
      let d_ = df.concat(ds)
      let d = []
      for (let i = 0; i < d_.length; i++) {
        d[f[i]] = df[i]
        d[s[i]] = 0
      }
      let fs = math2.multiply(ksf, df)
      let reaction = math2.zeros(k.length)
      for (let i = 0; i < s.length; i++) {
        reaction[s[i]] = fs[i]
      }
      return { s, f, kRearranged, reaction, kff, kfs, ksf, kss, ff, fs, df, d, d_ }
    },
    adicionarResultadoNos (nosArr, metodoRearranjar) {
      let i = 0
      nosArr.forEach(node => {
        node.dx = metodoRearranjar.d[i]
        node.dy = metodoRearranjar.d[i + 1]
        if (node.rx) node.frx = metodoRearranjar.reaction[i]
        if (node.ry) node.fry = metodoRearranjar.reaction[i + 1]
        // se for undefined fazer virar 0
        node.frx = node.frx || 0
        node.fry = node.fry || 0
        i += 2
      })
      return nosArr
    },
    atualizarNosDoEleArr (elementsArr, nosArr) {
      elementsArr.forEach(element => {
        let idA = element.nodeA.id
        let idB = element.nodeB.id
        element.nodeA = nosArr.find(node => node.id === idA)
        element.nodeB = nosArr.find(node => node.id === idB)
      })
      return elementsArr
    },
    getTrussAxialForces (elementsArr) {
      elementsArr.forEach(element => {
        element.reacoes = [element.nodeA.frx, element.nodeA.fry, element.nodeB.frx, element.nodeB.fry]
        element.lx = (Number.parseFloat(element.nodeB.x) - Number.parseFloat(element.nodeA.x)) / element.l
        element.ly = (Number.parseFloat(element.nodeB.y) - Number.parseFloat(element.nodeA.y)) / element.l
        element.lxly = [-element.lx, -element.ly, element.lx, element.ly]
        element.fAxial = math2.dot(element.lxly, element.reacoes)
      })
      return elementsArr
    }
  }
}
</script>

