<template>
  <div class="px-0">
    <TitleCard :titlecard="{title: 'Analise Estrutural de Trelicas'}" />

    <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->

    <v-stepper non-linear v-model="etapa" vertical color="blue-grey lighten-1">
      <h2>Etapas de input</h2>

      <v-stepper-step editable :complete="etapa > 1" step="1">
        Escolha um demo ou novo projeto
        <small>As demos mostram como este aplicativo funciona. Caso seja sua primeira vez, escolha demo para se familiarizar com a interface</small>
      </v-stepper-step>

      <v-stepper-content step="1">
        <v-select
          :items="items"
          v-model="select"
          item-text="name"
          placeholder="Escolha um demo"
          hide-details
          return-object
          single-line
          solo
          @change="escolherDemo()"
        ></v-select>

        <v-btn color="primary" block @click="etapa++">Novo projeto</v-btn>
      </v-stepper-content>

      <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->

      <v-stepper-step editable :complete="etapa > 2" step="2">
        Parametros da trelica
        <small>A trelica eh basicamente composta de nos e barras</small>
      </v-stepper-step>

      <v-stepper-content step="2">
        <v-layout row wrap>
          <v-flex xs12>
            <v-text-field
              label="Quantos nos?"
              class="input-group--focused"
              hint="Pontos de apoio tbm contam"
              v-model.number="nos"
              placeholder="Ex: 4"
              min="2"
              type="number"
            ></v-text-field>
          </v-flex>
          <v-flex xs12>
            <v-text-field
              label="Quantos elementos?"
              hint="Ou seja, quantas barras?"
              v-model.number="elementos"
              placeholder="Ex: 4"
              min="1"
              type="number"
            ></v-text-field>
          </v-flex>
        </v-layout>

        <v-btn color="primary" @click="criarTrelica(nos, elementos)">Continue</v-btn>
        <v-dialog v-model="dialog" width="500">
          <v-btn slot="activator" color="red lighten-2" dark>Ajuda</v-btn>

          <v-card>
            <v-card-text>Nos sao os pontos de encontro ou extremidade de cada barra de uma trelica. As forcas externas aplicadas em uma trelica so podem ser aplicadas nestes nos.</v-card-text>
          </v-card>
        </v-dialog>
        <!-- <v-btn text @click="etapa --">Voltar</v-btn> -->
      </v-stepper-content>

      <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@ -->

      <v-stepper-step editable :complete="etapa > 3" step="3">
        Propriedades dos nos
        <small>Aqui determine a coordenadas, restricoes e forcas externas atuantes de cada um dos no</small>
      </v-stepper-step>

      <v-stepper-content step="3">
        <v-expansion-panel popout>
          <v-expansion-panel-content ripple v-for="node in nodesArr" :key="node.id">
            <div slot="header">Node {{node.id1}}</div>
            <TrelicaNo2 :node="node" />
          </v-expansion-panel-content>
        </v-expansion-panel>

        <TrelicaPlotlyNos ref="chart" :nodes="nodesArr" />

        <v-btn color="primary" @click="etapa = 4">Continue</v-btn>
        <v-btn text @click="etapa--">Voltar</v-btn>
      </v-stepper-content>

      <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@ -->

      <v-stepper-step editable :complete="etapa > 4" step="4">
        Propriedades dos elementos
        <small>Aqui determine como cada no eh interligado, area da secao transversal, material da barra, etc</small>
      </v-stepper-step>

      <v-stepper-content step="4">
        <v-expansion-panel popout>
          <v-expansion-panel-content ripple v-for="elemento in elementsArr" :key="elemento.id">
            <div slot="header">Elemento {{elemento.id1}}</div>
            <TrelicaElemento2 :elemento="elemento" :nodesArr="nodesArr" />
          </v-expansion-panel-content>
        </v-expansion-panel>

        <TrelicaPlotly ref="chart" :nodes="nodesArr" :elements="elementsArr" />

        <v-btn color="primary" @click="etapa = 5">Continue</v-btn>
        <v-btn text @click="etapa--">Voltar</v-btn>
      </v-stepper-content>

      <v-divider class="py-3"></v-divider>
      <h2>Etapas de calculo</h2>

      <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@ -->

      <v-stepper-step editable :complete="etapa > 5" step="5">
        Input completo
        <small>Pronto. Agora podemos iniciar com a resolucao</small>
      </v-stepper-step>

      <v-stepper-content step="5">
        Agora sera mostrado passo a passo o que o algoritmo faz. Ao clicar no botao resolver abaixo, o algoritmo ira calcular tudo instantaneamente e ira peparar os resultaodos para serem mostrados em cada etapa conforme input.
        <v-divider></v-divider>
        <v-btn color="primary" @click="resolver(nodesArr, elementsArr)">Resolver</v-btn>
        <v-btn text @click="etapa--">Voltar</v-btn>
      </v-stepper-content>

      <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@ -->

      <v-stepper-step editable :complete="etapa > 6" step="6" color="purple">
        Calcular propriedades dos elementos
        <small>Comprimento e angulo</small>
      </v-stepper-step>

      <v-stepper-content step="6">
        <Mathjax
          :mdData="'Cada elemento (ou barra) possui dois nos. Cada um deles com uma coordenada x e y. Portanto: $ No 1 = (n1_x, n1_y) $ e $No 2 = (n2_x, n2_y)$'"
        />

        <h3>Comprimento das barras:</h3>Utilizar teorema de Pitagoras
        <Mathjax :mdData="'$$ L = \\sqrt{ (n1_x - n2_x)^2 + (n1_y - n2_y)^2 }$$'" />

        <!-- DEPOIS MUDAR DE SELECT PARA ESTRUTURA.ELEMENTOS -->
        <v-expansion-panel v-if="Object.keys(estrutura.eleArr).length !== 0" popout>
          <v-expansion-panel-content ripple v-for="element in estrutura.eleArr" :key="element.id">
            <div slot="header">Elemento {{element.id1}}</div>
            <Mathjax
              :mdData="`$$ L = \\sqrt{ (${element.nodeA.x} - ${element.nodeB.x})^2 + (${element.nodeA.y} - ${element.nodeB.y})^2 = ${(element.l)}}$$'`"
            />
          </v-expansion-panel-content>
        </v-expansion-panel>

        <v-divider></v-divider>

        <h3>Angulo das barras:</h3>E importante calcular o angulo das barras, pois caso elas estejam inclindas, eh preciso transformar as coordenadas locais para coordenadas globais.
        Utilizar arco tangente, resultado em radianos
        <Mathjax :mdData="'$$ \\theta_{rad} = tg^{-1}(x) = \\Delta_x/\\Delta_y$$'" />
        <Mathjax :mdData="'Onde $ \\Delta_x = n2_x - n1_x$ e  $\\Delta_y = n2_y, - n1_y$'" />

        <v-expansion-panel v-if="Object.keys(estrutura.eleArr).length !== 0" popout>
          <v-expansion-panel-content ripple v-for="element in estrutura.eleArr" :key="element.id">
            <div slot="header">Elemento {{element.id1}}</div>
            <Mathjax
              :mdData="`$$ \\theta = (${element.nodeA.x} - ${element.nodeB.x})^2 + (${element.nodeA.y} - ${element.nodeB.y})^2 = ${element.angle} $$'`"
            />
          </v-expansion-panel-content>
        </v-expansion-panel>

        <v-divider></v-divider>

        <v-btn color="primary" @click="etapa = 7">Prosseguir</v-btn>
        <v-btn text @click="etapa--">Voltar</v-btn>
      </v-stepper-content>

      <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@ -->

      <v-stepper-step editable :complete="etapa > 7" step="7">
        Matriz rigidez de cada elemento
        <small>Para achar o matriz de rigidez total da estrutura, primeiramente devemos determinar a matriz de cada elemento.</small>
      </v-stepper-step>

      <v-stepper-content step="7">
        <h3>Matriz rigidez do elemento:</h3>Para trelicas (onde forcas atuam somente nos nos e nao ha momento fletor) uma barra vai possuir apenas 4 degrees of freedom (DOF), sendo 2 DOF em cada no. Portanto a matriz de rigidez *local de cada elemento* tera dimensao de 4x4 e segue a seguinte estrutura:
        <Mathjax :mdData="matriz(exemploMatrizRigidez)" />

        <v-expansion-panel v-if="Object.keys(estrutura.eleArr).length !== 0" popout>
          <v-expansion-panel-content ripple v-for="element in estrutura.eleArr" :key="element.id">
            <div slot="header">Elemento {{element.id1}}</div>Local:
            <Mathjax :mdData="matriz(element.kLocal)" />
          </v-expansion-panel-content>
        </v-expansion-panel>No entanto, caso o elemento estiver rotacionado, eh preciso aplicar uma transformacao na matriz para que os vetores passem das coordenadas locais para as globais. O resultado desta transformacao eh a matriz rigidez global do elemento. (Nao confundir com a matriz rigidez global da estrutura)
        <Mathjax
          :mdData="'$$ \\begin{matrix}\\frac{A E \\cos^{2}{ (\\theta  )}}{L} & \\frac{A E \\sin{ (\\theta  )} \\cos{ (\\theta  )}}{L} & - \\frac{A E \\cos^{2}{ (\\theta  )}}{L} & - \\frac{A E \\sin{ (\\theta  )} \\cos{ (\\theta  )}}{L}\\\\\\ \\frac{A E \\sin{ (\\theta  )} \\cos{ (\\theta  )}}{L} & \\frac{A E \\sin^{2}{ (\\theta  )}}{L} & - \\frac{A E \\sin{ (\\theta  )} \\cos{ (\\theta  )}}{L} & - \\frac{A E \\sin^{2}{ (\\theta  )}}{L}\\\\\\ - \\frac{A E \\cos^{2}{ (\\theta  )}}{L} & - \\frac{A E \\sin{ (\\theta  )} \\cos{ (\\theta  )}}{L} & \\frac{A E \\cos^{2}{ (\\theta  )}}{L} & \\frac{A E \\sin{ (\\theta  )} \\cos{ (\\theta  )}}{L}\\\\\\ - \\frac{A E \\sin{ (\\theta  )} \\cos{ (\\theta  )}}{L} & - \\frac{A E \\sin^{2}{ (\\theta  )}}{L} & \\frac{A E \\sin{ (\\theta  )} \\cos{ (\\theta  )}}{L} & \\frac{A E \\sin^{2}{ (\\theta  )}}{L}\\end{matrix} $$'"
        />

        <v-expansion-panel v-if="Object.keys(estrutura.eleArr).length !== 0" popout>
          <v-expansion-panel-content ripple v-for="element in estrutura.eleArr" :key="element.id">
            <div slot="header">Elemento {{element.id1}}</div>Global:
            <Mathjax :mdData="matriz(element.kGlobal)" />
          </v-expansion-panel-content>
        </v-expansion-panel>

        <v-divider></v-divider>

        <v-btn color="primary" @click="etapa = 8">Prosseguir</v-btn>
        <v-btn text @click="etapa--">Voltar</v-btn>
      </v-stepper-content>

      <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@ -->

      <v-stepper-step editable :complete="etapa > 8" step="8">
        Matriz incidencia cinematica
        <small>Matriz que indica como cada elemento esta interligado com outro</small>
      </v-stepper-step>

      <v-stepper-content step="8">
        Essa matriz compreende como cada elemento da estrutura esta interligada.
        A matriz de incidencia pode ser feita de diversas formas. Neste algoritmo em particular, cria-se uma matriz com as dimensoes (numero de nos)x(4, que sao os 4 DOFs de cada barra). Entao, para cada elemento cria-se uma outra matriz onde cada linha da matriz eh um vetor que representa um elemento da estrutura. Neste vetor cada indice representa um DOF e usou-se 1 e 0 para cada DOF da estrutura geral que este elemento ira ativar.
        <v-expansion-panel v-if="Object.keys(estrutura.eleArr).length !== 0" popout>
          <v-expansion-panel-content ripple v-for="element in estrutura.eleArr" :key="element.id">
            <div slot="header">Elemento {{element.id1}}</div>
            <Mathjax :mdData="matriz(element.matrizT)" />
          </v-expansion-panel-content>
        </v-expansion-panel>Com a matriz de incidencia pronta, podemos multiplicar a matriz de ridigez global de cada elemento
      </v-stepper-content>

      <v-divider></v-divider>
    </v-stepper>
  </div>
</template>

<script>
import TrelicaElemento2 from "~/components/AnaliseMatricial/TrelicaElemento2.vue";
import TrelicaElementos from "~/components/AnaliseMatricial/TrelicaElementos.vue";
import TrelicaResultado from "~/components/AnaliseMatricial/TrelicaResultado.vue";
import TrelicaPlotlyNos from "~/components/AnaliseMatricial/TrelicaPlotlyNos.vue";
import TrelicaPlotly from "~/components/AnaliseMatricial/TrelicaPlotly.vue";
import { items } from "~/assets/TrelicaExemplos.js";
import TrelicaNo2 from "~/components/AnaliseMatricial/TrelicaNo2.vue";
import Mathjax from "~/components/AnaliseMatricial/Mathjax.vue";
import TitleCard from "~/components/TitleCard.vue";

var math = require("mathjs");
var math2 = math.create({
  matrix: "Array"
});

export default {
  components: {
    Mathjax,
    TrelicaElementos,
    TrelicaPlotlyNos,
    TrelicaResultado,
    TrelicaElemento2,
    TrelicaPlotly,
    TrelicaNo2,
    TitleCard
  },
  data() {
    return {
      dialog: false,
      demo: false,
      etapa: 1,
      nos: null,
      elementos: null,
      items: items,
      select: null,
      mostrar: false,
      nodesArr: [],
      elementsArr: [],
      estrutura: {
        nosArr: {},
        eleArr: {}
      },
      exemploMatrizRigidez: [
        ["E * A / L", 0, "-E * A / L", 0],
        [0, 0, 0, 0],
        ["-E * A / L", 0, "E * A / L", 0],
        [0, 0, 0, 0]
      ],
      exemploMatrizRotacao: [
        ["cos\\theta", "sen\\theta"],
        ["-sen\\theta", "cos\\theta"]
      ]
    };
  },
  created() {
    // Para nao dar erro em algumas funcoes quando o app iniciar e nao encontrar valores para popular as funcoes. Contornei esse erro usando v-if depois.
    this.addNode(this.nodesArr);
    this.addElement(this.nodesArr, this.elementsArr);
  },
  methods: {
    escolherDemo() {
      this.$nextTick(() => {
        console.log(this.select);
        this.nodesArr = this.select.nodesArr;
        this.elementsArr = this.select.elementsArr;
        this.nos = this.nodesArr.length;
        this.elementos = this.elementsArr.length;
      });
      this.demo = true;
      this.etapa = 4;
    },
    criarTrelica(nos, elementos) {
      if (!this.demo) {
        this.nodesArr = [];
        this.elementsArr = [];
        for (let i = 0; i < nos; i++) {
          this.addNode(this.nodesArr);
        }
        for (let i = 0; i < elementos; i++) {
          this.addElement(this.nodesArr, this.elementsArr);
        }
      } else {
      }

      this.etapa++;
    },
    addNode(array) {
      array.push({
        id: array.length,
        id1: array.length + 1,
        x: 0,
        y: 0,
        dx: 0,
        dy: 0,
        edx: 0,
        edy: 0,
        fx: 0,
        fy: 0,
        frx: 0,
        fry: 0,
        rx: false,
        ry: false
      });
    },
    addElement(nodesArr, array) {
      // preencher ja com provaveis elementos
      let firstId = 0;
      let nextId = array.length;
      if (typeof nodesArr[this.elementsArr.length + 1] !== "undefined") {
        nextId = array.length + 1;
        firstId = array.length;
      } else {
        firstId = nodesArr.length - 1;
        nextId = 0;
      }
      // adiciona novo elemento pra elementsArr
      array.push({
        id: array.length,
        id1: array.length + 1,
        nodeA: nodesArr[firstId],
        nodeB: nodesArr[nextId],
        inercia: 1,
        elasticidade: 1,
        area: 1
      });
    },
    resolver(nodesArr, elementsArr) {
      this.mostrar = false;
      // TODO: COMO FAZER MATHJAX UPDATAR SOZINHO?
      this.estrutura.nosArr = JSON.parse(JSON.stringify(nodesArr));
      this.estrutura.eleArr = JSON.parse(JSON.stringify(elementsArr));
      this.estrutura.nNodes = Object.keys(this.estrutura.nosArr).length;
      this.estrutura.nElements = Object.keys(this.estrutura.eleArr).length;
      this.calcularElementos(this.estrutura.eleArr, this.estrutura.nNodes);
      this.estrutura.forces = this.getTrussGlobalForces(this.estrutura.nosArr);
      this.estrutura.restrictions = this.getTrussGlobalRestrictions(
        this.estrutura.nosArr
      );
      this.estrutura.k = this.getGlobalStiffnessFromElementsArr(
        this.estrutura.eleArr,
        this.estrutura.nNodes
      );
      this.estrutura.metodoRearranjar = this.getTrussKDireto(
        this.estrutura.k,
        this.estrutura.restrictions,
        this.estrutura.forces
      );
      this.estrutura.nosArr = this.adicionarResultadoNos(
        this.estrutura.nosArr,
        this.estrutura.metodoRearranjar
      );
      this.estrutura.eleArr = this.atualizarNosDoEleArr(
        this.estrutura.eleArr,
        this.estrutura.nosArr
      );
      this.estrutura.eleArr = this.getTrussAxialForces(this.estrutura.eleArr);
      this.etapa++;
    },
    calcularElementos(elementsArr, nNodes) {
      elementsArr.forEach(element => {
        element.l = this.getLength(element);
        element.angle = this.getAngle(element);
        element.kLocal = this.getStiffnessTrelica(
          element.elasticidade,
          element.l,
          element.area
        );
        element.kGlobal = this.getStiffnessTrelicaRot(
          element.elasticidade,
          element.l,
          element.area,
          element.angle
        );
        element.matrizT = this.getTrussMatrizT(
          element.nodeA,
          element.nodeB,
          nNodes
        );
        element.kGlobalGeral = this.getKGlobal(
          element.kGlobal,
          element.matrizT
        );
      });
    },
    getLength(element) {
      let deltaX =
        Number.parseFloat(element.nodeB.x) - Number.parseFloat(element.nodeA.x);
      let deltaY = element.nodeB.y - element.nodeA.y;
      return Math.sqrt(Math.pow(deltaX, 2) + Math.pow(deltaY, 2)).toFixed(4);
    },
    getAngle(element) {
      let deltaX =
        Number.parseFloat(element.nodeB.x) - Number.parseFloat(element.nodeA.x);
      let deltaY =
        Number.parseFloat(element.nodeB.y) - Number.parseFloat(element.nodeA.y);
      return ((Math.atan2(deltaY, deltaX) * 180) / Math.PI).toFixed(4);
    },
    getStiffnessTrelica(E, L, A) {
      // console.log('k_local', 'elemnet', element, I, E, L)
      let k = [
        [(E * A) / L, 0, (-E * A) / L, 0],
        [0, 0, 0, 0],
        [(-E * A) / L, 0, (E * A) / L, 0],
        [0, 0, 0, 0]
      ];
      return k;
    },
    getStiffnessTrelicaRot(E, L, A, angle) {
      // console.log('k_local', 'elemnet', element, I, E, L)
      let k = [
        [
          (
            ((E * A) / L) *
            Math.cos((angle / 180) * Math.PI) *
            Math.cos((angle / 180) * Math.PI)
          ).toFixed(5),
          (
            ((E * A) / L) *
            Math.cos((angle / 180) * Math.PI) *
            Math.sin((angle / 180) * Math.PI)
          ).toFixed(5),
          (
            -((E * A) / L) *
            Math.cos((angle / 180) * Math.PI) *
            Math.cos((angle / 180) * Math.PI)
          ).toFixed(5),
          -((E * A) / L) *
            Math.cos((angle / 180) * Math.PI) *
            Math.sin((angle / 180) * Math.PI).toFixed(5)
        ],
        [
          (
            ((E * A) / L) *
            Math.cos((angle / 180) * Math.PI) *
            Math.sin((angle / 180) * Math.PI)
          ).toFixed(5),
          (
            ((E * A) / L) *
            Math.sin((angle / 180) * Math.PI) *
            Math.sin((angle / 180) * Math.PI)
          ).toFixed(5),
          (
            -((E * A) / L) *
            Math.cos((angle / 180) * Math.PI) *
            Math.sin((angle / 180) * Math.PI)
          ).toFixed(5),
          -((E * A) / L) *
            Math.sin((angle / 180) * Math.PI) *
            Math.sin((angle / 180) * Math.PI).toFixed(5)
        ],
        [
          (
            -((E * A) / L) *
            Math.cos((angle / 180) * Math.PI) *
            Math.cos((angle / 180) * Math.PI)
          ).toFixed(5),
          (
            -((E * A) / L) *
            Math.cos((angle / 180) * Math.PI) *
            Math.sin((angle / 180) * Math.PI)
          ).toFixed(5),
          (
            ((E * A) / L) *
            Math.cos((angle / 180) * Math.PI) *
            Math.cos((angle / 180) * Math.PI)
          ).toFixed(5),
          ((E * A) / L) *
            Math.cos((angle / 180) * Math.PI) *
            Math.sin((angle / 180) * Math.PI).toFixed(5)
        ],
        [
          (
            -((E * A) / L) *
            Math.cos((angle / 180) * Math.PI) *
            Math.sin((angle / 180) * Math.PI)
          ).toFixed(5),
          (
            -((E * A) / L) *
            Math.sin((angle / 180) * Math.PI) *
            Math.sin((angle / 180) * Math.PI)
          ).toFixed(5),
          (
            ((E * A) / L) *
            Math.cos((angle / 180) * Math.PI) *
            Math.sin((angle / 180) * Math.PI)
          ).toFixed(5),
          ((E * A) / L) *
            Math.sin((angle / 180) * Math.PI) *
            Math.sin((angle / 180) * Math.PI).toFixed(5)
        ]
      ];
      return k;
    },
    getTrussMatrizT(nodeA, nodeB, structNumNodes) {
      // nNodes * 2 because truss = 2 dof per node
      let i = nodeA.id * 2;
      let j = nodeB.id * 2;
      // 4 because truss
      let t = math2.zeros(structNumNodes * 2, 4);
      if (i < j) {
        t[i][0] = 1;
        t[i + 1][1] = 1;
        t[j][2] = 1;
        t[j + 1][3] = 1;
      } else {
        t[j][0] = 1;
        t[j + 1][1] = 1;
        t[i][2] = 1;
        t[i + 1][3] = 1;
      }
      return t;
    },
    getKGlobal(k, t) {
      // let globK = math.zeros(t.length, k.length)
      let tTransposed = math2.transpose(t);
      let globK = math2.multiply(t, k, tTransposed);
      return globK;
    },
    getTrussGlobalForces(nodesArr) {
      var f = [];
      nodesArr.forEach(node => {
        f.push(node.fx);
        f.push(node.fy);
      });
      return f;
    },
    getTrussGlobalRestrictions(nodesArr) {
      var r = [];
      nodesArr.forEach(node => {
        r.push(node.rx);
        r.push(node.ry);
      });
      return r;
    },
    getGlobalStiffnessFromElementsArr(elements, numNodes) {
      let k = math2.zeros(numNodes * 2, numNodes * 2);
      elements.forEach(element => {
        k = math2.add(k, element.kGlobalGeral);
      });
      return k;
    },
    getTrussKDireto(k, r, forces) {
      // cria array que contem rows q vao permanecer
      // s = support
      // f = forces
      let s = [];
      let f = [];
      let ff = [];
      // let fs = []
      let ds = [];
      for (let i = 0; i < r.length; i++) {
        if (r[i]) {
          s.push(i);
          // fs.push(forces[i])
          ds.push(0);
        } else {
          f.push(i);
          ff.push(forces[i]);
        }
      }
      let kff = math2.subset(k, math.index(f, f));
      let kfs = math2.subset(k, math.index(f, s));
      let ksf = math2.subset(k, math.index(s, f));
      let kss = math2.subset(k, math.index(s, s));
      let kRearranged = math2.zeros(kff.length, kfs.length);
      let top = math2.concat(kff, kfs);
      let bottom = math2.concat(ksf, kss);
      kRearranged = math2.concat(top, bottom, 0);
      let df_ = math2.lusolve(kff, ff);
      let df = [];
      df_.forEach(v => df.push(v[0]));
      let d_ = df.concat(ds);
      let d = [];
      for (let i = 0; i < d_.length; i++) {
        d[f[i]] = df[i];
        d[s[i]] = 0;
      }
      let fs = math2.multiply(ksf, df);
      let reaction = math2.zeros(k.length);
      for (let i = 0; i < s.length; i++) {
        reaction[s[i]] = fs[i];
      }
      return {
        s,
        f,
        kRearranged,
        reaction,
        kff,
        kfs,
        ksf,
        kss,
        ff,
        fs,
        df,
        d,
        d_
      };
    },
    adicionarResultadoNos(nosArr, metodoRearranjar) {
      let i = 0;
      nosArr.forEach(node => {
        node.dx = metodoRearranjar.d[i];
        node.dy = metodoRearranjar.d[i + 1];
        if (node.rx) node.frx = metodoRearranjar.reaction[i];
        if (node.ry) node.fry = metodoRearranjar.reaction[i + 1];
        // se for undefined fazer virar 0
        node.frx = node.frx || 0;
        node.fry = node.fry || 0;
        i += 2;
      });
      return nosArr;
    },
    atualizarNosDoEleArr(elementsArr, nosArr) {
      elementsArr.forEach(element => {
        let idA = element.nodeA.id;
        let idB = element.nodeB.id;
        element.nodeA = nosArr.find(node => node.id === idA);
        element.nodeB = nosArr.find(node => node.id === idB);
      });
      return elementsArr;
    },
    getTrussAxialForces(elementsArr) {
      elementsArr.forEach(element => {
        element.reacoes = [
          element.nodeA.frx,
          element.nodeA.fry,
          element.nodeB.frx,
          element.nodeB.fry
        ];
        element.lx =
          (Number.parseFloat(element.nodeB.x) -
            Number.parseFloat(element.nodeA.x)) /
          element.l;
        element.ly =
          (Number.parseFloat(element.nodeB.y) -
            Number.parseFloat(element.nodeA.y)) /
          element.l;
        element.lxly = [-element.lx, -element.ly, element.lx, element.ly];
        element.fAxial = math2.dot(element.lxly, element.reacoes);
      });
      return elementsArr;
    },
    matriz(matrix) {
      let string = "$$ \\begin{bmatrix}";
      matrix.forEach(row => {
        let str = row.join(" & ") + " \\\\\\ ";
        string += str;
      });
      string += " \\end{bmatrix} $$";
      return string;
    }
  }
};
</script>