<template>
  <div>
    <TitleCard :titlecard="titleCard" />
    <v-container>
      <v-stepper vertical v-model="etapa">
        <v-stepper-step editable step="1" :complete="e1>1">Inputs</v-stepper-step>

        <v-stepper-content step="1">
          <v-row>
            <v-col cols="12" sm="6">
              <v-col v-for="prop in inputs" :key="prop.id">
                <v-text-field
                  :label="prop.hint"
                  :hint="prop.name"
                  :suffix="prop.suffix"
                  v-model.number="prop.value"
                  type="number"
                  persistent-hint
                ></v-text-field>
              </v-col>
              <v-col>
                <v-select
                  :items="acos"
                  v-model="aco"
                  label="Tipo de aço"
                  item-text="nome"
                  item-value="value"
                  return-object
                ></v-select>
              </v-col>
            </v-col>

            <v-col cols="12" sm="6">
              <v-alert
                v-model="alert"
                type="warning"
                v-for="(e,index) in warnings"
                :key="index"
              >{{e}}</v-alert>
            </v-col>
          </v-row>
          <v-btn color="primary" @click="etapa = 2">Continue</v-btn>
        </v-stepper-content>
        <v-stepper-step
          step="2"
          editable
          :complete="e1 > 2"
        >Opção 1) Cálculo para limite entre os domínios 3 e 4</v-stepper-step>

        <v-stepper-content step="2">
          <v-row>
            <v-col>
              <p class="title">Momento Resistente</p>
              <p>
                <Mathjax
                  :mdData="`O limite entre os dominios 3 e 4 para ${aco.nome} que tem $\\epsilon_{yd} = ${aco.e}$ :`"
                ></Mathjax>
                <Mathjax :mdData="`$ x_{34} = \\frac{0.0035}{0.0035 + \\epsilon_{yd}} \\cdot d $`"></Mathjax>
                <Mathjax
                  :mdData="`$ x_{34} = \\frac{0.0035}{0.0035 + ${aco.e}} \\cdot ${inputs.d.value} $`"
                ></Mathjax>
                <Mathjax
                  :mdData="`$ x_{34} = ${this.x34.c.toFixed(4)} \\cdot ${inputs.d.value} = ${this.x34.result.toFixed(4)} \\ m$`"
                ></Mathjax>
              </p>
              <p>
                <Mathjax :mdData="`Para obter o  $M_{d}$ :`"></Mathjax>
                <small>Momento em função da força no conreto</small>
                <Mathjax :mdData="`$ M_{d} = F_c \\cdot z $`"></Mathjax>
                <small>Força resultante no concreto na flexão simples para seção retangular e concreto de qualuqer classe</small>
                <Mathjax
                  :mdData="`$ F_c = (\\alpha_c \\cdot f_{cd}) \\cdot (b_w) \\cdot (\\lambda \\cdot x) $`"
                ></Mathjax>
                <Mathjax
                  :mdData="`$ F_c = (0.85 \\cdot \\frac{${this.inputs.fck.value * 1000}}{1.4}) \\cdot ${this.inputs.bw.value} \\cdot (${this.md.lambda} \\cdot ${this.x34.result.toFixed(4)}) = ${this.md.fc.toFixed(4)} \\ kN$`"
                ></Mathjax>
                <small>Braço de alavanca na flexão simples para seção retangular e concreto de qualquer classe</small>
                <Mathjax :mdData="`$ z = d - 0.5 \\cdot \\lambda \\cdot x $`"></Mathjax>
                <Mathjax
                  :mdData="`$ z = ${this.inputs.d.value} - 0.5 \\cdot ${this.md.lambda} \\cdot ${this.x34.result.toFixed(4)} = ${this.md.z.toFixed(4)} \\ m$`"
                ></Mathjax>

                <Mathjax :mdData="`$ M_d = F_c \\cdot z = ${this.md.result.toFixed(2)} kN m $`"></Mathjax>

                <Mathjax :mdData="`$ M = \\frac{M_d}{1.4} = ${this.md.m.toFixed(2)} \\ kN m $`"></Mathjax>
              </p>
              <p class="title">Armadura</p>
              <p>
                <small>Como a seção trabalha no limite enrte os domínios 3 e 4, pode-se considerar que fs = fyd</small>
                <Mathjax
                  :mdData="`$ A_s = \\frac{M_d}{z \\cdot f_{yd}} = \\frac{${this.md.result.toFixed(2)}}{${this.md.z.toFixed(4)} \\cdot ${this.aco.fyd.toFixed(2)}} = \\ ${this.as.toFixed(2)} \\ cm^2$`"
                ></Mathjax>
              </p>
            </v-col>
          </v-row>
          <v-dialog v-model="dialog" width="500">
            <template v-slot:activator="{ on }">
              <v-btn color="primary" v-on="on">Ver todas variaveis</v-btn>
            </template>

            <v-card>
              <v-card-title class="headline grey lighten-2" primary-title>Valores</v-card-title>

              <v-card-text>
                <Mathjax
                  :mdData="`
                Aco = ${this.aco.nome}
                Escoamento aco = ${this.aco.e}
                fyd = ${this.aco.fyd}
                bw = ${this.inputs.bw.value}
                d = ${this.inputs.d.value}
                fck = ${this.inputs.fck.value}
                alphaC = ${this.alphaC} 
                x34 = ${this.x34.result}
                fc = ${this.md.fc}
                fcd = ${this.md.fcd}
                lambda = ${this.md.lambda}
                z = ${this.md.z}
                md = ${this.md.result}
                m = ${this.md.m}
                as = ${this.as}



                `"
                ></Mathjax>
              </v-card-text>
            </v-card>
          </v-dialog>
          <v-btn color="green" @click="etapa = 3">Ver outra alternativa 2</v-btn>
        </v-stepper-content>

        <v-stepper-step step="3" editable :complete="e1 > 3">Opção 2) Cálculo para x/4 =0.45</v-stepper-step>

        <v-stepper-content step="3">
          <v-row>
            <v-col>
              <p class="title">Momento Resistente</p>
              <p>
                <Mathjax
                  :mdData="`$ x = 0.45 \\cdot d = 0.45 \\cdot ${this.inputs.d.value} = ${this.x.x.toFixed(4)} \\ m$`"
                ></Mathjax>
                <Mathjax :mdData="`$ M_d = F_c \\cdot z $`"></Mathjax>
                <Mathjax
                  :mdData="`$ F_c = (0.85 \\cdot \\frac{${this.inputs.fck.value * 1000}}{1.4}) \\cdot ${this.inputs.bw.value} \\cdot (${this.md.lambda} \\cdot ${this.x.x.toFixed(4)}) = ${this.x.fc.toFixed(4)} \\ kN$`"
                ></Mathjax>
                <Mathjax
                  :mdData="`$ z = ${this.inputs.d.value} - 0.5 \\cdot ${this.md.lambda} \\cdot ${this.x.x.toFixed(4)} = ${this.x.z.toFixed(4)} \\ m$`"
                ></Mathjax>
                <Mathjax :mdData="`$ M_d = ${this.x.md} \\ kN m$`"></Mathjax>
                <Mathjax :mdData="`$ M = \\frac{M_d}{1.4} = ${this.x.m.toFixed(2)} \\ kN m $`"></Mathjax>
              </p>
              <p class="title">Armadura</p>
              <p>
                <small>Domínio 3, onde deformação do aço = resistencia escoamento do aço</small>
                <Mathjax
                  :mdData="`$ A_s = \\frac{M_d}{z \\cdot f_{yd}} = \\frac{${this.x.md.toFixed(2)}}{${this.x.z.toFixed(4)} \\cdot ${this.aco.fyd.toFixed(2)}} = \\ ${this.x.as.toFixed(2)} \\ cm^2$`"
                ></Mathjax>
              </p>
              <p>Neste tipo de cálculo utiliza-se menos aço no entanto existe uma diminuição na resistência</p>
            </v-col>
          </v-row>
          <v-dialog v-model="dialog" width="500">
            <template v-slot:activator="{ on }">
              <v-btn color="primary" v-on="on">Ver todas variaveis</v-btn>
            </template>

            <v-card>
              <v-card-title class="headline grey lighten-2" primary-title>Valores</v-card-title>

              <v-card-text>
                <Mathjax
                  :mdData="`
                Aco = ${this.aco.nome}
                Escoamento aco = ${this.aco.e}
                fyd = ${this.aco.fyd}
                bw = ${this.inputs.bw.value}
                d = ${this.inputs.d.value}
                fck = ${this.inputs.fck.value}
                alphaC = ${this.alphaC} 
                x34 = ${this.x34.result}
                fc = ${this.md.fc}
                fcd = ${this.md.fcd}
                lambda = ${this.md.lambda}
                z = ${this.md.z}
                m = ${this.md.m}
                as = ${this.as}
                x/d=0.45 x = ${this.x}
                x/d=0.45 fc = ${this.x.fc}
                x/d=0.45 fcd = ${this.x.fcd}
                x/d=0.45 lambda = ${this.x.lambda}
                x/d=0.45 z = ${this.x.z}
                x/d=0.45 m = ${this.x.m}
                x/d=0.45 md = ${this.x.md}
                x/d=0.45 as = ${this.x.as}



                `"
                ></Mathjax>
              </v-card-text>
            </v-card>
          </v-dialog>
        </v-stepper-content>
      </v-stepper>
    </v-container>
  </div>
</template>


<script>
import TitleCard from "~/components/TitleCard.vue";
import Mathjax from "~/components/AnaliseMatricial/Mathjax.vue";
// var math = require('mathjs')
// var math2 = math.create({
//   matrix: 'Array'
// })
export default {
  components: {
    TitleCard,
    Mathjax
  },
  data() {
    return {
      warnings: [],
      etapa: 1,
      titleCard: {
        title: "Máximo momento resistente de Vigas",
        subtitle:
          "Baseado no exemplo 3 do capítulo 3 do livro Cálculo e Detalhamento de Estruturas Usuais de Concreto Armado de Roberto Chust Carvalho",
        source:
          "https://gitlab.com/yurifbeck/engcivil/blob/laje2/pages/engcivil/viga.vue"
      },
      alert: false,
      dialog: false,
      e1: 1,
      aco: { nome: "CA50", e: 0.00207, fyd: 50 / 1.15 },
      acos: [
        { nome: "CA50", e: 0.00207, fyd: 50 / 1.15 },
        { nome: "CA60", e: 0.00248, fyd: 60 / 1.15 },
        { nome: "CA25", e: 0.00104, fyd: 25 / 1.15 }
      ],
      inputs: {
        bw: {
          name: "bw",
          value: 0.12,
          suffix: "m",
          hint: "Largura"
        },
        d: {
          name: "d",
          value: 0.1765,
          suffix: "m",
          hint: "Altura útil"
        },
        fck: {
          name: "f_ck",
          value: 20000,
          suffix: "kN/m2",
          hint: "F_ck"
        }
      }
    };
  },
  computed: {
    x() {
      let x = this.inputs.d.value * 0.45;
      let alphaC = this.alphaC;
      let fck = this.inputs.fck.value;
      let fcd = fck / 1.4;
      let bw = this.inputs.bw.value;
      let lambda = 0.8;
      let fc = this.alphaC * fcd * bw * lambda * x;
      // -----
      let d = this.inputs.d.value;
      let z = d - 0.5 * lambda * x;
      // -----
      let md = fc * z;
      let m = md / 1.4;
      // ----
      let as = md / (z * this.aco.fyd);
      return { x, fcd, lambda, fc, z, md, m, as };
    },
    as() {
      return this.md.result / (this.md.z * this.aco.fyd);
    },
    x34() {
      let a = 0.0035;
      let b = a + this.aco.e;
      let c = a / b;
      let result = c * this.inputs.d.value;
      return { a, b, c, result };
    },
    md() {
      let alphaC = this.alphaC;
      let fck = this.inputs.fck.value;
      let fcd = fck / 1.4;
      let bw = this.inputs.bw.value;
      let lambda = 0.8;
      let x34 = this.x34.result;
      let fc = this.alphaC * fcd * bw * lambda * x34;
      // -----
      let d = this.inputs.d.value;
      let z = d - 0.5 * lambda * x34;
      // -----
      let result = fc * z;
      let m = result / 1.4;
      return { fcd, lambda, fc, z, result, m };
    },
    alphaC() {
      let fck = this.inputs.fck.value;
      if (fck < 50000) {
        this.warnings = [];
        this.alert = false;
        return 0.85;
      } else {
        this.alert = true;
        this.warnings.push(
          "Para Fck > 50 MPa, AlphaC do concreto não é 0.85 como usualmente (valor utilizado por considerar uma parábola a tensão de compressão), utilizar a fórmula 0.85 * (1 - ((fck - 50) /200)"
        );
        return 0.85 * (1 - (fck - 50) / 200);
      }
    }
  }
};
</script>
