<template>
  <div>
    <TitleCard :titlecard="titleCard" />
    <v-container>
      <v-stepper vertical v-model="etapa">
        <v-stepper-step editable step="1" :complete="e1>1">Inputs</v-stepper-step>

        <v-stepper-content step="1">
          <v-row>
            <v-col cols="12" sm="6">
              <v-col v-for="prop in inputs" :key="prop.id">
                <v-text-field
                  :label="prop.name"
                  :hint="prop.hint"
                  :suffix="prop.suffix"
                  v-model.number="prop.value"
                  type="number"
                  persistent-hint
                ></v-text-field>
              </v-col>
              <v-col>
                <v-select
                  :items="acos"
                  v-model="aco"
                  label="Tipo de aço"
                  item-text="nome"
                  item-value="value"
                  return-object
                ></v-select>
              </v-col>
            </v-col>

            <v-col cols="12" sm="6">
              <v-alert
                v-model="alert"
                type="warning"
                v-for="(e,index) in warnings"
                :key="index"
              >{{e}}</v-alert>
            </v-col>
          </v-row>
          <v-btn color="primary" @click="etapa = 2">Continue</v-btn>
        </v-stepper-content>
        <v-stepper-step step="2" editable :complete="e1 > 2">Altura mínima para x/d = 0.45</v-stepper-step>

        <v-stepper-content step="2">
          <v-row>
            <v-col>
              <p class="title">d mínimo através da equação:</p>

              <Mathjax
                :mdData="`$$ d_{min} = 2 \\cdot \\sqrt{ \\frac{M_d}{b_w \\cdot f_{cd}} } $$ :`"
              ></Mathjax>
              <Mathjax
                :mdData="`$$ d_{min} = 2 \\cdot \\sqrt{ \\frac{${this.dmin.m} \\cdot 1.4 }{ ${this.dmin.bw} \\cdot ${this.inputs.fck.value} / 1.4 } } = ${this.dmin.dmin.toFixed(3)} \\ m$$ :`"
              ></Mathjax>
            </v-col>
          </v-row>

          <v-btn color="green" @click="etapa = 3">Calcular armadura</v-btn>
        </v-stepper-content>
        <v-stepper-step step="3" editable :complete="e1 > 2">Cálculo da armadura</v-stepper-step>

        <v-stepper-content step="3">
          <v-row>
            <v-col>
              <p class="title">Encontrar x com x/d = 0.45</p>

              <Mathjax
                :mdData="`$ x = 0.45 \\cdot d = 0.45 \\cdot ${this.dmin.dmin.toFixed(3)} = ${this.dmin.x.toFixed(3)} \\ m $`"
              ></Mathjax>

              <Mathjax
                :mdData="`$ z = d - 0.4 \\cdot x = ${this.dmin.dmin.toFixed(3)} - 0.4 \\cdot ${this.dmin.x.toFixed(3)} = ${this.dmin.z.toFixed(3)} m $`"
              ></Mathjax>

              <Mathjax
                :mdData="`$
               A_s = \\frac{M_d}{z \\cdot (f_{s} = f_{yd})} = \\frac {${this.dmin.md.toFixed(2)}}{${this.dmin.z.toFixed(3)} \\cdot ${this.aco.fyd.toFixed(3)}}
              $`"
              ></Mathjax>

              <Mathjax :mdData="`$ A_s = ${this.dmin.as.toFixed(2)} \\ cm^2 $`"></Mathjax>
            </v-col>
          </v-row>
        </v-stepper-content>
      </v-stepper>
    </v-container>
  </div>
</template>


<script>
import TitleCard from "~/components/TitleCard.vue";
import Mathjax from "~/components/AnaliseMatricial/Mathjax.vue";
// var math = require('mathjs')
// var math2 = math.create({
//   matrix: 'Array'
// })
export default {
  components: {
    TitleCard,
    Mathjax
  },
  data() {
    return {
      warnings: [],
      titleCard: {
        title: "Altura mínima de viga com armadura simples",
        subtitle:
          "Baseado no exemplo 5 do capítulo 3 do livro Cálculo e Detalhamento de Estruturas Usuais de Concreto Armado de Roberto Chust Carvalho",
        source:
          "https://gitlab.com/yurifbeck/engcivil/blob/laje2/pages/engcivil/viga_altura_minima.vue"
      },
      etapa: 1,
      alert: false,
      dialog: false,
      e1: 1,
      aco: { nome: "CA50", e: 0.00207, fyd: 50 / 1.15 },
      acos: [
        { nome: "CA50", e: 0.00207, fyd: 50 / 1.15 },
        { nome: "CA60", e: 0.00248, fyd: 60 / 1.15 },
        { nome: "CA25", e: 0.00104, fyd: 25 / 1.15 }
      ],
      inputs: {
        bw: {
          name: "bw",
          value: 0.12,
          suffix: "m",
          hint: "Largura"
        },
        fck: {
          name: "f_ck",
          value: 20000,
          suffix: "kN/m2",
          hint: "F_ck"
        },
        m: {
          name: "m",
          value: 12.2,
          suffix: "kN m",
          hint: "M = Momento, Md = M * 1.4 "
        }
      }
    };
  },
  computed: {
    fcd() {
      return this.inputs.fck.value / 1.4;
    },
    dmin() {
      let m = this.inputs.m.value;
      let md = m * 1.4;
      let bw = this.inputs.bw.value;
      let dmin = 2 * Math.sqrt(md / (bw * this.fcd));
      let x = dmin * 0.45;
      let z = dmin - 0.4 * x;
      let as = md / (z * this.aco.fyd);
      return { m, md, bw, dmin, x, z, as };
    }
  }
};
</script>
