<template>
  <div>
    <TitleCard :titlecard="titleCard" />
    <v-container>
      <v-stepper vertical v-model="etapa">
        <v-stepper-step editable step="1" :complete="e1>1">Inputs</v-stepper-step>

        <v-stepper-content step="1">
          <v-row>
            <v-col cols="12" sm="6">
              <v-col v-for="prop in inputs" :key="prop.id">
                <v-text-field
                  :label="prop.name"
                  :hint="prop.hint"
                  :suffix="prop.suffix"
                  :rules="prop.rules"
                  v-model.number="prop.value"
                  type="number"
                  min="0"
                  persistent-hint
                ></v-text-field>
              </v-col>
              <v-col>
                <v-select
                  :items="acos"
                  v-model="aco"
                  label="Tipo de aço"
                  item-text="nome"
                  item-value="value"
                  return-object
                ></v-select>
              </v-col>
            </v-col>

            <v-col cols="12" sm="6">
              <v-alert
                v-model="alert"
                type="warning"
                v-for="(e,index) in warnings"
                :key="index"
              >{{e}}</v-alert>
            </v-col>
          </v-row>
          <v-btn
            :color="simples ? 'error' : 'primary'"
            @click="etapa = 2"
          >{{simples ? 'Neste input armadura simples basta' : 'Continue'}}</v-btn>
        </v-stepper-content>
        <v-stepper-step
          step="2"
          editable
          :complete="e1 > 2"
        >Cálculo da altura mínima para x/d = 0.45</v-stepper-step>

        <v-stepper-content step="2">
          <v-row>
            <v-col>
              <p class="title">d mínimo através da equação:</p>

              <Mathjax
                :mdData="`$ d_{min} = 2 \\cdot \\sqrt{ \\frac{M_d}{b_w \\cdot f_{cd}} } $ :`"
              ></Mathjax>
              <Mathjax
                :mdData="`$ d_{min} = 2 \\cdot \\sqrt{ \\frac{${this.dmin.m} \\cdot 1.4 }{ ${this.dmin.bw} \\cdot ${this.inputs.fck.value} / 1.4 } } = ${this.dmin.dmin.toFixed(3)} \\ m$ :`"
              ></Mathjax>
              <Mathjax
                v-if="!simples"
                :mdData="`Como $ d_{min} > d = ${this.inputs.d.value.toFixed(2)} \\implies $ armadura dupla`"
              ></Mathjax>
              <p>Neste caso, utilizar armadura para receber parte da compressão que iria ser suportada apenas pelo concreto no caso de armadura simples.</p>
              <Mathjax
                :mdData="`O momento resistido pelo concreto comprimido e pela armadura tracionada trabalhando no x/d = 0.45 será chamado de $ M_{lim} $`"
              ></Mathjax>
            </v-col>
          </v-row>

          <v-btn color="green" @click="etapa = 3">Calcular momento limite</v-btn>
        </v-stepper-content>
        <v-stepper-step step="3" editable :complete="e1 > 2">Cálculo do momento limite</v-stepper-step>

        <v-stepper-content step="3">
          <v-row>
            <v-col>
              <p>Considerando x limite como 0.45 . d</p>
              <Mathjax :mdData="`$ M_{lim} = F_c \\cdot z_{lim} $`"></Mathjax>
              <Mathjax
                :mdData="`$ F_c = (\\alpha_c \\cdot f_{cd}) \\cdot (b_w) \\cdot (\\lambda \\cdot x_{lim}) $`"
              ></Mathjax>
              <Mathjax
                :mdData="`$ F_c = (${this.alphaC} \\cdot ${this.fcd.toFixed(3)}) \\cdot (${this.inputs.bw.value}) \\cdot (0.85 \\cdot 0.45 \\cdot ${this.inputs.d.value}) = ${this.mlim.fc.toFixed(3)} \\ kN$`"
              ></Mathjax>

              <Mathjax
                :mdData="`$ z_{lim} = d - 0.4 \\cdot x_{lim} = ${this.inputs.d.value} - 0.4 \\cdot (0.45 \\cdot ${this.inputs.d.value}) = ${this.mlim.zlim.toFixed(3)} \\ m $`"
              ></Mathjax>

              <Mathjax :mdData="`$ M_{lim} = ${this.mlim.mlim.toFixed(3)} \\ kN m $`"></Mathjax>
              <p>Cálculo momento resistido pela armadura comprimida</p>

              <Mathjax :mdData="`$ M_2 = M_d - M_{lim}$`"></Mathjax>
              <Mathjax
                :mdData="`$ M_2 = 1.4 \\cdot ${this.inputs.m.value} - ${this.mlim.mlim.toFixed(3)} = ${this.mlim.m2.toFixed(3)} \\ kN m $`"
              ></Mathjax>

              <v-btn color="green" @click="etapa = 4">Calcular M2</v-btn>
            </v-col>
          </v-row>
        </v-stepper-content>
        <v-stepper-step step="4" editable :complete="etapa > 3">Cálculo das armaduras</v-stepper-step>

        <v-stepper-content step="4">
          <v-row>
            <v-col>
              <v-text-field
                class="mb-3"
                label="d'"
                hint="Distância armadura comprimida até borda comprimida (cobrimento+estribo+bitola/2)"
                suffix="cm"
                v-model.number="d2.value"
                type="number"
                min="0"
                persistent-hint
              ></v-text-field>
              <p class="title">Cálculo das armaduras tracionadas</p>
              <Mathjax :mdData="`$ A_{s} = A_{s1} + A_{s2}$`"></Mathjax>
              <Mathjax
                :mdData="`$ A_{s1} = \\frac{M_{lim}}{z \\cdot f_{yd}} = \\frac{M_{lim}}{(d - 0.4 \\cdot x_{lim}) \\cdot f_{yd}} = \\frac{${this.mlim.mlim.toFixed(3)}}{[1 - 0.4 \\cdot 0.45] \\cdot ${this.inputs.d.value} \\cdot ${this.aco.fyd.toFixed(3)}}$`"
              ></Mathjax>
              <Mathjax :mdData="`$ A_{s1} = ${this.as.as1.toFixed(3)} \\ cm^2$`"></Mathjax>
              <Mathjax
                :mdData="`$ A_{s2} = \\frac{M_d - M_{lim}}{(d - d') \\cdot f_{yd}} = \\frac{${this.as.md.toFixed(3)} - ${this.as.mlim}}{(${this.as.d} - ${this.d2.value}) \\cdot ${this.aco.fyd.toFixed(3)}}$`"
              ></Mathjax>
              <Mathjax :mdData="`$ A_{s2} = ${this.as.as2.toFixed(3)} \\ cm^2$`"></Mathjax>
              <Mathjax :mdData="`$ A_{s} = ${this.as.as.toFixed(3)} \\ cm^2$`"></Mathjax>
              <p class="title">Cálculo das armaduras comprimidas</p>
              <Mathjax :mdData="`$ A'_{s} = \\frac{M_2}{(d-d') \\cdot f'_s}$`"></Mathjax>
              <Mathjax
                :mdData="`$ A'_{s} = \\frac{${this.mlim.m2.toFixed(3)}}{(${this.mlim.d}-${this.d2.value}) \\cdot f'_s}$`"
              ></Mathjax>
              <p>Verificar escoamento da armadura comprimida</p>
              <div v-if="as.eps2 > aco.e">
                <Mathjax
                  :mdData="`$ \\epsilon_s = \\frac{0.0035 \\cdot (x_{lim} - d')}{x_{lim}} = \\frac{0.0035 \\cdot (0.45 \\cdot ${this.mlim.d} - ${this.d2.value})}{0.45 \\cdot ${this.mlim.d}} = ${this.as.eps2.toFixed(5)} $`"
                ></Mathjax>
                <Mathjax
                  :mdData="`Como $ \\epsilon_s > \\epsilon_{yd} ( \\epsilon_{yd} = ${this.aco.e}$ para ${this.aco.nome}) $ \\implies f_s \\equiv f_{yd} $ portanto: `"
                ></Mathjax>
                <Mathjax
                  :mdData="`$ A'_{s} = \\frac{${this.mlim.m2.toFixed(3)}}{(${this.mlim.d}-${this.d2.value}) \\cdot ${this.aco.fyd.toFixed(2)}} = ${this.as.as_comp.toFixed(2)} \\ cm^2$`"
                ></Mathjax>
              </div>
              <div v-else>
                <p>Deformação específica da armadura comprimida é maior do que a suportada pelo tipo de aço escolhido. (Eu acho que neste caso o aço entra em uma não linearidade de força e descolamento)</p>
              </div>
            </v-col>
          </v-row>
        </v-stepper-content>
      </v-stepper>
    </v-container>
  </div>
</template>


<script>
import TitleCard from "~/components/TitleCard.vue";
import Mathjax from "~/components/AnaliseMatricial/Mathjax.vue";
// var math = require('mathjs')
// var math2 = math.create({
//   matrix: 'Array'
// })
export default {
  components: {
    TitleCard,
    Mathjax
  },
  data() {
    return {
      warnings: [],
      titleCard: {
        title: "Cálculo de armadura dupla em vigas",
        subtitle:
          "Baseado no exemplo 7 do capítulo 3 do livro Cálculo e Detalhamento de Estruturas Usuais de Concreto Armado de Roberto Chust Carvalho",
        source:
          "https://gitlab.com/yurifbeck/engcivil/blob/laje2/pages/engcivil/viga_armadura_dupla.vue"
      },
      etapa: 1,
      rules: {
        simples: value =>
          value < this.dmin.dmin || "Para esta altura armadura simples basta"
      },
      alert: false,
      dialog: false,
      escoamento: false,
      e1: 1,
      aco: { nome: "CA50", e: 0.00207, fyd: 50 / 1.15 },
      acos: [
        { nome: "CA50", e: 0.00207, fyd: 50 / 1.15 },
        { nome: "CA60", e: 0.00248, fyd: 60 / 1.15 },
        { nome: "CA25", e: 0.00104, fyd: 25 / 1.15 }
      ],
      inputs: {
        bw: {
          name: "bw",
          value: 0.12,
          suffix: "m",
          hint: "Largura"
        },
        fck: {
          name: "f_ck",
          value: 20000,
          suffix: "kN/m2",
          hint: "F_ck"
        },
        d: {
          name: "d",
          value: 0.29,
          suffix: "m",
          hint: "Altura desejada",
          rules: [
            value =>
              value < this.dmin.dmin ||
              "Para esta altura armadura simples basta"
          ]
        },
        m: {
          name: "M",
          value: 45,
          suffix: "kN m",
          hint: "M = Momento, Md = M * 1.4 "
        }
      },
      d2: {
        value: 0.036
      }
    };
  },
  computed: {
    alphaC() {
      let fck = this.inputs.fck.value;
      if (fck < 50000) {
        this.warnings = [];
        this.alert = false;
        return 0.85;
      } else {
        this.alert = true;
        this.warnings.push(
          "Para Fck > 50 MPa, AlphaC do concreto não é 0.85 como usualmente (valor utilizado por considerar uma parábola a tensão de compressão), utilizar a fórmula 0.85 * (1 - ((fck - 50) /200)"
        );
        return 0.85 * (1 - (fck - 50) / 200);
      }
    },
    fcd() {
      return this.inputs.fck.value / 1.4;
    },
    as() {
      let md = this.inputs.m.value * 1.4;
      let mlim = this.mlim.mlim;
      let zlim = this.mlim.zlim;
      let d = this.inputs.d.value;
      let as1 = mlim / (zlim * this.aco.fyd);
      let as2 = (md - mlim) / ((d - this.d2.value) * this.aco.fyd);
      let as = as1 + as2;
      let eps2 = (0.0035 * (0.45 * d - this.d2.value)) / (0.45 * d);
      let as_comp = (md - mlim) / ((d - this.d2.value) * this.aco.fyd);
      return { md, mlim, zlim, d, as1, as2, as, eps2, as_comp };
    },
    mlim() {
      let d = this.inputs.d.value;
      let fc = this.alphaC * this.fcd * this.inputs.bw.value * 0.8 * 0.45 * d;
      let zlim = d - 0.4 * (0.45 * d);
      let mlim = fc * zlim;
      let m2 = this.inputs.m.value - mlim;
      return { mlim, fc, zlim, d, m2 };
    },
    dmin() {
      let m = this.inputs.m.value;
      let md = m * 1.4;
      let bw = this.inputs.bw.value;
      let dmin = 2 * Math.sqrt(md / (bw * this.fcd));
      let x = dmin * 0.45;
      let z = dmin - 0.4 * x;
      let as = md / (z * this.aco.fyd);
      return { m, md, bw, dmin, x, z, as };
    },
    simples() {
      return this.inputs.d.value > this.dmin.dmin ? true : false;
    }
  }
};
</script>
