<template>
  <div>
    <v-stepper dark v-model="e1">
      <v-stepper-header>
        <v-stepper-step :complete="e1 > 1" step="1" editable>Escolha sua ação</v-stepper-step>

        <v-divider></v-divider>

        <v-stepper-step :complete="e1 > 2" step="2">Escolha analises</v-stepper-step>

        <v-divider></v-divider>

        <v-stepper-step step="3">Resultado</v-stepper-step>
      </v-stepper-header>

      <v-stepper-items>
        <v-stepper-content step="1">
          <v-card class="pa-2">
            <v-flex xs12>
              <Datepicker />
              <v-text-field
                dark
                v-model="acao"
                autofocus
                append-outer-icon="search"
                :loading="this.$store.state.loading"
                :error="fetchError !== '' ? true : false"
                :error-messages="fetchError"
                clear-icon="close"
                clearable
                label="Procurar acao..."
                hint="Permitido apenas 5 pesquisas por minuto"
                type="text"
                @click:append-outer="searchW"
                @keyup.enter.native="searchW"
              ></v-text-field>
            </v-flex>

            <v-list two-line subheader>
              <v-list-tile v-for="item in items" :key="item.name" @click="selected(item, $event)">
                <v-list-tile-content>
                  <v-list-tile-title>{{ item.symbol }}</v-list-tile-title>
                  <v-list-tile-sub-title>{{ item.name }}</v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>
            </v-list>
          </v-card>
        </v-stepper-content>

        <v-stepper-content step="2" class="pa-0">
          <v-card dark>
            <v-card-title primary-title>
              <div>
                <h3 class="headline">{{ select.symbol}}</h3>
                <span>{{select.name }}</span>
                <br />
                <span>{{select.stock_exchange_long }}</span>
                <br />
                <span>Currency: {{select.currency }}</span>
                <br />
                <span>Price: {{select.price}}</span>
              </div>
            </v-card-title>

            <template v-if="!$store.state.loading">
              <plot2 />
              <v-layout row wrap>
                <v-flex xs12 lg12>
                  <v-expansion-panel popout>
                    <!-- <bollinger :data="values"/> -->
                    <sma2 />
                    <bollinger2 />
                    <!-- <goldencross :sma="indicators.analysis"/> -->
                  </v-expansion-panel>
                </v-flex>
              </v-layout>
            </template>
            <!-- <indicadores v-if="plotValues" :values="values" :indicators="indicators"/> -->
          </v-card>

          <v-btn color="primary">Continue</v-btn>
          <v-btn color="primary" @click="e1 = 1">Back</v-btn>
        </v-stepper-content>

        <v-stepper-content step="3">
          <v-card class="mb-5" color="grey lighten-1" height="200px">
            <!-- <plot v-if="e1 === 3" :hitoricalData="dados" :traces="indicators"/> -->
          </v-card>
          <v-btn color="primary" @click="e1 = 1" :disabled="loading" :loading="loading">Reset</v-btn>
          <v-btn color="primary" @click="e1 = 2">Back</v-btn>
        </v-stepper-content>
      </v-stepper-items>
    </v-stepper>
  </div>
</template>

<script>
import bollinger2 from "~/components/finance/indicators/bollinger2.vue";
import sma2 from "~/components/finance/indicators/sma2.vue";
import plot2 from "~/components/finance/plot2.vue";
import indicadores from "~/components/finance/indicadores.vue";
import Datepicker from "~/components/finance/datepicker.vue";
import { ma, maAnalysis, mstd } from "~/components/finance/indicators.js";

export default {
  components: {
    plot2,
    sma2,
    indicadores,
    bollinger2,
    Datepicker
  },
  data() {
    return {
      e1: 0,
      acao: "",
      valuesW: [],
      fetchError: "",
      select: "",
      dados: {},
      plotValues: false,
      loading: false,
      indicators: {}
    };
  },
  computed: {
    items() {
      return this.$store.state.tickerList;
    },
    ohlc() {
      return this.$store.state.ticker.ohlc;
    }
  },
  methods: {
    selected(item) {
      this.select = item;
      this.e1++;
      this.$store.dispatch("requestTickerData", { symbol: this.select.symbol });
    },
    async searchW() {
      this.$store.dispatch("searchTicker", this.acao);
    },
    async getValuesW() {
      this.$store.dispatch("requestTickerData", { symbol: this.select.symbol });
      this.indicators.sma20 = ma(this.dados.close, 20);
      this.indicators.sma50 = ma(this.dados.close, 50);
      this.indicators.sma200 = ma(this.dados.close, 200);
      this.indicators.mstd20 = mstd(this.dados.close, 20);
      this.indicators.upperBollinger2_20 = this.indicators.sma20.map(
        (v, i) => +v + +this.indicators.mstd20[i]
      );
      this.indicators.lowerBollinger2_20 = this.indicators.sma20.map(
        (v, i) => +v - +this.indicators.mstd20[i]
      );
      this.indicators.analysis = maAnalysis(
        this.indicators.sma50,
        this.indicators.sma200,
        this.indicators.mstd20,
        this.indicators.upperBollinger2_20,
        this.indicators.lowerBollinger2_20
      );
    }
  }
};
</script>
