<template>
  <div>
    <TitleCard :titlecard="titleCard" />
    <v-container fluid grid-list-lg id="investimestos">
      <v-layout row wrap>
        <Card v-for="(card,n) in cards" :key="n" :card="card"></Card>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import TitleCard from "~/components/TitleCard";
import Card from "~/components/Card";

export default {
  components: {
    TitleCard,
    Card
  },
  data() {
    return {
      titleCard: {
        title: "Investimentos",
        subtitle:
          "Encontre aqui diversos mini apps para você escolher seu próximo investimento com mais confiança"
      },
      cards: {
        analiseGrafica: {
          title: "---DEFEITO: Analise Grafica----",
          description:
            "UPDATE: API FOI QUEBRADA EM AGOSTO/19. NAO FUNCIONA MAIS. Mini Aplicativo para auxilio na analise grafica de acoes da bovespa. Possui comparacoes de SMA (media moveis) entre outras indicacoes",
          year: "2019",
          color: "red",
          link: "/investimentos/acoes",
          author: "Yuri Becker"
        }
      }
    };
  }
};
</script>

<style scoped>
#engcivil {
  background-color: black;
  height: 100vh;
}
</style>
