<template>
  <v-layout row wrap>
    <v-flex xs12 sm6>
      <v-menu
        v-model="menu1"
        :close-on-content-click="true"
        :nudge-right="40"
        transition="scale-transition"
        offset-y
        full-width
        min-width="290px"
      >
        <template v-slot:activator="{ on }">
          <v-text-field v-model="dateFrom" label="Inicio" prepend-icon="event" readonly v-on="on"></v-text-field>
        </template>
        <v-date-picker v-model="dateFrom" @input="menu1 = false"></v-date-picker>
      </v-menu>
    </v-flex>
    <v-flex xs12 sm6>
      <v-menu
        v-model="menu2"
        :close-on-content-click="true"
        :nudge-right="40"
        transition="scale-transition"
        offset-y
        full-width
        min-width="290px"
      >
        <template v-slot:activator="{ on }">
          <v-text-field v-model="dateTo" label="Fim" prepend-icon="event" readonly v-on="on"></v-text-field>
        </template>
        <v-date-picker v-model="dateTo" @input="menu2 = false"></v-date-picker>
      </v-menu>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  data() {
    return {
      menu1: false,
      menu2: false,
      modal: false,
      from: ""
    };
  },
  computed: {
    dateFrom: {
      get() {
        return this.$store.state.dateFrom;
      },
      set(value) {
        this.$store.commit("SET_DATEFROM", value);
      }
    },
    dateTo: {
      get() {
        return this.$store.state.dateTo;
      },
      set(value) {
        this.$store.commit("SET_DATETO", value);
      }
    }
  },
  methods: {
    updateInput(dates) {
      console.log("updateInput");
      console.log(dates);
      this.$store.commit("SET_DATES", dates);
    }
  }
};
</script>