<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs12 lg12>
        <v-expansion-panel popout>
          <bollinger :data="values"/>
          <bollinger2 :sma="indicators.analysis"/>
          <goldencross :sma="indicators.analysis"/>
        </v-expansion-panel>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import bollinger from "~/components/finance/indicators/bollinger.vue";
import bollinger2 from "~/components/finance/indicators/bollinger2.vue";
import goldencross from "~/components/finance/indicators/goldencross.vue";
export default {
  components: { bollinger, bollinger2, goldencross },
  data() {
    return {};
  },
  props: ["indicators", "values"]
};
</script>

