<template>
  <div id="ohlc"></div>
</template>

<script>
let Plotly;
if (process.browser) {
  Plotly = require("plotly.js");
}
export default {
  props: ["historicalData", "traces"],
  data() {
    return {
      myPlot: null,
      plotData: [],
      layout: {}
    };
  },
  computed: {
    padded() {
      var x = this.clientWidth - 10;
      var y = this.clientHeight - 10;
      return { x, y };
    }
  },
  watch: {
    historicalData: {
      handler() {
        console.log("watched");
        this.updateData();
        this.updatePlot();
      },
      deep: true
    }
  },
  mounted() {
    this.clientWidth = this.$el.clientWidth;
    this.clientHeight = this.$el.clientHeight;
    this.myPlot = this.$el;
    this.initPlot();
  },
  methods: {
    traceSMA50() {
      var sma50 = {
        x: this.historicalData.date.slice(49),
        y: this.traces.sma50,
        type: "scatter",
        mode: "lines",
        name: "SMA 50"
      };
      return sma50;
    },
    traceSMA200() {
      var sma200 = {
        x: this.historicalData.date.slice(199),
        y: this.traces.sma200,
        type: "scatter",
        mode: "lines",
        name: "SMA 200"
      };
      return sma200;
    },
    traceOhlc() {
      var trace = {
        x: this.historicalData.date,
        open: this.historicalData.open,
        high: this.historicalData.high,
        low: this.historicalData.low,
        close: this.historicalData.close,
        decreasing: { line: { color: "#7F7F7F" } },
        increasing: { line: { color: "#17BECF" } },
        line: { color: "rgba(31,119,180,1)" },
        type: "candlestick",
        name: "série",
        showlegend: true,
        // hoverinfo: 'none',
        // legendgroup: 'elementos',
        xaxis: "x",
        yaxis: "y"
      };
      // console.log('elements traces', trace)
      return trace;
    },
    updateData() {
      console.log("updateData");
      // this.plotData = [];
      this.plotData.push(this.traceOhlc());
      this.plotData.push(this.traceSMA50());
      this.plotData.push(this.traceSMA200());
    },
    // tracesArray() {
    //   return [this.traceSMA50(), this.traceOhlc()];
    // },
    initPlot() {
      // console.log("initPlot", "plotData = ", this.plotData);
      this.plotData.push(this.traceOhlc());
      this.plotData.push(this.traceSMA50());
      this.plotData.push(this.traceSMA200());
      this.layout = {
        autosize: true,
        height: 500,
        width: this.clientWidth,
        showLegend: false,
        dragmode: "zoom",
        margin: {
          l: 30,
          r: 30,
          b: 30,
          t: 50,
          pad: 10
        },
        yaxis: {
          autorange: true,
          type: "linear"
        }
        // annotations: annotate
      };

      Plotly.newPlot(this.myPlot, this.plotData, this.layout);
    },
    updatePlot() {
      Plotly.react(this.myPlot, this.plotData, this.layout, {
        transition: { duration: 500, easing: "cubic-in-out" }
      });
    }
  }
};
</script>
