<template>
  <div id="ohlc"></div>
</template>

<script>
let Plotly;
if (process.browser) {
  Plotly = require("plotly.js");
}
export default {
  data() {
    return {
      myPlot: null,
      plotData: [],
      layout: {
        title: {
          text: this.$store.state.ticker.name,
          font: {
            size: 24
          },
          xref: "paper",
          x: 0.5,
          y: 0.9
        },
        xaxis: {
          type: "date",
          rangeslider: {
            visible: false
          }
        },
        yaxis: {
          autorange: true,
          domain: [0, 1]
        },
        autosize: true,
        height: 500,
        width: this.clientWidth,
        responsive: true,
        // showLegend: true,
        legend: { orientation: "h" },
        dragmode: "zoom",
        margin: {
          l: 20,
          r: 20,
          b: 30,
          t: 60,
          pad: 0
        }
      }
    };
  },
  mounted() {
    this.myPlot = this.$el;
    this.candleTrace(this.ohlc);
    // this.lineTrace("SMA 50", this.historicalData.date, this.traces.sma50);
    // this.lineTrace("SMA 200", this.historicalData.date, this.traces.sma200);
    // this.lineTrace(
    //   "Bollinger U_20_2",
    //   this.historicalData.date,
    //   this.traces.upperBollinger2_20
    // );
    Plotly.react(
      this.myPlot,
      this.plotData,
      this.layout,
      { responsive: true },
      {
        transition: { duration: 500, easing: "cubic-in-out" }
      }
    );
  },
  watch: {
    traces() {
      this.traces.forEach(trace => {
        // console.log("line traced");
        let line = this.lineTrace(trace.name, trace.x, trace.y);
        Plotly.addTraces(this.myPlot, line);
      });
    },
    remove() {
      Plotly.deleteTraces(this.myPlot, id);
    }
  },
  computed: {
    title() {
      return this.$store.state.ticker.name;
    },
    traces() {
      return this.$store.state.traces;
    },
    remove() {
      this.$store.state.remove;
    }
  },
  methods: {
    lineTrace(name, x, y) {
      var line = {
        x: x,
        y: y,
        type: "scatter",
        mode: "lines",
        name: name
      };
      return line;
    },
    candleTrace() {
      let ohlc = this.$store.state.ticker.ohlc;
      var candle = {
        x: ohlc.date,
        open: ohlc.open,
        high: ohlc.high,
        low: ohlc.low,
        close: ohlc.close,
        decreasing: { line: { color: "#7F7F7F" } },
        increasing: { line: { color: "#17BECF" } },
        line: { color: "rgba(31,119,180,1)" },
        type: "candlestick",
        name: "série",
        showlegend: true,
        xaxis: "x",
        yaxis: "y"
      };
      this.plotData.push(candle);
    }
  }
};
</script>