<template>
  <div id="indicator"></div>
</template>

<script>
let Plotly;
if (process.browser) {
  Plotly = require("plotly.js");
}
export default {
  props: ["traces"],
  data() {
    return {
      myPlot: null,
      plotData: [],
      layout: {
        autosize: true,
        height: 500,
        width: this.clientWidth,
        responsive: true,
        showLegend: true,
        dragmode: "zoom",
        margin: {
          l: 30,
          r: 30,
          b: 30,
          t: 50,
          pad: 10
        }
      }
    };
  },
  mounted() {
    this.myPlot = this.$el;
    this.trances.forEach(trace => {
      try {
        this.lineTrace(element.name, trace.x, trace.y);
      } catch (e) {
        console.log(e);
      }
    });

    Plotly.react(this.myPlot, this.plotData, this.layout, {
      transition: { duration: 500, easing: "cubic-in-out" }
    });
  },
  methods: {
    lineTrace(name, x, y) {
      var line = {
        x: x,
        y: y,
        type: "scatter",
        mode: "lines",
        name: name
      };
      this.plotData.push(line);
    }
  }
};
</script>