<template>
  <v-expansion-panel-content>
    <template v-slot:header>
      <div>
        SMA - Simple Moving Average
        <br>(Média movel simples)
      </div>
    </template>
    <v-card>
      <v-form>
        <v-container>
          <v-layout row wrap>
            <v-flex xs12></v-flex>
          </v-layout>
        </v-container>
      </v-form>

      <v-dialog v-model="dialog" width="500">
        <template v-slot:activator="{ on }">
          <v-btn color="info" dark v-on="on">Informação</v-btn>
        </template>

        <v-card>
          <v-card-title class="headline info lighten-2" primary-title>{{ name }}</v-card-title>

          <v-card-text>{{description }}</v-card-text>

          <v-divider></v-divider>
        </v-card>
      </v-dialog>
    </v-card>
  </v-expansion-panel-content>
</template>

<script>
export default {
  props: ["sma"],
  data() {
    return {
      dialog: false,
      name: "Simple moving average",
      nome: "Média movel simples",
      description:
        "A moving average (MA) is a widely used indicator in technical analysis that helps smooth out price action by filtering out the “noise” from random short-term price fluctuations. It is a trend-following, or lagging, indicator because it is based on past prices."
    };
  }
};
</script>
