<template>
  <v-container grid-list-xl>
    <v-layout row wrap>
      <v-flex sm8 xs12 offset-sm3>
        <v-card hover raised>
          <v-container fluid class="pa-3">
            <v-layout row wrap>
              <v-flex sm12>
                Assuntos:
                <v-chip label v-for="(tag,i) in tags" :key="i">{{tag.nome}}</v-chip>
              </v-flex>
            </v-layout>
          </v-container>

          <v-img v-if="img" class="white--text" :height="img.size" :src="img"></v-img>

          <v-card-title primary-title>
            <div>
              <h6 class="title font-weight-thin">{{concurso}} - {{ano}}</h6>
              <h3 class="headline mb-0">Questão {{questao}}</h3>
              <v-divider></v-divider>
            </div>
          </v-card-title>
          <v-card-title>
            <h2>{{enunciado}}</h2>
          </v-card-title>
        </v-card>
      </v-flex>
    </v-layout>

    <aberta v-if="tipo === 'aberta'" v-bind:vars="vars"/>

    <multipla v-if="tipo === 'multi'" v-bind:alternativas="alternativas"/>
    <v-layout px-1>
      <v-flex sm8 xs12 offset-sm3>
        <v-layout row wrap>
          <v-flex xs6>
            <v-btn v-if="id > 1" :to="`${id - 1}`">
              <v-icon dark>arrow_left</v-icon>
              Questão {{id - 1}}
            </v-btn>
          </v-flex>
          <v-flex xs6 align-end>
            <v-btn v-if="isThereNext" :to="`${id + 1}`">
              Questão {{id + 1}}
              <v-icon dark>arrow_right</v-icon>
            </v-btn>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import questoes from "~/assets/questoes.json";
import multipla from "~/components/resolucao/multipla.vue";
import aberta from "~/components/resolucao/aberta.vue";

export default {
  components: {
    multipla,
    aberta
  },
  validate({ params }) {
    return !isNaN(+params.id);
  },
  asyncData({ params, db, error }) {
    const questao = questoes.find(ex => +ex.id === +params.id);
    if (!questao) {
      return error({ message: "Questao não encontrada", statusCode: 404 });
    }
    return questao;
  },
  data() {
    return {
      e1: 0,
      questoes: questoes
    };
  },
  head() {
    return {
      title: this.concurso + " " + this.questao
    };
  },
  computed: {
    isThereNext() {
      const next = this.questoes.find(
        ex => +ex.id === parseInt(this.$route.params.id) + 1
      );
      return next ? true : false;
    }
  }
};
</script>