<template>
  <div>
    <TitleCard :titlecard="{title: 'Resolução de Questões'}" />
    <v-container fluid>
      <v-layout row>
        <v-flex xs12>
          <v-card class="py-3">
            <ul>
              <li v-for="questao in questoes" :key="questao.id">
                <nuxt-link :to="'/engcivil/resolucao/'+questao.id">
                  Concurso: {{ questao.concurso }}
                  Ano: {{ questao.ano }}
                  Questão: {{ questao.questao }}
                </nuxt-link>
              </li>
            </ul>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import questoes from "~/assets/questoes.json";
import TitleCard from "~/components/TitleCard.vue";

export default {
  components: { TitleCard },
  data() {
    return {
      questoes
    };
  }
};
</script>