<template>
  <v-card>
    <v-card-title primary-title>
      <h2 class="display-3 success--text pl-3 text-lg-right">
        <v-fade-transition leave-absolute>
          <span>{{ valueDisplayed }}</span>
        </v-fade-transition>
      </h2>
    </v-card-title>
    <v-divider py-3></v-divider>
    <v-card-text>
      <v-container grid-list-sm fluid align-content-center>
        <v-layout row wrap>
          <v-flex xs6>
            <v-btn fab color="warning" @click="clear">C</v-btn>
          </v-flex>
          <v-flex xs3>
            <v-btn fab color="blue-grey" @click="handleDigit(Math.PI)">Pi</v-btn>
          </v-flex>
          <v-flex xs3>
            <v-btn fab color="info" @click="handleOp('/')">/</v-btn>
          </v-flex>

          <v-flex xs3>
            <v-btn fab @click="handleDigit(7)">7</v-btn>
          </v-flex>
          <v-flex xs3>
            <v-btn fab @click="handleDigit(8)">8</v-btn>
          </v-flex>
          <v-flex xs3>
            <v-btn fab @click="handleDigit(9)">9</v-btn>
          </v-flex>
          <v-flex xs3>
            <v-btn fab color="info" @click="handleOp('x')">x</v-btn>
          </v-flex>

          <v-flex xs3>
            <v-btn fab @click="handleDigit(4)">4</v-btn>
          </v-flex>
          <v-flex xs3>
            <v-btn fab @click="handleDigit(5)">5</v-btn>
          </v-flex>
          <v-flex xs3>
            <v-btn fab @click="handleDigit(6)">6</v-btn>
          </v-flex>
          <v-flex xs3>
            <v-btn fab color="info" @click="handleOp('-')">-</v-btn>
          </v-flex>

          <v-flex xs3>
            <v-btn fab @click="handleDigit(1)">1</v-btn>
          </v-flex>
          <v-flex xs3>
            <v-btn fab @click="handleDigit(2)">2</v-btn>
          </v-flex>
          <v-flex xs3>
            <v-btn fab @click="handleDigit(3)">3</v-btn>
          </v-flex>
          <v-flex xs3>
            <v-btn fab color="info" @click="handleOp('+')">+</v-btn>
          </v-flex>

          <v-flex xs3></v-flex>
          <v-flex xs3>
            <v-btn fab @click="handleDigit(0)">0</v-btn>
          </v-flex>
          <v-flex xs3>
            <v-btn fab @click="handleDecimal()">.</v-btn>
          </v-flex>
          <v-flex xs3>
            <v-btn color="success" fab @click="handleOp('=')">=</v-btn>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  data() {
    return {
      currentValue: 0,
      savedValue: false,
      currentOp: false,
      decimal: false
    };
  },
  methods: {
    clear() {
      this.currentValue = 0;
      this.savedValue = false;
      this.currentOp = false;
    },
    handleDecimal() {
      this.decimal = true;
    },
    handleDigit(digit) {
      if (this.currentOp === "=") {
        this.savedValue = false;
      }
      if (this.decimal) {
        this.currentValue += digit / 10;
      } else {
        this.currentValue = this.currentValue * 10 + digit;
      }
    },
    handleOp(op) {
      if (this.currentOp) {
        this.process();
      } else {
        this.savedValue = this.currentValue;
      }
      this.decimal = false;
      this.currentValue = 0;
      this.currentOp = op;
    },
    process() {
      if (this.currentOp === "+") {
        this.savedValue += this.currentValue;
      } else if (this.currentOp === "-") {
        this.savedValue -= this.currentValue;
      } else if (this.currentOp === "x") {
        this.savedValue *= this.currentValue;
      } else if (this.currentOp === "/") {
        this.savedValue /= this.currentValue;
      } else if (this.currentOp === "sqrt") {
        this.savedValue = Math.sqrt(this.currentValue);
      } else if (this.currentOp === "sin") {
        this.savedValue = Math.sin(this.currentValue);
      } else if (this.currentOp === "sqrt") {
        this.savedValue = Math.cos(this.currentValue);
      } else if (this.currentOp === "sqrt") {
        this.savedValue = Math.tan(this.currentValue);
      } else if (this.currentOp === "=" && this.currentValue) {
        this.savedValue = this.currentValue;
      }
      this.currentValue = 0;
      this.currentOp = false;
    }
  },
  computed: {
    valueDisplayed() {
      return this.savedValue
        ? this.currentValue
          ? this.currentValue
          : this.savedValue
        : this.currentValue;
    }
  }
};
</script>

<style scoped>
/* html {
  background: #CCC;
  font-family: sans-serif;
}

body {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100vh;
}

#calculator {
  border: 2px solid #222;
  border-radius: 4px;
  max-width: 350px;
}

#result {
  font-size: 42px;
  width: 100%;
  height: 70px;
  box-sizing: border-box;
  display: grid;
  padding: 10px;
  justify-items: end;
  align-items: center;
  border-bottom: 2px solid #222;
}

#pad {
  display: grid;
  grid-template-columns: repeat(4, minmax(60px, 1fr));
  grid-gap: 10px;
  padding: 15px;
}

.btn {
  cursor: pointer;
  font-size: 20px;
  display: grid;
  padding: 15px 10px;
  justify-items: center;
  align-items: center;
  color: #FAFAFA;
  border: 1px solid #222;
  border-radius: 4px;
  background: #777;
}

#clear {
  background: steelblue;
  grid-column: 1/4;
}

#zero {
  grid-column: 1/4;
}

#equal {
  background: seagreen;
} */
</style>



