<template>
  <v-flex xs12 sm12 md6>
    <!-- -----------------------  -->
    <v-card class="white--text" :color="card.color ? card.color : accentColor">
      <p class="pl-3 pt-2 mb-0 headline">{{card.title}}</p>
      <p class="pl-3 caption grey-lighten-2--text">by {{card.author}} in {{card.year}}</p>

      <v-img contain :src="card.image"></v-img>

      <v-card-text>
        <p class="white--text">{{card.description}}</p>
      </v-card-text>

      <v-card-actions>
        <v-btn outlinedd color="white" :to="card.link">Acessar</v-btn>
      </v-card-actions>
    </v-card>
  </v-flex>
</template>

<script>
export default {
  props: {
    image: {
      default: "https://picsum.photos/125/",
      type: String
    },
    card: {
      required: true,
      type: Object
    }
  },

  data() {
    return {};
  },
  computed: {
    accentColor() {
      return this.$store.state.accentColor;
    }
  }
};
</script>

<style scoped>
.rounded-corners {
  /* border-radius: 20px; */
}
</style>
