<template>
  <v-card>
    <v-card-title primary-title>
      <v-select :items="grandezas" label="Unidade" v-model="grandeza_escolhida"></v-select>
    </v-card-title>
    <v-divider py-1></v-divider>
    <v-card-text>
      <v-container grid-list-sm fluid align-content-center>
        <v-layout row wrap>
          <v-flex xs6>
            <v-select :items="unidades" label="Unidade" v-model="unidade_escolhida" />
          </v-flex>
          <v-flex xs6>
            <v-select :items="unidades" label="Unidade" v-model="unidade_convertida" />
          </v-flex>
        </v-layout>

        <v-divider py-1></v-divider>
        <v-layout row wrap>
          <v-flex xs6>
            <v-text-field label="Unidade" v-model="valorEscolhido" @input="convert1" />
          </v-flex>
          <v-flex xs6>
            <v-text-field label="Unidade" v-model="valorConvertido" @input="convert2" />
          </v-flex>
        </v-layout>

        <v-divider py-1></v-divider>
      </v-container>
    </v-card-text>
    <v-bottom-sheet v-model="sheet">
      <v-alert prominent type="error">Conversão de temperatura possui erros. Verificar resultado.</v-alert>
    </v-bottom-sheet>
  </v-card>
</template>

<script>
// ====================================
//  Global Variable & Data Definitions
// ====================================
var property = [];
var unit = [];
var factor = [];

property[0] = "Acceleration";
unit[0] = [
  "Meter/sq.sec (m/sec^2)",
  "Foot/sq.sec (ft/sec^2)",
  "G (g)",
  "Galileo (gal)",
  "Inch/sq.sec (in/sec^2)"
];
factor[0] = [1, 0.3048, 9.80665, 0.01, 2.54e-2];

property[1] = "Area";
unit[1] = [
  "Square meter (m^2)",
  "Acre (acre)",
  "Are",
  "Barn (barn)",
  "Hectare",
  "Rood",
  "Square centimeter",
  "Square kilometer",
  "Circular mil",
  "Square foot (ft^2)",
  "Square inch (in^2)",
  "Square mile (mi^2)",
  "Square yard (yd^2)"
];
factor[1] = [
  1,
  4046.856,
  100,
  1e-28,
  10000,
  1011.71413184285,
  0.0001,
  1000000,
  5.067075e-10,
  9.290304e-2,
  6.4516e-4,
  2589988,
  0.8361274
];

property[2] = "Torque";
unit[2] = [
  "Newton-meter (N m)",
  "Dyne-centimeter(dy cm)",
  "Kgrf-meter (kgf m)",
  "lbf-inch (lbf in)",
  "lbf-foot (lbf ft)"
];
factor[2] = [1, 0.0000001, 9.80665, 0.1129848, 1.355818];

property[3] = "Electricity";
unit[3] = [
  "Coulomb (Cb)",
  "Abcoulomb",
  "Ampere hour (A hr)",
  "Faraday (F)",
  "Statcoulomb",
  "Millifaraday (mF)",
  "Microfaraday (mu-F)",
  "Picofaraday (pF)"
];
factor[3] = [
  1,
  10,
  3600,
  96521.8999999997,
  0.000000000333564,
  96.5219,
  9.65219e-2,
  9.65219e-5
];

property[4] = "Energy";
unit[4] = [
  "Joule (J)",
  "BTU (mean)",
  "BTU (thermochemical)",
  "Calorie (SI) (cal)",
  "Calorie (mean)(cal)",
  "Calorie (thermo)",
  "Electron volt (eV)",
  "Erg (erg)",
  "Foot-pound force",
  "Foot-poundal",
  "Horsepower-hour",
  "Kilocalorie (SI)(kcal)",
  "Kilocalorie (mean)(kcal)",
  "Kilowatt-hour (kW hr)",
  "Ton of TNT",
  "Volt-coulomb (V Cb)",
  "Watt-hour (W hr)",
  "Watt-second (W sec)"
];
factor[4] = [
  1,
  1055.87,
  1054.35,
  4.1868,
  4.19002,
  4.184,
  1.6021e-19,
  0.0000001,
  1.355818,
  4.214011e-2,
  2684077.3,
  4186.8,
  4190.02,
  3600000,
  4.2e9,
  1,
  3600,
  1
];

property[5] = "Force";
unit[5] = [
  "Newton (N)",
  "Dyne (dy)",
  "Kilogram force (kgf)",
  "Kilopond force (kpf)",
  "Kip (k)",
  "Ounce force (ozf)",
  "Pound force (lbf)",
  "Poundal"
];
factor[5] = [
  1,
  0.00001,
  9.80665,
  9.80665,
  4448.222,
  0.2780139,
  0.4535924,
  0.138255
];

property[6] = "Force / Length";
unit[6] = [
  "Newton/meter (N/m)",
  "Pound force/inch (lbf/in)",
  "Pound force/foot (lbf/ft)"
];
factor[6] = [1, 175.1268, 14.5939];

property[7] = "Length";
unit[7] = [
  "Meter (m)",
  "Angstrom (A')",
  "Astronomical unit (AU)",
  "Caliber (cal)",
  "Centimeter (cm)",
  "Kilometer (km)",
  "Ell",
  "Em",
  "Fathom",
  "Furlong",
  "Fermi (fm)",
  "Foot (ft)",
  "Inch (in)",
  "League (int'l)",
  "League (UK)",
  "Light year (LY)",
  "Micrometer (mu-m)",
  "Mil",
  "Millimeter (mm)",
  "Nanometer (nm)",
  "Mile (int'l nautical)",
  "Mile (UK nautical)",
  "Mile (US nautical)",
  "Mile (US statute)",
  "Parsec",
  "Pica (printer)",
  "Picometer (pm)",
  "Point (pt)",
  "Rod",
  "Yard (yd)"
];
factor[7] = [
  1,
  1e-10,
  1.49598e11,
  0.000254,
  0.01,
  1000,
  1.143,
  4.2323e-3,
  1.8288,
  201.168,
  1e-15,
  0.3048,
  0.0254,
  5556,
  5556,
  9.46055e15,
  0.000001,
  0.0000254,
  0.001,
  1e-9,
  1852,
  1853.184,
  1852,
  1609.344,
  3.08374e16,
  4.217518e-3,
  1e-12,
  0.0003514598,
  5.0292,
  0.9144
];

property[8] = "Light";
unit[8] = [
  "Lumen/sq.meter (Lu/m^2)",
  "Lumen/sq.centimeter",
  "Lumen/sq.foot",
  "Foot-candle (ft-cdl)",
  "Foot-lambert",
  "Candela/sq.meter",
  "Candela/sq.centimeter",
  "Lux (lux)",
  "Phot"
];
factor[8] = [
  1,
  10000,
  10.76391,
  10.76391,
  10.76391,
  3.14159250538575,
  31415.9250538576,
  1,
  10000
];

property[9] = "Mass";
unit[9] = [
  "Kilogram (kgr)",
  "Gram (gr)",
  "Milligram (mgr)",
  "Microgram (mu-gr)",
  "Carat (metric)(ct)",
  "Hundredweight (long)",
  "Hundredweight (short)",
  "Pound mass (lbm)",
  "Pound mass (troy)",
  "Ounce mass (ozm)",
  "Ounce mass (troy)",
  "Slug",
  "Ton (assay)",
  "Ton (long)",
  "Ton (short)",
  "Ton (metric)",
  "Tonne"
];
factor[9] = [
  1,
  0.001,
  1e-6,
  0.000000001,
  0.0002,
  50.80235,
  45.35924,
  0.4535924,
  0.3732417,
  0.02834952,
  0.03110348,
  14.5939,
  0.02916667,
  1016.047,
  907.1847,
  1000,
  1000
];

property[10] = "Mass Flow";
unit[10] = [
  "Kilogram/second (kgr/sec)",
  "Pound mass/sec (lbm/sec)",
  "Pound mass/min (lbm/min)"
];
factor[10] = [1, 0.4535924, 0.007559873];

property[11] = "Density & Mass capacity";
unit[11] = [
  "Kilogram/cub.meter",
  "Grain/galon",
  "Grams/cm^3 (gr/cc)",
  "Pound mass/cubic foot",
  "Pound mass/cubic-inch",
  "Ounces/gallon (UK,liq)",
  "Ounces/gallon (US,liq)",
  "Ounces (mass)/inch",
  "Pound mass/gal (UK,liq)",
  "Pound mass/gal (US,liq)",
  "Slug/cubic foot",
  "Tons (long,mass)/cub.yard"
];
factor[11] = [
  1,
  0.01711806,
  1000,
  16.01846,
  27679.91,
  6.236027,
  7.489152,
  1729.994,
  99.77644,
  119.8264,
  515.379,
  1328.939
];

property[12] = "Power";
unit[12] = [
  "Watt (W)",
  "Kilowatt (kW)",
  "Megawatt (MW)",
  "Milliwatt (mW)",
  "BTU (SI)/hour",
  "BTU (thermo)/second",
  "BTU (thermo)/minute",
  "BTU (thermo)/hour",
  "Calorie (thermo)/second",
  "Calorie (thermo)/minute",
  "Erg/second",
  "Foot-pound force/hour",
  "Foot-pound force/minute",
  "Foot-pound force/second",
  "Horsepower(550 ft lbf/s)",
  "Horsepower (electric)",
  "Horsepower (boiler)",
  "Horsepower (metric)",
  "Horsepower (UK)",
  "Kilocalorie (thermo)/min",
  "Kilocalorie (thermo)/sec"
];
factor[12] = [
  1,
  1000,
  1000000,
  0.001,
  0.2930667,
  1054.35,
  17.5725,
  0.2928751,
  4.184,
  6.973333e-2,
  0.0000001,
  0.0003766161,
  0.02259697,
  1.355818,
  745.7,
  746,
  9809.5,
  735.499,
  745.7,
  69.7333,
  4184
];

property[13] = "Pressure & Stress";
unit[13] = [
  "Newton/sq.meter",
  "Atmosphere (normal)",
  "Atmosphere (techinical)",
  "Bar",
  "Centimeter mercury(cmHg)",
  "Centimeter water (4'C)",
  "Decibar",
  "Kgr force/sq.centimeter",
  "Kgr force/sq.meter",
  "Kip/square inch",
  "Millibar",
  "Millimeter mercury(mmHg)",
  "Pascal (Pa)",
  "Kilopascal (kPa)",
  "Megapascal (Mpa)",
  "Poundal/sq.foot",
  "Pound-force/sq.foot",
  "Pound-force/sq.inch (psi)",
  "Torr (mmHg,0'C)"
];
factor[13] = [
  1,
  101325,
  98066.5,
  100000,
  1333.22,
  98.0638,
  10000,
  98066.5,
  9.80665,
  6894757,
  100,
  133.3224,
  1,
  1000,
  1000000,
  47.88026,
  47.88026,
  6894.757,
  133.322
];

// !!! Caution: Temperature requires an increment as well as a multiplying factor
// !!! and that's why it's handled differently
// !!! Be VERY careful in how you change this behavior
property[14] = "Temperature";
unit[14] = [
  "Degrees Celsius ('C)",
  "Degrees Fahrenheit ('F)",
  "Degrees Kelvin ('K)",
  "Degrees Rankine ('R)"
];
factor[14] = [1, 0.555555555555, 1, 0.555555555555];
// tempIncrement = [0, -32, -273.15, -491.67]

property[15] = "Time";
unit[15] = [
  "Second (sec)",
  "Day (mean solar)",
  "Day (sidereal)",
  "Hour (mean solar)",
  "Hour (sidereal)",
  "Minute (mean solar)",
  "Minute (sidereal)",
  "Month (mean calendar)",
  "Second (sidereal)",
  "Year (calendar)",
  "Year (tropical)",
  "Year (sidereal)"
];
factor[15] = [
  1,
  8.64e4,
  86164.09,
  3600,
  3590.17,
  60,
  60,
  2628000,
  0.9972696,
  31536000,
  31556930,
  31558150
];

property[16] = "Velocity & Speed";
unit[16] = [
  "Meter/second (m/sec)",
  "Foot/minute (ft/min)",
  "Foot/second (ft/sec)",
  "Kilometer/hour (kph)",
  "Knot (int'l)",
  "Mile (US)/hour (mph)",
  "Mile (nautical)/hour",
  "Mile (US)/minute",
  "Mile (US)/second",
  "Speed of light (c)",
  "Mach (STP)(a)"
];
factor[16] = [
  1,
  5.08e-3,
  0.3048,
  0.2777778,
  0.5144444,
  0.44707,
  0.514444,
  26.8224,
  1609.344,
  299792458,
  340.006875
];

property[17] = "Viscosity";
unit[17] = [
  "Newton-second/meter",
  "Centipoise",
  "Centistoke",
  "Sq.foot/second",
  "Poise",
  "Poundal-second/sq.foot",
  "Pound mass/foot-second",
  "Pound force-second/sq.foot",
  "Rhe",
  "Slug/foot-second",
  "Stoke"
];
factor[17] = [
  1,
  0.001,
  0.000001,
  9.290304e-2,
  0.1,
  1.488164,
  1.488164,
  47.88026,
  10,
  47.88026,
  0.0001
];

property[18] = "Volume & Capacity";
unit[18] = [
  "Cubic Meter (m^3)",
  "Cubic centimeter",
  "Cubic millimeter",
  "Acre-foot",
  "Barrel (oil)",
  "Board foot",
  "Bushel (US)",
  "Cup",
  "Fluid ounce (US)",
  "Cubic foot",
  "Gallon (UK)",
  "Gallon (US,dry)",
  "Gallon (US,liq)",
  "Gill (UK)",
  "Gill (US)",
  "Cubic inch (in^3)",
  "Liter (new)",
  "Liter (old)",
  "Ounce (UK,fluid)",
  "Ounce (US,fluid)",
  "Peck (US)",
  "Pint (US,dry)",
  "Pint (US,liq)",
  "Quart (US,dry)",
  "Quart (US,liq)",
  "Stere",
  "Tablespoon",
  "Teaspoon",
  "Ton (register)",
  "Cubic yard"
];
factor[18] = [
  1,
  0.000001,
  0.000000001,
  1233.482,
  0.1589873,
  0.002359737,
  0.03523907,
  0.0002365882,
  0.00002957353,
  0.02831685,
  0.004546087,
  0.004404884,
  0.003785412,
  0.0001420652,
  0.0001182941,
  0.00001638706,
  0.001,
  0.001000028,
  0.00002841305,
  0.00002957353,
  8.809768e-3,
  0.0005506105,
  4.731765e-4,
  0.001101221,
  9.46353e-4,
  1,
  0.00001478676,
  0.000004928922,
  2.831685,
  0.7645549
];

property[19] = "Volume Flow";
unit[19] = [
  "Cubic meter/second",
  "Cubic foot/second",
  "Cubic foot/minute",
  "Cubic inches/minute",
  "Gallons (US,liq)/minute)"
];
factor[19] = [1, 0.02831685, 0.0004719474, 2.731177e-7, 6.30902e-5];

export default {
  data() {
    return {
      sheet: false,
      grandezas: property,
      fatores: factor,
      grandeza_escolhida: "Acceleration",
      unidade_escolhida: null,
      unidade_convertida: null,
      valorEscolhido: null,
      valorConvertido: null
    };
  },
  watch: {
    grandeza_escolhida(v) {
      if (v === "Temperature") {
        this.sheet = true;
      }
    }
  },
  computed: {
    indexGrandeza() {
      return property.indexOf(this.grandeza_escolhida);
    },
    unidades() {
      return unit[this.indexGrandeza];
    },
    fatorEscolhido() {
      let index = unit[this.indexGrandeza].indexOf(this.unidade_escolhida);
      return factor[this.indexGrandeza][index];
    },
    fatorConvertido() {
      let index = unit[this.indexGrandeza].indexOf(this.unidade_convertida);
      return factor[this.indexGrandeza][index];
    },
    valorConvertido: {
      get: function() {
        return (
          (this.valorEscolhido * this.fatorConvertido) / this.fatorEscolhido
        );
      }
    }
  },
  methods: {
    convert1() {
      this.valorConvertido =
        (this.valorEscolhido * this.fatorConvertido) / this.fatorEscolhido;
    },
    convert2() {
      this.valorEscolhido =
        (this.valorConvertido * this.fatorEscolhido) / this.fatorConvertido;
    }
  }
};
</script>

