<template>
  <v-speed-dial
          dark
          small
          fixed
          bottom
          right
          fab
          hover
          :transition="transition"
    >
    
      <v-btn
        slot="activator"
        color="blue darken-2"
        dark
        fab
      >
        <v-icon>build</v-icon>
      </v-btn>
      
      <v-dialog
        width="500"
        >

        <v-btn
          slot="activator"
          fab
          small
        >
        
          <v-icon>swap_horiz</v-icon>
        </v-btn>
          <conversor/>
      </v-dialog>

      <v-dialog
        width="500"
        >
        <v-btn
          slot="activator"
          fab
          dark
          small
          color="primary"
        >
          <v-icon>dialpad</v-icon>
        </v-btn>
          <calculadora/>
      </v-dialog>

  </v-speed-dial>
</template>

<script>

import Calculadora from '~/components/Calculadora.vue'
import Conversor from '~/components/Conversor.vue'

export default {
  data: () => ({
    transition: 'slide-y-reverse-transition'
  }),
  components: {
    Calculadora,
    Conversor
  }
}
</script>

