<template>
    <svg height="200" width="240">
    <defs>
    <filter id="drop" x="0" y="0" width="130%" height="130%">
        <feOffset result="offOut" in="SourceAlpha" :dx="geoProps.h.value" :dy="geoProps.h.value"/>
        <feBlend in="SourceGraphic" in2="offOut" mode="normal" />
    </filter>
    </defs>
    <g>
    <line v-if="geoProps.e_lx.value == 1 || geoProps.e_lx.value == 2" x1="45" y1="40" x2="210" y2="40" stroke="black" stroke-width="10px" stroke-dasharray="1 1" />
    <rect x="40" y="40" rx="10" ry="10" width="180" :height="`${geoProps.lx.value * 2 + 100}`" fill="gray" style="opacity:0.5" stroke="blue" stroke-width="2px" filter="url(#drop)"></rect>
    <line x1="45" :y1="`${(geoProps.lx.value * 2 + 180) / 2}`" x2="215" :y2="`${(geoProps.lx.value * 2 + 180) / 2}`" stroke="red" :stroke-width="`${geoProps.lx.value * 2 + 100}`" stroke-dasharray="1 10" stroke-opacity="0.2"/>
    <text x="5" y="80">Lx=</text>
    <text x="5" y="100">{{geoProps.lx.value}} m</text>
    <text x="50%" :y="`${(geoProps.lx.value * 2 + 180) / 2}`">Laje</text>
    <line v-if="geoProps.e_lx.value == 2" x1="45" :y1="`${geoProps.lx.value * 2 + 140}`" x2="210" :y2="`${geoProps.lx.value * 2 + 140}`" stroke="black" stroke-width="10px" stroke-dasharray="1 1" />
    </g>
    </svg>
</template>

<script>
export default {
    props: ['geoProps']
}
</script>

