<template>
    <svg height="200" width="240">
    <g>
    <rect x="5" y="140" rx="5" ry="5" width="200" height="50" fill="gray" style="opacity:0.5" stroke="blue" stroke-width="2px"></rect>
    <line x1="45" :y1="`${(lajeProps.h.value * 3) / 2}`" x2="215" :y2="`${(lajeProps.h.value * 3) / 2}`" stroke="red" :stroke-width="1" stroke-dasharray="1 10" stroke-opacity="1"/>
    <text x="5" y="80">H=</text>
    <text x="5" y="100">{{lajeProps.h.value}} m</text>
    <text x="50%" :y="`${(lajeProps.h.value * 2 + 180) / 2}`">Laje</text>
    </g>
    </svg>
</template>

<script>
export default {
    props: ['lajeProps']
}
</script>

