<template>
  <section id="hero">
    <div
      id="particles-js"
      :style="`height=300px background: linear-gradient(to bottom, ${accentColor} 0%, black 76%, black 100%)`"
    ></div>
    <div class="hero-inner">
      <h1>{{title}}</h1>
    </div>
  </section>
</template>

<script>
if (process.client) {
  require("particles.js");
}
export default {
  name: "particles",
  mounted() {
    this.initParticles();
  },
  computed: {
    accentColor() {
      return this.$store.state.accentColor;
    },
    palette() {
      return this.$store.state.palette;
    }
  },
  props: ["title"],
  methods: {
    initParticles() {
      window.particlesJS("particles-js", {
        particles: {
          number: {
            value: 90,
            density: {
              enable: true,
              value_area: 700
            }
          },
          color: {
            value: this.palette[Math.floor(Math.random() * this.palette.length)]
          },
          shape: {
            type: "triangle",
            stroke: {
              width: 1,
              color: this.palette[
                Math.floor(Math.random() * this.palette.length)
              ]
            },
            polygon: {
              nb_sides: 4
            }
          },
          opacity: {
            value: 0.5,
            random: false,
            anim: {
              enable: false,
              speed: 3,
              opacity_min: 0.1,
              sync: false
            }
          },
          size: {
            value: 4,
            random: true,
            anim: {
              enable: false,
              speed: 40,
              size_min: 0.1,
              sync: false
            }
          },
          line_linked: {
            enable: true,
            distance: 150,
            color: this.palette[
              Math.floor(Math.random() * this.palette.length)
            ],
            opacity: 0.4,
            width: 1
          },
          move: {
            enable: true,
            speed: 2,
            direction: "left",
            random: false,
            straight: false,
            out_mode: "out",
            bounce: true,
            attract: {
              enable: false,
              rotateX: 600,
              rotateY: 1200
            }
          }
        },
        retina_detect: true
      });
    }
  }
};
</script>

<style scoped lang="css">
.hero-inner {
  position: absolute;
  top: 50%;
  width: 100%;
}

#particles-js {
  /* background: linear-gradient(to bottom, var(--color), rgb(0, 0, 0)); */
  width: 100%;
  height: 100%;
}

.hero-inner h1 {
  /* Text styles */
  /* font-family: "Indie Flower", cursive; */
  /* font-family: "Sarabun", sans-serif; */
  /* font-family: "Tillana", cursive; */
  text-align: center;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  /* Margins */
  margin-top: 0;
  margin-bottom: 0.5em;
}
</style>
