<template>
  <section id="hero">
    <div
      id="particles-js"
      :style="`background: linear-gradient(to bottom, ${accentColor} 0%, black 76%, black 100%)`"
    ></div>
    <div class="hero-inner">
      <h1>{{title}}</h1>
      <!-- <v-btn
        ref="button"
        class="mt-5"
        color="primary"
        outlined
        @click="$vuetify.goTo(target, {duration: 1800, easing: 'easeInOutCubic'})"
      >Saiba mais</v-btn>-->
      <h4 class="caption mx-5 text--lighten">{{subtitle}}</h4>
      <v-row v-if="source" align="center">
        <v-col class="text-center" cols="12">
          <v-btn small :href="source" class="ma-2 text-center" outlinedd color="white">
            <span class="caption">Código fonte</span>
            <v-spacer></v-spacer>
            <v-icon right>mdi-gitlab</v-icon>
          </v-btn>
        </v-col>
      </v-row>
    </div>
  </section>
</template>

<script>
if (process.client) {
  require("particles.js");
}
export default {
  name: "particles",
  mounted() {
    this.initParticles();
  },
  computed: {
    accentColor() {
      return this.$store.state.accentColor;
    },
    palette() {
      return this.$store.state.palette;
    }
  },
  props: ["title", "subtitle", "source"],
  methods: {
    initParticles() {
      window.particlesJS("particles-js", {
        particles: {
          number: {
            value: 90,
            density: {
              enable: true,
              value_area: 700
            }
          },
          color: {
            value: this.palette[Math.floor(Math.random() * this.palette.length)]
          },
          shape: {
            type: "triangle",
            stroke: {
              width: 1,
              color: this.palette[
                Math.floor(Math.random() * this.palette.length)
              ]
            },
            polygon: {
              nb_sides: 4
            }
          },
          opacity: {
            value: 0.5,
            random: false,
            anim: {
              enable: false,
              speed: 3,
              opacity_min: 0.1,
              sync: false
            }
          },
          size: {
            value: 4,
            random: true,
            anim: {
              enable: false,
              speed: 40,
              size_min: 0.1,
              sync: false
            }
          },
          line_linked: {
            enable: true,
            distance: 150,
            color: this.palette[
              Math.floor(Math.random() * this.palette.length)
            ],
            opacity: 0.4,
            width: 1
          },
          move: {
            enable: true,
            speed: 2,
            direction: "left",
            random: false,
            straight: false,
            out_mode: "out",
            bounce: true,
            attract: {
              enable: false,
              rotateX: 600,
              rotateY: 1200
            }
          }
        },
        retina_detect: true
      });
    }
  }
};
</script>

<style scoped lang="css">
.hero-inner {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100vw;
}

#particles-js {
  /* background: linear-gradient(to bottom, var(--color), rgb(0, 0, 0)); */
  position: absolute;
  width: 100vw;
  height: 50vh;
  padding: 0;
  margin: 0;
}

.hero-inner h1 {
  /* Text styles */
  /* font-family: "Indie Flower", cursive; */
  /* font-family: "Sarabun", sans-serif; */
  /* font-family: "Tillana", cursive; */
  text-align: center;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  /* Margins */
  margin-top: 0;
  margin-bottom: 0.5em;
}

.hero-inner h4 {
  font-family: "Indie Flower", sans-serif;
  text-align: center;
  color: whitesmoke;
}
</style>
