<template>
  <section id="hero">
    <div id="particles-js"></div>
    <div class="hero-inner">
      <h1>{{ $store.state.websiteName }}</h1>
      <h2>{{ $store.state.websiteDescription }}</h2>
      <!-- <v-btn
        ref="button"
        class="mt-5"
        color="primary"
        outlined
        @click="$vuetify.goTo(target, {duration: 1800, easing: 'easeInOutCubic'})"
      >Saiba mais</v-btn>-->
    </div>
  </section>
</template>

<script>
if (process.client) {
  require("particles.js");
}
export default {
  name: "particles",
  mounted() {
    this.initParticles();
  },
  head: {
    link: [
      {
        rel: "stylesheet",
        href:
          "https://fonts.googleapis.com/css?family=Bai+Jamjuree&display=swap"
      }
    ]
  },
  methods: {
    initParticles() {
      window.particlesJS("particles-js", {
        particles: {
          number: {
            value: 80,
            density: {
              enable: true,
              value_area: 700
            }
          },
          color: {
            value: "#ffffff"
          },
          shape: {
            type: "circle",
            stroke: {
              width: 0,
              color: "#000000"
            },
            polygon: {
              nb_sides: 4
            }
          },
          opacity: {
            value: 0.5,
            random: false,
            anim: {
              enable: false,
              speed: 1,
              opacity_min: 0.1,
              sync: false
            }
          },
          size: {
            value: 3,
            random: true,
            anim: {
              enable: false,
              speed: 40,
              size_min: 0.1,
              sync: false
            }
          },
          line_linked: {
            enable: true,
            distance: 150,
            color: "#009DA4",
            opacity: 0.4,
            width: 1
          },
          move: {
            enable: true,
            speed: 6,
            direction: "top",
            random: false,
            straight: false,
            out_mode: "out",
            bounce: false,
            attract: {
              enable: false,
              rotateX: 600,
              rotateY: 1200
            }
          }
        },
        retina_detect: true
      });
    }
  }
};
</script>

<style scoped lang="css">
.hero-inner {
  position: absolute;
  top: 40vh;
  left: 0;
  width: 100vw;
}

#particles-js {
  background: black;
  position: absolute;
  width: 100%;
  height: 99%;
  padding: 0;
  margin: 0;
}

.hero-inner h1 {
  /* Text styles */
  /* font-family: 'Indie Flower', cursive; */
  /* font-family: 'Sarabun', sans-serif; */
  /* font-family: 'Tillana', cursive; */
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 5em;
  margin-left: 20px;
  justify-content: end;
  color: #009da4;
  /* Margins */
  margin-top: 0;
  margin-bottom: 0.5em;
}

.hero-inner h2 {
  font-family: "Bai Jamjuree", sans-serif;
  margin-left: 20px;
  align-content: center;
  font-size: 3em;
  color: #101872;
}

.hero-inner .btn {
  /* Positioning and sizing */
  display: block;
  width: 30vw;
  /* Padding and margins */
  padding: 1em;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  /* Text styles */
  color: white; /* CHANGE THIS LINE */
  text-decoration: none;
  font-size: 1.5em;
  /* Border styles */
  border: 3px solid white; /* CHANGE THIS LINE */
  border-radius: 20px;
}
</style>
