<template>
  <v-flex xs12>
    <div id="title">
      <particles2
        :title="titlecard.title"
        :subtitle="titlecard.subtitle"
        :source="titlecard.source"
      ></particles2>
    </div>
  </v-flex>
</template>

<script>
import particles2 from "~/components/particles2.vue";
export default {
  components: {
    particles2
  },
  props: {
    titlecard: {
      required: true,
      type: Object
    }
  }
};
</script>

<style scoped>
#title {
  height: 35vh;
}
</style>
