<template>
  <v-container grid-list-xl>
    <v-layout row wrap>
      <v-flex sm8 xs12>
        <v-card hover raised>
          <v-container fluid class="pa-3">
            <v-layout row wrap>
              <v-flex sm12>
                Assuntos:
                <v-chip v-for="(tag,i) in ex.tags" :key="i">{{tag}}</v-chip>
              </v-flex>
            </v-layout>
          </v-container>

          <v-img class="white--text" :height="ex.img.size" :src="ex.img"></v-img>

          <v-card-title primary-title>
            <div>
              <h6 class="title font-weight-thin">{{ex.concurso}} - {{ex.ano}}</h6>
              <h3 class="headline mb-0">Questão {{ex.questao}}</h3>
              <v-divider></v-divider>
              <div>{{enunciado}}</div>

              <div>
                <v-divider my-2></v-divider>Dados:
                <br>
                <ul>
                  <li v-for="dado in ex.dados" :key="dado">{{ dado }}</li>
                </ul>
              </div>
            </div>
          </v-card-title>
        </v-card>
      </v-flex>

      <v-flex sm4 xs12>
        <v-card>
          <v-card-title primary-title>
            <h3 class="headline">Variáveis</h3>
          </v-card-title>
          <v-card-text>
            <v-text-field
              v-for="(item, key) in ex.vars"
              :key="item.name"
              v-model="item.value"
              :label="item.name"
              :hint="item.hint"
              :suffix="item.suffix"
              persistent-hint
            ></v-text-field>
          </v-card-text>
        </v-card>
      </v-flex>

      <v-flex sm8 xs12>
        <v-card color="cyan lighten-5">
          <v-card-title primary-title>
            <h3 class="headline">Resolução</h3>
          </v-card-title>
          <v-card-text>
            <v-stepper v-model="e1">
              <v-stepper-header>
                <v-stepper-step :complete="e1 > 1" step="1">Revisão teórica</v-stepper-step>

                <v-divider></v-divider>

                <v-stepper-step :complete="e1 > 2" step="2">Cálculo da área</v-stepper-step>

                <v-divider></v-divider>

                <v-stepper-step step="3">Resultado</v-stepper-step>
              </v-stepper-header>

              <v-stepper-items>
                <v-stepper-content step="1">
                  <v-card class="mb-5" color="grey lighten-1" height="200px"></v-card>

                  <v-btn color="primary" @click="e1 = 2">Continue</v-btn>

                  <v-btn text>Cancel</v-btn>
                </v-stepper-content>

                <v-stepper-content step="2">
                  <v-card class="mb-5" color="grey lighten-1" height="200px"></v-card>

                  <v-btn color="primary" @click="e1 = 3">Continue</v-btn>

                  <v-btn text>Cancel</v-btn>
                </v-stepper-content>

                <v-stepper-content step="3">
                  <v-card class="mb-5" color="grey lighten-1" height="200px"></v-card>

                  <v-btn color="primary" @click="e1 = 1">Continue</v-btn>

                  <v-btn text>Cancel</v-btn>
                </v-stepper-content>
              </v-stepper-items>
            </v-stepper>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
    <v-layout row wrap></v-layout>
  </v-container>
</template>


<script>
export default {
  data () {
    return {
      e1: 0,
      ex: {
        concurso: 'CP-CEM',
        ano: '2016',
        questao: 9,
        img: '',
        enunciado: '',
        dados: ['asdasd'],
        tags: ['Ensaio de compactação', 'Proctor'],
        vars: {
          d: { name: 'd', value: 10, suffix: 'cm', hint: 'Diâmetro diametro' },
          h: { name: 'h', value: 10.73, suffix: 'cm', hint: 'Altura cilindro' },
          m: {
            name: 'm',
            value: 1.943,
            suffix: 'kg',
            hint: 'Massa corpo de prova'
          },
          u: {
            name: 'u',
            value: 22.13,
            suffix: '%',
            hint: 'Umidade corpo de prova'
          },
          gamma: {
            name: 'gamma',
            value: 2.65,
            suffix: 'g/cm3',
            hint: 'Massa específica dos grãos'
          }
        }
      }
    }
  }
}
</script>