<template lang="md">

  # Questão 9

  Para a realização de um *ensaio em compactação*, foram moldados corpos de prova de um determinado solo, utilizando0se moldes cilíndricos com {{ ex.d.value }} cm de diâmetro e {{ ex.h.value }} cm de altura, seguindo-se o procedimento do *Ensaio de Proctor Normal*. Em uma das amostras, obteve-se um corpo de prova com massa de {{ ex.m.value }} kg e umidade {{ ex.u.value }} %. Considerando que a massa específica dos grãos seja de {{ ex.gamma.value }} g/cm3, determine a densidade seca e o grau de saturação desse corpo de prova.

  Dados: 

  Y = (Pa + Ps) / (Vv + Vs)

  <v-divider class="my-3"> </v-divider>
    


  <v-container grid-list-md>
    <v-layout row wrap>

<v-flex xs1>

# Variáveis 
<v-text-field 
  v-for="(item, key) in ex"
  :key="item.name" 
  v-model="item.value" 
  :label="item.name" 
  :hint="item.hint" 
  :suffix="item.suffix" 
  persistent-hint>
</v-text-field>

</v-flex>
<v-flex xs1>
</v-flex>

<v-flex xs10>

# Resolução 
<v-text-field 
  v-for="(item, key) in ex"
  :key="item.name" 
  v-model="item.value" 
  :label="item.name" 
  :hint="item.hint" 
  :suffix="item.suffix" 
  persistent-hint>
</v-text-field>

</v-flex>
    </v-layout>
  </v-container>

</template>

<script>
export default {
  data () {
    return {
      ex: {
        d: { name: 'd', value: 10, suffix: 'cm', hint: 'Diâmetro diametro' },
        h: { name: 'h', value: 10.73, suffix: 'cm', hint: 'Altura cilindro' },
        m: { name: 'm', value: 1.943, suffix: 'kg', hint: 'Massa corpo de prova' },
        u: { name: 'u', value: 22.13, suffix: '%', hint: 'Umidade corpo de prova' },
        gamma: { name: 'gamma', value: 2.65, suffix: 'g/cm3', hint: 'Massa específica dos grãos' }
      }
    }
  }
}
</script>