<template>
  <div id="asd">
  </div>
</template>

<script>
let Plotly
if (process.browser) {
  Plotly = require('plotly.js')
}
export default {
  props: ['scatterData'],
  data () {
    return {
      myPlot: null,
      plotData: [],
      layout: {}
    }
  },
  computed: {
    padded () {
      var x = this.clientWidth - 10
      var y = this.clientHeight - 10
      return { x, y }
    },
    values () {
      const xvals = this.scatterData.xs.dataSync()
      const yvals = this.scatterData.ys.dataSync()
      // const values = Array.from(yvals).map((y, i) => {
      //   return {'x': xvals[i], 'y': yvals[i]}
      // })
      return [xvals, yvals]
    }
  },
  mounted () {
    this.clientWidth = this.$el.clientWidth
    this.clientHeight = this.$el.clientHeight
    this.myPlot = this.$el
    this.initPlot()
  },
  watch: {
    scatterData: {
      handler () {
        this.updateData()
        this.updatePlot()
      },
      deep: true
    }
  },
  methods: {
    traceScatter (xs, ys) {
      // console.log('dentro de traceScatter', xs)
      var trace = {
        x: xs,
        y: ys,
        mode: 'markers',
        type: 'scatter',
        // name: 'elemento ' + i,
        // showlegend: false,
        // hoverinfo: 'none',
        // legendgroup: 'elementos',
        marker: { size: 8 }
      }
      // console.log('elements traces', trace)
      return trace
    },
    updateData () {
      this.plotData = [this.traceScatter(this.values[0], this.values[1])]
    },
    initPlot () {
      this.plotData = [this.traceScatter(this.values[0], this.values[1])]
      // var annotate = this.traceForces()
      this.layout = {
        autosize: true,
        height: 500,
        width: this.clientWidth,
        showLegend: false,
        margin: {
          l: 30,
          r: 30,
          b: 30,
          t: 50,
          pad: 10
        },
        xaxis: {
          zeroline: false
        },
        yaxis: {
          zeroline: false
        }
        // annotations: annotate
      }

      Plotly.newPlot(
        this.myPlot,
        this.plotData,
        this.layout
      )
    },
    updatePlot () {
      Plotly.react(
        this.myPlot,
        this.plotData,
        this.layout,
        {
          transition: { duration: 500, easing: 'cubic-in-out' }
        }
      )
    }
  }
}
</script>
