<template>
  <div id="asd"></div>
</template>

<script>
let Plotly;
if (process.browser) {
  Plotly = require("plotly.js");
}
export default {
  props: ["xs", "ys", "preds"],
  data() {
    return {
      myPlot: null,
      plotData: [],
      layout: {}
    };
  },
  computed: {
    padded() {
      var x = this.clientWidth - 10;
      var y = this.clientHeight - 10;
      return { x, y };
    }
  },
  mounted() {
    this.clientWidth = this.$el.clientWidth;
    this.clientHeight = this.$el.clientHeight;
    this.myPlot = this.$el;
    this.initPlot();
  },
  watch: {
    preds: {
      handler() {
        this.updateData();
        this.updatePlot();
      },
      deep: true
    }
  },
  methods: {
    traceScatter(xs, ys) {
      // console.log('dentro de traceScatter', xs)
      var trace = {
        x: xs,
        y: ys,
        mode: "markers",
        type: "scatter",
        name: "Dados",
        // showlegend: false,
        // hoverinfo: 'none',
        // legendgroup: 'elementos',
        marker: { size: 8 }
      };
      // console.log('elements traces', trace)
      return trace;
    },
    tracePoly(xs, ys) {
      // console.log('dentro de traceScatter', xs)
      var trace = {
        x: xs,
        y: ys,
        mode: "markers",
        type: "scatter",
        name: "Regressão",
        // showlegend: false,
        // hoverinfo: 'none',
        // legendgroup: 'elementos',
        marker: { size: 8 }
      };
      // console.log('elements traces', trace)
      return trace;
    },
    updateData() {
      this.plotData = [
        this.traceScatter(this.xs, this.ys),
        this.tracePoly(this.xs, this.preds)
      ];
    },
    initPlot() {
      this.updateData();
      // var annotate = this.traceForces()
      this.layout = {
        autosize: true,
        height: 500,
        width: this.clientWidth,
        showLegend: false,
        dragmode: "pan",
        margin: {
          l: 30,
          r: 30,
          b: 30,
          t: 50,
          pad: 10
        },
        xaxis: {
          zeroline: false
        },
        yaxis: {
          zeroline: false
        }
        // annotations: annotate
      };

      Plotly.newPlot(this.myPlot, this.plotData, this.layout);
    },
    updatePlot() {
      Plotly.react(this.myPlot, this.plotData, this.layout, {
        transition: { duration: 500, easing: "cubic-in-out" }
      });
    }
  }
};
</script>
