<template>
  <div>
    <variaveis v-bind:vars="vars"/>

    <v-flex sm8 offset-sm3 xs12>
      <v-card color="blue lighten-5">
        <v-card-title primary-title>
          <h3 class="headline">Resolução</h3>
        </v-card-title>
        <v-card-text>
          <v-stepper v-model="e1">
            <v-stepper-header>
              <v-stepper-step :complete="e1 > 1" step="1">Revisão teórica</v-stepper-step>

              <v-divider></v-divider>

              <v-stepper-step :complete="e1 > 2" step="2">Cálculo da área</v-stepper-step>

              <v-divider></v-divider>

              <v-stepper-step step="3">Resultado</v-stepper-step>
            </v-stepper-header>

            <v-stepper-items>
              <v-stepper-content step="1">
                <v-card class="mb-5" color="grey lighten-1" height="200px"></v-card>

                <v-btn color="primary" @click="e1 = 2">Continue</v-btn>

                <v-btn text>Cancel</v-btn>
              </v-stepper-content>

              <v-stepper-content step="2">
                <v-card class="mb-5" color="grey lighten-1" height="200px"></v-card>

                <v-btn color="primary" @click="e1 = 3">Continue</v-btn>

                <v-btn text>Cancel</v-btn>
              </v-stepper-content>

              <v-stepper-content step="3">
                <v-card class="mb-5" color="grey lighten-1" height="200px"></v-card>

                <v-btn color="primary" @click="e1 = 1">Continue</v-btn>

                <v-btn text>Cancel</v-btn>
              </v-stepper-content>
            </v-stepper-items>
          </v-stepper>
        </v-card-text>
      </v-card>
    </v-flex>
  </div>
</template>

<script>
import variaveis from "~/components/resolucao/variaveis.vue";

export default {
  components: {
    variaveis
  },
  props: ["vars"],
  data() {
    return {
      e1: 0
    };
  }
};
</script>

      
