<template>
  <v-layout row wrap>
    <v-flex sm8 xs12 offset-sm3>
      <v-card>
        <v-card-text>
          <v-radio-group v-model="radioGroup">
            <v-radio
              v-for="n in alternativas"
              :key="n.alternativa"
              :label="`${n.alternativa} ) ${n.texto}`"
              :value="n"
            ></v-radio>
          </v-radio-group>
        </v-card-text>
      </v-card>

      <v-card v-if="radioGroup" :color="color">
        <v-card-text>{{resposta}}</v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  props: ["alternativas"],
  computed: {
    resposta() {
      this.show = true;
      if (this.radioGroup.resposta === true) {
        this.color = "success";
        return this.radioGroup.justificativa;
      } else {
        this.color = "error";
        return "Errado, tentar novamente";
      }
    }
  },
  data() {
    return {
      snackbar: false,
      show: false,
      color: "error",
      radioGroup: false
    };
  }
};
</script>

      
