<template>
  <v-flex sm8 xs12 offset-sm3>
    <v-card>
      <v-card-title primary-title>
        <h3 class="headline">Variáveis</h3>
      </v-card-title>
      <v-card-text>
        <v-text-field
          v-for="(item, key) in vars"
          :key="item.name"
          v-model="item.value"
          :label="item.name"
          :hint="item.hint"
          :suffix="item.suffix"
          persistent-hint
        ></v-text-field>
      </v-card-text>
    </v-card>
  </v-flex>
</template>
<script>
export default {
  props: ["vars"]
};
</script>