<template>
  <span ref="mathJaxEl" v-html="latex" class="e-mathjax"></span>
</template>

<script>
export default {
  props: [ 'mdData' ],
  computed: {
    latex () {
      return this.$md.render(this.mdData)
    }
  },
  methods: {
    readMD () {
      return this.$md.render(this.mdData)
    },
    renderMathJax () {
      if (window.MathJax) {
        window.MathJax.Hub.Config({
          tex2jax: {
            inlineMath: [['$', '$'], ['\\(', '\\)']],
            displayMath: [['$$', '$$'], ['[', ']']],
            processEscapes: true,
            processEnvironments: true
          },
          CommonHTML: {
            linebreaks: { automatic: true }
          },
          // Center justify equations in code and markdown cells. Elsewhere
          // we use CSS to left justify single line equations in code cells.
          displayAlign: 'center',
          'HTML-CSS': {
            styles: { '.MathJax_Display': { 'margin': 0 } }
          }
        })
        window.MathJax.Hub.Queue(['Typeset', window.MathJax.Hub, this.$refs.mathJaxEl])
      }
    }
  },

  head: {
    script: [
      { src: 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML' }
    ]
  },
  watch: {
    mdData () {
      this.$nextTick(function () {
        window.MathJax.Hub.Queue(['Typeset', window.MathJax.Hub])
      })
    }
  },

  mounted () {
    this.renderMathJax()
  }
}
</script>