<template>
  <div>
  </div>
</template>

<script>
let Plotly
if (process.browser) {
  Plotly = require('plotly.js')
}
export default {
  props: {
    estrutura: {}
  },
  data () {
    return {
      myPlot: null
    }
  },
  computed: {
    elements () {
      return this.estrutura.eleArr
    },
    nodes () {
      return this.estrutura.nosArr
    },
    padded () {
      var x = this.clientWidth - 10
      var y = this.clientHeight - 10
      return { x, y }
    },
    elementId () {
      let x = []
      let y = []
      let text = []
      for (let i = 0; i < this.elements.length; i++) {
        let x_ = this.elements[i].nodeA.x + this.elements[i].nodeB.x
        let y_ = this.elements[i].nodeA.y + this.elements[i].nodeB.y
        x.push(x_ / 2)
        y.push(y_ / 2)
        text.push(parseFloat(this.elements[i].fAxial).toFixed(3) + ' kN')
      }
      return { x, y, text, mode: 'text', hoverinfo: 'none', showlegend: false, textfont: { color: '#ff7f0e', size: 18 } }
    }
  },
  mounted () {
    this.clientWidth = this.$el.clientWidth
    this.clientHeight = this.$el.clientHeight
    this.myPlot = this.$el
    this.initPlot()
  },
  watch: {
    nodes: {
      handler () {
        this.updatePlot()
      },
      deep: true
    },
    elements: {
      handler () {
        this.updatePlot()
      },
      deep: true
    }
  },
  methods: {
    traceElements () {
      var traces = []
      this.elements.forEach((element, i) => {
        var trace = {
          x: [element.nodeA.x, element.nodeB.x],
          y: [element.nodeA.y, element.nodeB.y],
          text: [element.nodeA.id1, element.nodeB.id1],
          mode: 'markers+text+lines',
          type: 'scatter',
          name: 'elemento ' + i,
          showlegend: false,
          hoverinfo: 'none',
          // legendgroup: 'elementos',
          marker: { size: 12 },
          textposition: 'top left',
          line: {
            width: 5,
            color: 'rgba(0,100,80,0.4)'
          }
        }
        traces.push(trace)
      })
      // console.log('elements traces', traces)
      return traces
    },
    traceDisplacements2 () {
      var traces = []
      let scale = 0.01
      this.elements.forEach((element, i) => {
        var trace = {
          x: [parseFloat(element.nodeA.x + element.nodeA.dx * scale), element.nodeB.x + element.nodeB.dx * scale],
          y: [element.nodeA.y + element.nodeA.dy * scale, element.nodeB.y + element.nodeB.dy * scale],
          text: [element.nodeA.id1, element.nodeB.id1],
          mode: 'lines',
          type: 'scatter',
          name: 'du ' + i,
          showlegend: false,
          hoverinfo: 'none',
          // legendgroup: 'elementos',
          marker: { size: 12 },
          textposition: 'top left',
          line: {
            width: 5,
            color: 'rgba(0,0,200,0.4)'
          }
        }
        traces.push(trace)
      })
      // console.log('elements traces', traces)
      return traces
    },
    traceRestrictions () {
      var traces = []
      var xRestricted = this.nodes.filter(d => {
        return d.rx === true
      })
      xRestricted.forEach(node => {
        var x = {
          x: [node.x],
          y: [node.y],
          legendgroup: 'apoios',
          mode: 'markers',
          type: 'scatter',
          showlegend: false,
          marker: { size: 20, symbol: 'triangle-left-open-dot' },
          name: 'Apoios x'
        }
        traces.push(x)
      })

      var yRestricted = this.nodes.filter(d => {
        return d.ry === true
      })
      yRestricted.forEach(node => {
        var y = {
          x: [node.x],
          y: [node.y],
          legendgroup: 'apoios',
          mode: 'markers',
          type: 'scatter',
          showlegend: false,
          marker: { size: 20, symbol: 'triangle-up-open-dot' },
          name: 'Apoios y'
        }
        traces.push(y)
      })
      // console.log('restriction traces', traces)
      return traces
    },
    traceReactions () {
      var annotate = []
      this.nodes.forEach(node => {
        if (node.frx !== 0) {
          annotate.push({
            x: parseFloat(node.x),
            y: parseFloat(node.y),
            xref: 'x',
            yref: 'y',
            yanchor: 'bottom',
            text: 'R = ' + parseFloat(node.frx).toFixed(2) + ' kN',
            arrowside: 'start',
            arrowcolor: '#FF0000',
            showarrow: true,
            arrowhead: 2,
            ax: 40,
            ay: 0
          })
        }
        if (node.fry !== 0) {
          annotate.push({
            x: parseFloat(node.x),
            y: parseFloat(node.y),
            xref: 'x',
            yref: 'y',
            text: 'R = ' + parseFloat(node.fry).toFixed(2) + ' kN',
            showarrow: true,
            arrowside: 'start',
            arrowcolor: '#FF0000',
            arrowhead: 2,
            ax: 0,
            ay: -40
          })
        }
      })
      return annotate
    },
    traceDisplacements () {
      var annotate = []
      let scale = 0.01
      this.nodes.forEach(node => {
        if (node.dx !== 0) {
          annotate.push({
            x: parseFloat(node.x + node.dx * scale),
            y: parseFloat(node.y + node.dy * scale),
            xref: 'x',
            yref: 'y',
            yanchor: 'top',
            arrowcolor: '#00000000',
            text: 'dx = ' + parseFloat(node.dx).toFixed(2) + ' mm',
            ax: 60,
            ay: 0
          })
        }
        if (node.dy !== 0) {
          annotate.push({
            x: parseFloat(node.x + node.dx * scale),
            y: parseFloat(node.y + node.dy * scale),
            xref: 'x',
            yref: 'y',
            arrowside: 'none',
            arrowcolor: '#00000000',
            text: 'dy = ' + parseFloat(node.dy).toFixed(2) + ' mm',
            ax: 60,
            ay: 20
          })
        }
      })
      return annotate
    },
    initPlot () {
      var data = this.traceElements().concat(this.traceRestrictions(), this.elementId, this.traceDisplacements2())
      console.log(data)
      var annotate = this.traceReactions().concat(this.traceDisplacements())
      var layout = {
        autosize: false,
        height: this.height,
        width: this.clientWidth,
        showLegend: false,
        margin: {
          l: 30,
          r: 30,
          b: 30,
          t: 30,
          pad: 4
        },
        annotations: annotate
      }

      Plotly.newPlot(
        this.myPlot,
        data,
        layout,
        { displayModeBar: false }
      )
    },
    updatePlot () {
      var data = this.traceElements().concat(this.traceRestrictions(), this.elementId, this.traceDisplacements2())
      console.log(data)
      var annotate = this.traceReactions().concat(this.traceDisplacements())
      var layout = {
        autosize: false,
        height: this.height,
        width: this.clientWidth,
        showLegend: false,
        margin: {
          l: 30,
          r: 30,
          b: 30,
          t: 30,
          pad: 4
        },
        annotations: annotate
      }
      Plotly.react(
        this.myPlot,
        data,
        layout,
        {
          displayModeBar: false,
          transition: { duration: 500, easing: 'cubic-in-out' }
        },
        {
          sliders: [{
            pad: { t: 30 },
            currentvalue: {
              xanchor: 'right',
              prefix: 'color: ',
              font: {
                color: '#888',
                size: 20
              }
            },
            steps: [{
              label: 'red',
              method: 'restyle',
              args: ['line.color', 'red']
            }, {
              label: 'green',
              method: 'restyle',
              args: ['line.color', 'green']
            }, {
              label: 'blue',
              method: 'restyle',
              args: ['line.color', 'blue']
            }]
          }]
        }
      )
    }
  }
}
</script>
