<template>
    <v-data-table
    light
    :headers="headers"
    :items="eleArr"
    hide-default-footer
    item-key="id"
  >
    <template slot="items" slot-scope="props">
      <tr @click="props.expanded = !props.expanded">
        <td>Elemento {{ props.item.id1 }}</td>
        <td class="text-xs-right">{{ formatDecimal(props.item.fAxial) }}</td>
        <td class="text-xs-right">{{ formatDecimal(props.item.l) }}</td>
        <td class="text-xs-right">{{ formatDecimal(props.item.angle) }}</td>
        <td class="text-xs-right">{{ props.item.area }}</td>
        <td class="text-xs-right">{{ props.item.inercia }}</td>
        <td class="text-xs-right">{{ props.item.elasticidade }}</td>
        <td class="text-xs-right">{{ props.item.nodeA.id1 }}</td>
        <td class="text-xs-right">{{ props.item.nodeB.id1 }}</td>
      </tr>
    </template>
    <template slot="expand" slot-scope="props">
      <v-card text>
        <v-container grid-list-md py-0>
          <v-layout row wrap>

            <v-flex xs12>
              <p class=" headline text-xs-center">K Global</p>
              <Mathjax
                :mdData="matriz(props.item.kGlobal)"
              />
            </v-flex>

            <v-flex xs12>
              <p class=" headline text-xs-center">K Local</p>
              <Mathjax
                :mdData="matriz(props.item.kLocal)"
              />
            </v-flex>

            <v-flex xs12>
              <p class=" headline text-xs-center">Forcas atuantes nos nodes</p>
              <Mathjax
                :mdData="vetorAxial(props.item.reacoes, props.item.lxly, props.item.fAxial, 3, 'F_{axial}', 'kN')"
              />
            </v-flex>

            <v-flex xs12>
              <p class=" headline text-xs-center">Matriz Incidencia cinematica</p>
              <Mathjax
                :mdData="matriz(props.item.matrizT)"
              />
            </v-flex>

          </v-layout>
        </v-container>

      </v-card>
    </template>
  </v-data-table>
</template>

<script>
import Mathjax from '~/components/AnaliseMatricial/Mathjax.vue'
export default {
  components: { Mathjax },
  props: ['eleArr'],
  methods: {
    formatDecimal (value) {
      let formatedValue = parseFloat(value).toFixed(2)
      return formatedValue
    },
    matriz (matrix) {
      let string = '$$ \\begin{bmatrix}'
      matrix.forEach(row => {
        let str = row.join(' & ') + ' \\\\\\ '
        string += str
      })
      string += ' \\end{bmatrix} $$'
      return string
    },
    formatArray (arr, precision) {
      let newArr = []
      let decimals = 3
      if (precision) {
        decimals = precision
      }
      for (let i = 0; i < arr.length; i++) {
        arr[i] = arr[i] || 0
        newArr.push(arr[i].toFixed(decimals))
      }
      return newArr
    },
    vetorAxial (array, lxly, fAxial, precision, letter, dimension) {
      let vetor = this.formatArray(array, precision).join(' \\\\\\ ')
      let string = ''
      if (letter) string += letter + ' = '
      string += '\\begin{bmatrix}' + '-lx & -ly & lx & ly' + '\\end{bmatrix}'
      string += '\\begin{bmatrix}' + 'rx_a \\\\\\ ry_a \\\\\\ rx_b \\\\\\ ry_b' + '\\end{bmatrix}'
      string += ' = '
      string += '\\begin{bmatrix}' + this.formatArray(lxly, precision) + '\\end{bmatrix}'
      string += '\\begin{bmatrix}' + vetor + '\\end{bmatrix}'
      string += '=' + parseFloat(fAxial).toFixed(3) + ''
      if (dimension) string += dimension
      return '$$' + string + '$$'
    }
  },
  data () {
    return {
      headers: [
        { text: 'ID', value: 'id1', align: 'left' },
        { text: 'Normal (kN)', value: 'fAxial' },
        { text: 'Comprimento (m)', value: 'l', width: '20' },
        { text: 'Angulo', value: 'angle', width: '20' },
        { text: 'Area (cm2)', value: 'area', width: '20' },
        { text: 'Inercia (m4)', value: 'inercia', width: '20' },
        { text: 'Elasticidade', value: 'elasticidade', width: '20' },
        { text: 'No A ID', value: 'nodeA.id1', width: '20' },
        { text: 'No B ID', value: 'nodeB.id1', width: '20' }
      ]
    }
  }
}
</script>

