<template>

  <v-expansion-panel expand popout>
        <v-expansion-panel-content ripple>
      <div slot="header">Grafico</div>
      <TrelicaResultadoPlotly
          :estrutura="estrutura"
        />
    </v-expansion-panel-content>

    <v-expansion-panel-content ripple>
      <div slot="header">Deslocamentos</div>
      <Mathjax
        :mdData="printMathjax.deslocamento"
        />
    </v-expansion-panel-content>

    <v-expansion-panel-content ripple>
      <div slot="header">Reacoes</div>
      <Mathjax
        :mdData="printMathjax.reacoes"
        />
    </v-expansion-panel-content>

    <v-expansion-panel-content ripple>
      <div slot="header">Rigidez Global</div>
      <Mathjax
        :mdData="printMathjax.kGlobal"
        />
    </v-expansion-panel-content>

    <v-expansion-panel-content ripple>
      <div slot="header">Rigidez Rearranjada</div>
      <Mathjax
        :mdData="printMathjax.kRearranjada"
        />
    </v-expansion-panel-content>

    <v-expansion-panel-content ripple>
      <div slot="header">Elementos - Clique no elemento para ver mais</div>
      <trelica-resultado-elemento
        :eleArr="estrutura.eleArr"
        />
    </v-expansion-panel-content>

  </v-expansion-panel>
</template>

<script>
import Mathjax from '~/components/AnaliseMatricial/Mathjax.vue'
import TrelicaResultadoPlotly from '~/components/AnaliseMatricial/TrelicaResultadoPlotly.vue'
import TrelicaResultadoElemento from '~/components/AnaliseMatricial/TrelicaResultadoElemento.vue'
export default {
  components: { TrelicaResultadoElemento, Mathjax, TrelicaResultadoPlotly },
  props: ['estrutura'],
  computed: {
    printMathjax () {
      let print = {
        test: this.estrutura.eleArr,
        deslocamento: this.vetor(this.estrutura.metodoRearranjar.d, 5, 'd', 'mm'),
        kGlobal: this.matrixRigidez(this.estrutura.k),
        kRearranjada: this.matrixRigidezRearrajada(
          this.estrutura.metodoRearranjar.kRearranged,
          this.estrutura.metodoRearranjar.f,
          this.estrutura.metodoRearranjar.s,
          this.estrutura.metodoRearranjar.d_,
          this.estrutura.metodoRearranjar.ff,
          this.estrutura.metodoRearranjar.fs),
        reacoes: this.vetor(this.estrutura.metodoRearranjar.reaction, 3, 'f', 'kN')
      }
      return print
    }
  },
  methods: {
    vetor (array, precision, letter, dimension) {
      let vetor = this.formatArray(array, precision).join(' \\\\\\ ')
      let string = ''
      if (letter) string += letter + ' = '
      string += '\\begin{bmatrix}' + vetor + '\\end{bmatrix}'
      if (dimension) string += dimension
      return '$$' + string + '$$'
    },
    vetorRearranjado (topo, baixo, letra) {
      let string = '\\begin{bmatrix} ' + letra + ' \\\\\\ \\hline '
      let vetorTopo = this.formatArray(topo).join(' \\\\\\ ')
      string += vetorTopo + ' \\\\\\ \\hline '
      let vetorBaixo = this.formatArray(baixo).join(' \\\\\\ ')
      string += vetorBaixo + ' \\end{bmatrix}'
      return string
    },
    matriz (matrix) {
      let string = '$$ \\begin{bmatrix}'
      matrix.forEach(row => {
        let str = row.join(' & ') + ' \\\\\\ '
        string += str
      })
      string += ' \\end{bmatrix} $$'
      return string
    },
    matrixRigidez (matrix) {
      let size = matrix.length
      let string = '$$ \\begin{array}{r|'
      let rows = 'r'.repeat(size + 1) + '}'
      string += rows
      string += this.getLabelsString(size)
      let i = 0
      matrix.forEach(row => {
        let str = 'k_' + i + '& ' + this.formatArray(row).join(' & ') + ' \\\\\\ '
        string += str
        i++
      })
      string += ' \\end{array} $$'
      return string
    },
    matrixRigidezRearrajada (matrix, topo, baixo, deslocamento, forcas, reacoes) {
      let size = matrix.length
      let stringK = '\\left[ \\begin{array}{r|'
      let rows = 'r'.repeat(topo.length) + '|' + 'r'.repeat(baixo.length) + '}'
      stringK += rows
      let ordem = topo.concat(baixo)
      stringK += this.getLabelsString(size, ordem)
      let i = 0
      matrix.forEach(row => {
        let str = 'k_' + ordem[i] + '& ' + this.formatArray(row).join(' & ') + ' \\\\\\ '
        if (i === topo.length - 1) {
          str += ' \\hline '
        }
        stringK += str
        i++
      })
      stringK += ' \\end{array} \\right]'
      let stringF = this.vetorRearranjado(topo, baixo, 'F')
      let stringD_ = this.vetorRearranjado(
        deslocamento.slice(0, topo.length),
        deslocamento.slice(topo.length, deslocamento.length),
        'D'
      )
      let string = '$$ \\displaystyle' + stringK +
        ' ' + stringD_ +
        ' = ' + stringF +
        ' ' + ' $$'
      return string
    },
    formatArray (arr, precision) {
      let newArr = []
      let decimals = 3
      if (precision) {
        decimals = precision
      }
      for (let i = 0; i < arr.length; i++) {
        newArr.push(arr[i].toFixed(decimals))
      }
      return newArr
    },
    getLabelsString (size, ordem) {
      let string = '& '
      for (let i = 0; i < size; i++) {
        if (ordem) {
          string += 'k_' + ordem[i] + ' &'
        } else {
          string += 'k_' + i + ' &'
        }
      }
      string += ' \\\\\\ \\hline '
      return string
    }
  }
}
</script>