<template>
  <v-card>
    <v-container fluid grid-list-md py-0>
      <v-layout row wrap>
       
        <v-flex xs12 sm3>
          <v-layout>
            <v-flex d-flex xs12 sm6>
              <v-select
                :items="nodesArr"
                item-text="id1"
                v-model="elemento.nodeA"
                label="nodeA"
                hint="NodeA id"
                single-line
              ></v-select>              
            </v-flex>
            <v-flex d-flex xs12 sm6>
              <v-select
                :items="nodesArr"
                item-text="id1"
                hint="NodeB id"
                v-model="elemento.nodeB"
                label="nodeB"
                single-line
              ></v-select>
            </v-flex>
          </v-layout>
        </v-flex>

        <v-flex xs12 sm9>
          <v-layout>
            <v-flex d-flex xs5>
              <v-text-field v-model="elemento.inercia" label=" Inercia" type="number" />
            </v-flex>
            <v-flex d-flex xs5>
              <v-text-field v-model="elemento.elasticidade" label="Elasticidade" type="number" />
            </v-flex>
            <v-flex d-flex xs2>
              <v-text-field v-model="elemento.area" label="Area" type="number" />
            </v-flex>
          </v-layout>
        </v-flex>

      </v-layout>
    </v-container>
    
  </v-card>
</template>

<script>
export default {
  props: ['elemento', 'nodesArr']
}
</script>

