<template>
  <div id="chart" style="width:100%">
  </div>
</template>

<script>
let Plotly
if (process.browser) {
  Plotly = require('plotly.js')
}
export default {
  props: {
    nodes: {
      type: Array
    }
  },
  data () {
    return {
      myPlot: null
    }
  },
  computed: {
    padded () {
      var x = this.$el.clientWidth - 10
      var y = this.clientHeight - 10
      return { x, y }
    }
  },
  mounted () {
    this.clientWidth = this.$el.clientWidth
    this.clientHeight = this.$el.clientHeight
    this.myPlot = this.$el
    this.initPlot()
  },
  watch: {
    nodes: {
      handler () {
        this.updatePlot()
      },
      deep: true
    }
  },
  methods: {
    traceNodes () {
      var traces = []
      this.nodes.forEach((node, i) => {
        var trace = {
          x: [node.x],
          y: [node.y],
          text: 'No ' + node.id1,
          mode: 'markers+text',
          type: 'scatter',
          name: 'No ' + i,
          showlegend: false,
          hoverinfo: 'x+y',
          // legendgroup: 'elementos',
          marker: { size: 12 },
          textposition: 'top left'
        }
        traces.push(trace)
      })
      // console.log('elements traces', traces)
      return traces
    },
    traceRestrictions () {
      var traces = []
      var xRestricted = this.nodes.filter(d => {
        return d.rx === true
      })
      xRestricted.forEach(node => {
        var x = {
          x: [node.x],
          y: [node.y],
          legendgroup: 'apoios',
          mode: 'markers',
          type: 'scatter',
          showlegend: false,
          hoverinfo: 'name',
          marker: { size: 20, symbol: 'triangle-left-open-dot' },
          name: 'Apoios x'
        }
        traces.push(x)
      })

      var yRestricted = this.nodes.filter(d => {
        return d.ry === true
      })
      yRestricted.forEach(node => {
        var y = {
          x: [node.x],
          y: [node.y],
          legendgroup: 'apoios',
          mode: 'markers',
          type: 'scatter',
          showlegend: false,
          marker: { size: 20, symbol: 'triangle-up-open-dot' },
          name: 'Apoios y'
        }
        traces.push(y)
      })
      // console.log('restriction traces', traces)
      return traces
    },
    traceForces () {
      var annotate = []
      this.nodes.forEach(node => {
        if (parseFloat(node.fx) !== 0) {
          annotate.push({
            x: parseFloat(node.x),
            y: parseFloat(node.y),
            xref: 'x',
            yref: 'y',
            yanchor: 'bottom',
            text: node.fx + ' kN',
            showarrow: true,
            arrowhead: 2,
            ax: -40,
            ay: 0
          })
        }
        if (parseFloat(node.fy) !== 0) {
          annotate.push({
            x: parseFloat(node.x),
            y: parseFloat(node.y),
            xref: 'x',
            yref: 'y',
            text: node.fy + ' kN',
            showarrow: true,
            arrowside: 'bottom',
            arrowhead: 2,
            ax: 0,
            ay: 40
          })
        }
      })
      return annotate
    },
    initPlot () {
      var data = this.traceRestrictions().concat(this.traceNodes())
      var annotate = this.traceForces()
      var layout = {
        autosize: true,
        height: this.clientHeight,
        width: this.clientWidth,
        showLegend: false,
        margin: {
          l: 0,
          r: 0,
          b: 0,
          t: 50,
          pad: 1
        },
        annotations: annotate
      }

      Plotly.newPlot(
        this.myPlot,
        data,
        layout,
        { displayModeBar: true }
      )
    },
    updatePlot () {
      var data = this.traceRestrictions().concat(this.traceNodes())
      var annotate = this.traceForces()
      var layout = {
        autosize: true,
        height: this.clientHeight,
        width: this.clientWidth,
        showLegend: false,
        margin: {
          l: 0,
          r: 0,
          b: 0,
          t: 50,
          pad: 1
        },
        annotations: annotate
      }
      Plotly.react(
        this.myPlot,
        data,
        layout,
        {
          displayModeBar: true,
          transition: { duration: 500, easing: 'cubic-in-out' }
        }
      )
    }
  }
}
</script>
