<template>
  <div>
  </div>
</template>

<script>
let Plotly
if (process.browser) {
  Plotly = require('plotly.js')
}
export default {
  props: {
    nodes: {
      type: Array
    },
    elements: {
      type: Array
    }
  },
  data () {
    return {
      myPlot: null
    }
  },
  computed: {
    padded () {
      var x = this.clientWidth - 10
      var y = this.clientHeight - 10
      return { x, y }
    },
    elementId () {
      let x = []
      let y = []
      let text = []
      for (let i = 0; i < this.elements.length; i++) {
        let x_ = this.elements[i].nodeA.x + this.elements[i].nodeB.x
        let y_ = this.elements[i].nodeA.y + this.elements[i].nodeB.y
        x.push(x_ / 2)
        y.push(y_ / 2)
        text.push(this.elements[i].id1)
      }
      return { x, y, text, mode: 'text', hoverinfo: 'none', showlegend: false }
    }
  },
  mounted () {
    this.clientWidth = this.$el.clientWidth
    this.clientHeight = this.$el.clientHeight
    this.myPlot = this.$el
    this.initPlot()
  },
  watch: {
    nodes: {
      handler () {
        this.updatePlot()
      },
      deep: true
    },
    elements: {
      handler () {
        this.updatePlot()
      },
      deep: true
    }
  },
  methods: {
    traceElements () {
      var traces = []
      this.elements.forEach((element, i) => {
        var trace = {
          x: [element.nodeA.x, element.nodeB.x],
          y: [element.nodeA.y, element.nodeB.y],
          text: [element.nodeA.id1, element.nodeB.id1],
          mode: 'markers+text+lines',
          type: 'scatter',
          name: 'elemento ' + i,
          showlegend: false,
          hoverinfo: 'none',
          // legendgroup: 'elementos',
          marker: { size: 12 },
          textposition: 'top left',
          line: {
            width: 5,
            color: 'rgba(0,100,80,0.4)'
          }
        }
        traces.push(trace)
      })
      // console.log('elements traces', traces)
      return traces
    },
    traceRestrictions () {
      var traces = []
      var xRestricted = this.nodes.filter(d => {
        return d.rx === true
      })
      xRestricted.forEach(node => {
        var x = {
          x: [node.x],
          y: [node.y],
          legendgroup: 'apoios',
          mode: 'markers',
          type: 'scatter',
          showlegend: false,
          marker: { size: 20, symbol: 'triangle-left-open-dot' },
          name: 'Apoios x'
        }
        traces.push(x)
      })

      var yRestricted = this.nodes.filter(d => {
        return d.ry === true
      })
      yRestricted.forEach(node => {
        var y = {
          x: [node.x],
          y: [node.y],
          legendgroup: 'apoios',
          mode: 'markers',
          type: 'scatter',
          showlegend: false,
          marker: { size: 20, symbol: 'triangle-up-open-dot' },
          name: 'Apoios y'
        }
        traces.push(y)
      })
      // console.log('restriction traces', traces)
      return traces
    },
    traceForces () {
      var annotate = []
      this.nodes.forEach(node => {
        if (parseFloat(node.fx) !== 0) {
          annotate.push({
            x: parseFloat(node.x),
            y: parseFloat(node.y),
            xref: 'x',
            yref: 'y',
            yanchor: 'bottom',
            text: node.fx + ' kN',
            showarrow: true,
            arrowhead: 2,
            ax: -40,
            ay: 0
          })
        }
        if (parseFloat(node.fy) !== 0) {
          annotate.push({
            x: parseFloat(node.x),
            y: parseFloat(node.y),
            xref: 'x',
            yref: 'y',
            text: node.fy + ' kN',
            showarrow: true,
            arrowside: 'bottom',
            arrowhead: 2,
            ax: 0,
            ay: 40
          })
        }
      })
      return annotate
    },
    initPlot () {
      var data = this.traceElements().concat(this.traceRestrictions(), this.elementId)
      var annotate = this.traceForces()
      var layout = {
        autosize: true,
        height: this.height,
        width: this.clientWidth,
        showLegend: false,
        margin: {
          l: 0,
          r: 0,
          b: 0,
          t: 50,
          pad: 1
        },
        annotations: annotate
      }

      Plotly.newPlot(
        this.myPlot,
        data,
        layout,
        { displayModeBar: true }
      )
    },
    updatePlot () {
      var data = this.traceElements().concat(this.traceRestrictions(), this.elementId)
      var annotate = this.traceForces()
      var layout = {
        autosize: true,
        height: this.height,
        width: this.clientWidth,
        showLegend: false,
        margin: {
          l: 0,
          r: 0,
          b: 0,
          t: 50,
          pad: 1
        },
        annotations: annotate
      }
      Plotly.react(
        this.myPlot,
        data,
        layout,
        {
          displayModeBar: true,
          transition: { duration: 500, easing: 'cubic-in-out' }
        }
      )
    }
  }
}
</script>
