<template>
  <v-expansion-panel popout>
    <v-expansion-panel-content ripple v-for="node in nodesArr" :key="node.id">
      <div slot="header">Node {{node.id1}}</div>
          <TrelicaNo
            :node="node"/>
    </v-expansion-panel-content>
  </v-expansion-panel>
</template>

<script>
import TrelicaNo from '~/components/AnaliseMatricial/TrelicaNo.vue'
export default {
  components: { TrelicaNo },
  props: ['nodesArr'],
}
</script>