<template>
  <v-expansion-panel popout>
    <v-expansion-panel-content ripple v-for="node in nodesArr" :key="node.id">
      <div slot="header">Node {{node.id1}}</div>
          <TrelicaNo
            :node="node"/>
    </v-expansion-panel-content>
      <v-card>
        <v-card-actions>
          <v-btn text small color="blue" @click="addNode">Adicionar no</v-btn>
          <v-btn text small block color="red" @click="removeNode">Remover no</v-btn>
        </v-card-actions>
      </v-card>
  </v-expansion-panel>
</template>

<script>
import TrelicaNo from '~/components/AnaliseMatricial/TrelicaNo.vue'
export default {
  components: { TrelicaNo },
  props: ['nodesArr'],
  methods: {
    addNode () {
      this.nodesArr.push({
        id: this.nodesArr.length,
        id1: this.nodesArr.length + 1,
        x: 0,
        y: 0,
        dx: 0,
        dy: 0,
        fx: 0,
        fy: 0,
        frx: 0,
        fry: 0,
        rx: false,
        ry: false
      })
    },
    removeNode () {
      if (this.nodesArr.length > 0) {
        this.nodesArr.splice(-1, 1)
      }
    }
  }
}
</script>