<template>
      <v-card>
        <v-card-actions>
          <v-btn text small color="blue" @click="addElement">Adicionar elemento</v-btn>
          <v-btn text small block color="red" @click="removeElement">Remover elemento</v-btn>
        </v-card-actions>
      </v-card>
</template>

<script>
import TrelicaElemento from '~/components/AnaliseMatricial/TrelicaElemento.vue'
export default {
  components: { TrelicaElemento },
  props: ['elementsArr', 'nodesArr'],
  methods: {
    addElement () {
      // preencher ja com provaveis elementos
      let firstId = 0
      let nextId = this.elementsArr.length
      if (typeof this.nodesArr[this.elementsArr.length + 1] !== 'undefined') {
        nextId = this.elementsArr.length + 1
        firstId = this.elementsArr.length
      } else {
        firstId = this.nodesArr.length - 1
        nextId = 0
      }
      // adiciona novo elemento pra elementsArr
      this.elementsArr.push({
        id: this.elementsArr.length,
        id1: this.elementsArr.length + 1,
        nodeA: this.nodesArr[firstId],
        nodeB: this.nodesArr[nextId],
        inercia: 1,
        elasticidade: 1,
        area: 1
      })
    },
    removeElement () {
      if (this.elementsArr.length > 0) {
        this.elementsArr.splice(-1, 1)
      }
    }
  }
}
</script>