<template>
  <v-card>
    <v-container fluid grid-list-md py-0>
      <v-layout row wrap>
       
        <v-flex xs12 sm2>
          <v-layout>
            <v-flex d-flex xs12>
              <v-text-field class="input-group--focused" v-model.number="node.x" label="x" type="number" suffix="m" 
             />
            </v-flex>
            <v-flex d-flex xs12>
              <v-text-field class="input-group--focused" v-model.number="node.y" label="y" type="number" suffix="m" />
            </v-flex>
          </v-layout>
        </v-flex>

        <v-flex xs12 sm5>
          <v-layout>
            <v-flex d-flex xs12>
              <v-text-field v-model.number="node.fx" label=" fx" type="number" suffix="kN"/>
            </v-flex>
            <v-flex d-flex xs12>
              <v-text-field v-model.number="node.fy" label="fy" type="number" suffix="kN" />
            </v-flex>
          </v-layout>
        </v-flex>

        <v-flex d-flex xs12 sm5>
          <v-layout>
            <v-flex d-flex xs12>
              <v-switch v-model="node.rx" persistent-hint hint="travar X" color="orange" />
            </v-flex>
            <v-flex d-flex xs12>
              <v-switch v-model="node.ry" persistent-hint hint="travar Y" color="orange" />
            </v-flex>
          </v-layout>
        </v-flex>

<!-- Adicionar deslocamento  -->
        <!-- <v-flex xs12 sm5>
          <v-layout>
            <v-flex d-flex xs12>
              <v-text-field v-model.number="node.edx" label="dx" permanent-hint hint="Recalque em x" type="number" suffix="mm"/>
            </v-flex>
            <v-flex d-flex xs12>
              <v-text-field v-model.number="node.edy" label="dy" permanent-hint hint="Recalque em y" type="number" suffix="mm" />
            </v-flex>
          </v-layout>
        </v-flex> -->

      </v-layout>
    </v-container>

  </v-card>
</template>

<script>
export default {
  props: ['node']
}
</script>

