<template>
  <v-expansion-panel popout>
    <v-expansion-panel-content ripple v-for="elemento in elementsArr" :key="elemento.id">
      <div slot="header">Elemento {{elemento.id1}}</div>
          <TrelicaElemento
            :elemento="elemento"
            :nodesArr="nodesArr"/>
    </v-expansion-panel-content>
  </v-expansion-panel>
</template>

<script>
import TrelicaElemento from '~/components/AnaliseMatricial/TrelicaElemento.vue'
export default {
  components: { TrelicaElemento },
  props: ['elementsArr', 'nodesArr'],
}
</script>