<template>
  <v-app>
    <v-app-bar app flat dark scroll-off-screen :color="accentColor">
      <v-avatar size="50">
        <img src="@/static/Icon3.png" alt="avatar" href="/" @click="setBottomNav(0)" />
      </v-avatar>
      <v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn to="/" dark text @click="setBottomNav(0)">
          <span class="font-weight-light">eng |</span>
          <span>yuribecker</span>
        </v-btn>
      </v-toolbar-title>

      <v-spacer></v-spacer>

      <v-toolbar-items class="d-none d-md-flex">
        <v-btn text to="/engcivil" @click="setBottomNav(1)">
          <v-icon>domain</v-icon>Eng. Civil
        </v-btn>
        <v-btn text to="/prog" @click="setBottomNav(2)">
          <v-icon>computer</v-icon>Programacao
        </v-btn>
        <v-btn text to="/investimentos" @click="setBottomNav(3)">
          <v-icon>trending_up</v-icon>Investimentos
        </v-btn>
        <v-btn text to="/sobre" @click="setBottomNav(4)">
          <v-icon>more_vert</v-icon>Sobre
        </v-btn>
      </v-toolbar-items>
    </v-app-bar>
    <v-content id="content">
      <nuxt />
    </v-content>

    <v-bottom-navigation app :value="bottomNav" :color="accentColor" class="d-flex d-md-none">
      <v-btn text dark to="/" @click="setBottomNav(0)">
        <span>Home</span>
        <v-icon>home</v-icon>
      </v-btn>

      <v-btn to="/engcivil" @click="setBottomNav(1)">
        <span>Eng. Civil</span>
        <v-icon>domain</v-icon>
      </v-btn>

      <v-btn dark to="/prog" @click="setBottomNav(2)">
        <span>Prog</span>
        <v-icon>computer</v-icon>
      </v-btn>

      <v-btn dark to="/investimentos" @click="setBottomNav(3)">
        <span>Investimentos</span>
        <v-icon>trending_up</v-icon>
      </v-btn>

      <v-btn dark to="/sobre" @click="setBottomNav(4)">
        <span>sobre</span>
        <v-icon>more_horiz</v-icon>
      </v-btn>
    </v-bottom-navigation>
  </v-app>
</template>

<script>
import Ferramentas from "~/components/Ferramentas.vue";
export default {
  components: {
    Ferramentas
  },
  computed: {
    websiteName() {
      return $store.state.websiteName;
    },
    bottomNav() {
      return this.$store.state.bottomNav;
    },
    accentColor() {
      return this.$store.state.accentColor;
    }
  },
  methods: {
    setBottomNav(n) {
      this.$store.dispatch("bottomNavChange", n);
    }
  },
  data() {
    return {
      year: new Date().getFullYear(),
      title: "Web App - Eng. Civil "
    };
  }
};
</script>

<style scoped>
#content {
  background-color: black;
  /* overflow-y: hidden; */
  height: 100%;
  /* margin-top: 64px; */
}
</style>

