<template>
  <div>
    <TitleCard :titlecard="titleCard" />
    <v-container fill-height>
      <v-row justify="center" align="end">
        <v-col cols="12" xs="12" md="6">
          <v-card dark>
            <v-list rounded>
              <v-list-item-group>
                <v-list-item href="https://yuribecker.com.br">
                  <v-list-item-avatar>
                    <v-icon :color="accentColor">web</v-icon>
                  </v-list-item-avatar>

                  <v-list-item-content>
                    <v-list-item-title>yuribecker.com.br</v-list-item-title>
                    <v-list-item-subtitle>Personal site</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>

                <v-divider inset></v-divider>

                <v-list-item href="https://cv.yuribecker.com.br">
                  <v-list-item-avatar>
                    <v-icon :color="accentColor">info</v-icon>
                  </v-list-item-avatar>

                  <v-list-item-content>
                    <v-list-item-title>cv.yuribecker.com.br</v-list-item-title>
                    <v-list-item-subtitle>Curriculum</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>

                <v-divider inset></v-divider>

                <v-list-item>
                  <v-list-item-avatar>
                    <v-icon :color="accentColor">mail</v-icon>
                  </v-list-item-avatar>

                  <v-list-item-content>
                    <v-list-item-title>yurifbeck@gmail.com</v-list-item-title>
                    <v-list-item-subtitle>Email</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>

                <v-divider inset></v-divider>

                <v-list-item @click>
                  <v-list-item-avatar>
                    <v-icon :color="accentColor">location_on</v-icon>
                  </v-list-item-avatar>

                  <v-list-item-content>
                    <v-list-item-title>Campo Grande, MS</v-list-item-title>
                    <v-list-item-subtitle>Brazil</v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-list-item-group>
            </v-list>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import TitleCard from "~/components/TitleCard";

export default {
  components: { TitleCard },
  computed: {
    accentColor() {
      return this.$store.state.accentColor;
    }
  },
  data() {
    return {
      titleCard: {
        title: "Sobre",
        subtitle: "?"
      }
    };
  }
};
</script>
