<template>
  <div>
    <TitleCard :titlecard="titleCard" />
    <v-card class="mx-md-10 mx-xs-2">
      <v-card-title class="text-center justify-center py-6">
        <h1 class="font-weight-bold display-1 basil--text">PROCURAR DEPUTADO</h1>
      </v-card-title>
      <v-card-text>
        <v-autocomplete
          v-model="deputado"
          :items="items"
          :loading="isLoading"
          :search-input.sync="search"
          hide-no-data
          :item-text="nomeUF"
          item-value="nome"
          label="API dados abertos da câmara"
          placeholder="Digite nome, estado ou partido"
          prepend-icon="mdi-database-search"
          return-object
        ></v-autocomplete>
      </v-card-text>
      <v-divider></v-divider>
      <v-expand-transition v-if="deputado">
        <v-row>
          <v-col cols="12" md="6">
            <v-img :src="deputado.urlFoto" contain max-height="200"></v-img>
          </v-col>
          <v-col cols="12" md="6">
            <v-list-item two-line v-for="(field, i) in fields" :key="i">
              <v-list-item-content>
                <v-list-item-title v-text="field.value"></v-list-item-title>
                <v-list-item-subtitle v-text="field.key"></v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-col>
        </v-row>
      </v-expand-transition>
      <v-spacer></v-spacer>
      <v-card-actions v-if="deputado" class="my-2">
        <v-spacer></v-spacer>
        <v-btn
          @click="etapa = 2; pegarDespesas()"
          color="#356859"
          dark
          :loading="isLoading"
        >Obter despesas</v-btn>
      </v-card-actions>
    </v-card>
    <!-- -------------- -->
    <v-card class="ma-2" v-if="mostrarDespesas">
      <v-card-title class="text-center justify-center py-6">
        <div>
          <p class="font-weight-bold display-1 basil--text">Despesas</p>
          <p
            class="font-weight-light caption"
          >Análise dos últimos {{despesas.length}} gastos desde {{dataMinima}}</p>
        </div>
      </v-card-title>

      <v-tabs color="#356859" grow v-model="tab">
        <v-tab>Analise</v-tab>
        <v-tab>Total</v-tab>
      </v-tabs>

      <v-tabs-items v-model="tab">
        <v-tab-item>
          <v-card-title>
            <p class="font-weight-thin body-1">Analise de despesas de {{deputado.nome}}</p>
          </v-card-title>
          <v-card-text>
            <analise :analisado="analisados"></analise>
            <Chart
              title="Teste grafico"
              xKey="dataDocumento"
              yKey="valorDocumento"
              :data="despesas"
            ></Chart>
            <Chart2 :despesas="despesas"></Chart2>
          </v-card-text>
        </v-tab-item>
        <v-tab-item>
          <v-spacer></v-spacer>
          <v-text-field
            v-model="despesaSearch"
            append-icon="search"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
          <v-data-table :headers="headers" :items="despesas" :search="despesaSearch" locale="pt-BR"></v-data-table>
        </v-tab-item>
      </v-tabs-items>
    </v-card>
  </div>
</template>

<style scoped>
.basil {
  background-color: #fffbe6 !important;
}
.basil--text {
  color: #356859 !important;
}
</style>

<script>
import TitleCard from "~/components/TitleCard.vue";
import Analise from "~/components/prog/analise.vue";
import Chart from "~/components/prog/Chart.vue";
import Chart2 from "~/components/prog/Chart2.vue";
import axios from "axios";
import * as easings from "vuetify/es5/services/goto/easing-patterns";
export default {
  components: {
    TitleCard,
    Analise,
    Chart,
    Chart2
  },
  async asyncData({ params }) {
    const { data } = await axios.get(
      `https://dadosabertos.camara.leg.br/api/v2/deputados`
    );
    return { entries: data.dados };
  },
  data() {
    return {
      warnings: [],
      despesas: [],
      deputado: null,
      isLoading: false,
      mostrarDespesas: false,
      dataMinima: "",
      analisados: {},
      search: "",
      tab: 0,
      duration: 800,
      offset: 0,
      easing: "easeInOutCubic",
      easings: Object.keys(easings),
      entries: [],
      titleCard: {
        title: "Análise de Dados - Despesas dos Deputados do Brasil",
        subtitle: "",
        source:
          "https://gitlab.com/yurifbeck/engcivil/blob/master/pages/prog/AnaliseDadosDeputados.vue"
      },
      etapa: 1,
      rules: {
        // simples: value =>
        //   value < this.dmin.dmin || "Para esta altura armadura simples basta"
      },
      alert: false,
      e1: 1,
      despesaSearch: "",
      headers: [
        { text: "Tipo", value: "tipoDespesa" },
        {
          text: "Fornecedor",
          value: "nomeFornecedor"
        },
        {
          text: "Data",
          value: "dataDocumento"
        },
        { text: "Valor", value: "valorDocumento" }
      ]
    };
  },
  methods: {
    nomeUF: item =>
      item.nome + " - " + item.siglaUf + " (" + item.siglaPartido + ")",
    pegarNumeroDePaginasDaAPI() {
      let paginas = 3;

      return paginas;
    },
    async pegarDespesas() {
      this.isLoading = true;
      this.$nuxt.$loading = true;

      this.despesas = [];
      let paginas = this.pegarNumeroDePaginasDaAPI();
      console.log("pegar despesas do deputado id: ", this.deputado.id);
      let esteAno = new Date().getFullYear();
      let ultimos4anos = [esteAno, esteAno - 1, esteAno - 2, esteAno - 3];

      // Lazily load input items

      for (let i = 1; i <= paginas; i++) {
        await fetch(
          `https://dadosabertos.camara.leg.br/api/v2/deputados/${this.deputado.id}/despesas?pagina=${i}&itens=100&ano=${ultimos4anos}&ordenarPor=ano&ordem=ASC`
        )
          .then(res => res.json())
          .then(res => {
            console.log("Buscando despesas de", i);
            if (Array.isArray(res.dados) && res.dados.length) {
              this.despesas.push(...res.dados);
            }
          })
          .catch(err => {
            console.log(err);
          });
      }
      // ordenar por cronologicamente descendente
      Promise.resolve(
        this.despesas.sort(function(a, b) {
          var dateA = new Date(a.dataDocumento);
          var dateB = new Date(b.dataDocumento);
          return dateB - dateA;
        })
      );
      this.dataMinima = this.despesas[this.despesas.length - 1].dataDocumento;
      this.analise();
      // this.analise2();
      this.isLoading = false;
      this.$nuxt.$loading = false;
      this.mostrarDespesas = true;
      this.$vuetify.goTo(900, this.options);
    },
    analise() {
      Promise.resolve(this.despesas.map(d => d.valorDocumento)).then(v => {
        this.analisados.max = Math.max(...v);
        this.analisados.sum = v.reduce((a, b) => a + b);
        this.analisados.mean = this.analisados.sum / v.length;
        this.analisados.min = Math.min(...v);
        this.analisados.quantity = v.length;
      });
    },
    analise2() {
      Promise.resolve(this.despesas).then(v => {
        this.analisados.maximo = v.reduce((a, b) =>
          a.valorDocumento > b.valorDocumento ? a : b
        );
        // this.analisados.soma = v.reduce((a, b) => a + b);
        // this.analisados.me = this.analisados.sum / v.length;
        this.analisados.minimo = v.reduce((a, b) =>
          a.valorDocumento < b.valorDocumento ? a : b
        );
        // this.analisados.quantity = v.length
      });
    },
    pegarDataMinima() {
      if (!this.deputado) return "Erro, deputado n encontrado";
      if (!this.despesas) return "Erro, despesas n encontrado";
      this.despesas.forEach(element => {
        if (element.dataDocumento) {
          element.data = new Date(element.dataDocumento).toLocaleDateString(
            "pt-BR"
          );
        } else {
          element.data = "null";
        }
      });
      this.despesas.sort((a, b) => a.data - b.data);

      return this.despesas[0].data;
    }
  },
  computed: {
    fields() {
      if (!this.deputado) return [];
      return [
        { key: "Nome", value: this.deputado.nome },
        { key: "Partido", value: this.deputado.siglaPartido },
        { key: "Estado", value: this.deputado.siglaUf },
        { key: "Email", value: this.deputado.email },
        { key: "id", value: this.deputado.id }
      ];
    },
    items() {
      return this.entries.map(entry => {
        return Object.assign({}, entry);
      });
    },
    options() {
      return {
        duration: this.duration,
        offset: this.offset,
        easing: this.easing
      };
    }
  },
  watch: {
    dialog(val) {
      val || this.close();
    },
    search(val) {
      // Items have already been loaded11
      if (this.deputado) return;

      if (val !== null) {
        if (val.length < 5) return;
      }

      // Items have already been requested
      if (this.isLoading) return;

      this.isLoading = true;
      console.log("search", this.search);

      // Lazily load input items
      fetch(`https://dadosabertos.camara.leg.br/api/v2/deputados`)
        .then(res => res.json())
        .then(res => {
          this.entries = res.dados;
          // this.count = res.data.length
        })
        .catch(err => {
          console.log(err);
        })
        .finally(() => (this.isLoading = false));
    }
  }
};
</script>
