<template>
  <div>
    <TitleCard
      :titlecard="{title: 'Calculadora', source: 'https://gitlab.com/yurifbeck/engcivil/blob/master/components/Calculadora.vue'}"
    />
    <v-container>
      <v-row>
        <v-col>
          <Calculadora></Calculadora>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>


<script>
import Calculadora from "~/components/Calculadora.vue";
import TitleCard from "~/components/TitleCard.vue";

export default {
  components: {
    Calculadora,
    TitleCard
  }
};
</script>
