<template>
  <div>
    <TitleCard :titlecard="titleCard" />
    <v-container fluid grid-list-lg id="investimestos">
      <v-layout row wrap>
        <Card v-for="(card,n) in cards" :key="n" :card="card"></Card>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import TitleCard from "~/components/TitleCard";
import Card from "~/components/Card";

export default {
  components: {
    TitleCard,
    Card
  },
  data() {
    return {
      titleCard: {
        title: "Programacao",
        subtitle: "asdfasdfasfdaewads"
      },
      cards: {
        analiseGrafica: {
          title: "TF.js - Regressão Polinomial",
          description:
            "Explicação da diferença entre regressão, extrapolação e interpolação. Utiliza  com TensorFlow.js para entender o conceito de forma didática.",
          year: "2018",
          image: "/images/regressaoPolinomial.png",
          link: "/prog/regressaoPolinomial",
          author: "Yuri Becker"
        },
        analiseDados: {
          title: "Análidede Dados - Despesas Deputados",
          description:
            "Análise das despesas dos deputados utilizando os dados abertos da câmara",
          year: "2019",
          link: "/prog/AnaliseDadosDeputados",
          author: "Yuri Becker"
        },
        calculadora: {
          title: "Calculadora",
          description:
            "Calculadora só para entender como funciona programação por trás",
          year: "2017",
          link: "/prog/calculadora",
          author: "Yuri Becker"
        }
      }
    };
  }
};
</script>

<style scoped>
#engcivil {
  background-color: black;
  height: 100vh;
}
</style>
