<template>
  <v-container>
    <v-layout>

      <v-text-field label="a" v-model="a"></v-text-field>
      <v-text-field label="b" v-model="b"></v-text-field>
      <v-text-field label="c" v-model="c"></v-text-field>
      <v-text-field label="d" v-model="d"></v-text-field>

    </v-layout>

    <v-btn @click="randomData()">Randomizar coeficientes</v-btn>

    <v-divider/>

      <v-text-field v-model="numPoints"></v-text-field>
      <v-text-field v-model="sigma"></v-text-field>

      <v-btn @click="generateData(numPoints, coeff, sigma)">Gerar dados</v-btn>

      <plotly-scatter v-if="Object.keys(generatedData).length !== 0" :scatterData="generatedData"/>

    <v-divider/>

      <v-text-field v-model="learningRate"></v-text-field>
      <v-text-field v-model="numIterations"></v-text-field>

  </v-container>
</template>

<script>
// Tutorial em https://js.tensorflow.org/tutorials/fit-curve.html
import * as tf from '@tensorflow/tfjs'
import PlotlyScatter from '~/components/tensorflow/PlotlyScatter'
import PlotlyScatterPoly from '~/components/tensorflow/PlotlyScatterPoly'

export default {
  components: {
    PlotlyScatter,
    PlotlyScatterPoly
  },
  data () {
    return {
      a: 2,
      b: 1,
      c: 0.5,
      d: 3,
      y: null,
      numPoints: 50,
      sigma: 0.04,
      learningRate: 0.5,
      numIterations: 75,
      generatedData: {},
      poly: { a: 0, b: 0, c: 0, d: 0 }
    }
  },
  computed: {
    coeff () {
      return [this.a, this.b, this.c, this.d]
    }
  },
  mounted () {
    this.generateData(this.numPoints, this.coeff, this.sigma)
  },
  methods: {
    randomData () {
      this.a = Math.random()
      this.b = Math.random()
      this.c = Math.random()
      this.d = Math.random()
      this.setUpVariables()
    },
    setUpVariables () {
      this.poly.a = tf.variable(tf.scalar(Math.random()))
      this.poly.b = tf.variable(tf.scalar(Math.random()))
      this.poly.c = tf.variable(tf.scalar(Math.random()))
      this.poly.d = tf.variable(tf.scalar(Math.random()))
    },
    predict (x) {
      this.y = tf.tidy(() => {
        this.a.mul(x.pow(tf.scalar(3))) // a * x^3
          .add(this.b.mul(x.square())) // + b * x ^ 2
          .add(this.c.mul(x)) // + c * x
          .add(this.d) // + d
      })
    },
    loss (predictions, labels) {
      // Subtract our labels (actual values) from predictions, square the results,
      // and take the mean.
      const meanSquareError = predictions.sub(labels).square().mean()
      return meanSquareError
    },
    generateData (numPoints, coeff, sigma) {
      const [a, b, c, d] = [
        tf.scalar(coeff[0]), tf.scalar(coeff[1]), tf.scalar(coeff[2]),
        tf.scalar(coeff[3])
      ]

      const xs = tf.randomUniform([numPoints], -1, 1)

      // Generate polynomial data
      const three = tf.scalar(3, 'int32')
      const ys = a.mul(xs.pow(three))
        .add(b.mul(xs.square()))
        .add(c.mul(xs))
        .add(d)
        // Add random noise to the generated data
        // to make the problem a bit more interesting
        .add(tf.randomNormal([numPoints], 0, sigma))

      // Normalize the y values to the range 0 to 1.
      const ymin = ys.min()
      const ymax = ys.max()
      const yrange = ymax.sub(ymin)
      const ysNormalized = ys.sub(ymin).div(yrange)

      this.generatedData = {
        xs,
        ys: ysNormalized
      }
    }
  }
}
</script>
