<template>
  <v-container class="px-0">
    <div class="px-3">
      <h2 class="display-1 success--text pl-3">
        <v-fade-transition leave-absolute>
          <span>Regressão Polinomial usando Tensorflow.js</span>
        </v-fade-transition>
      </h2>

      <v-divider class="my-3"></v-divider>

      <div>Este é um exemplo prático e interativo para entender regressão polinomial (especificamente do terceiro grau). O objetivo é apresentar o conceito de regressão e o funcionamento do algorítmo de machine learning e da biblioteca Tensorflow.js.</div>

      <v-divider class="my-3"></v-divider>
    </div>

    <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->

    <v-stepper non-linear v-model="etapa" vertical>
      <v-stepper-step :complete="etapa > 1" step="1">
        O que é regressão?
        <small>Não confundir com extrapolação ou interpolação</small>
      </v-stepper-step>

      <v-stepper-content step="1">
        <v-card class="mb-5" color="light-blue lighten-5">
          <v-card-title primary-title class="headline">Regressão é estimar parâmetros de uma função</v-card-title>
          <v-card-text>
            <strong>Interpolação</strong> é estimar valores de uma função
            <b>entre</b> valores conhecidos.
            <br />
            <strong>Extrapolação</strong> é estimar valores de uma função
            <b>fora</b> do intervalo dos valores conhecidos.
          </v-card-text>
        </v-card>

        <v-btn color="primary" @click="etapa++">Continue</v-btn>
      </v-stepper-content>

      <v-stepper-step :complete="etapa > 2" step="2">
        Gerar dados para o exemplo
        <small>Escolha os parâmetros iniciais</small>
      </v-stepper-step>

      <v-stepper-content step="2">
        <v-card class="mb-5" color="light-blue lighten-5">
          <v-card-title
            primary-title
            class="headline"
          >Regressão polinomal consiste em encontrar os coeficientes da função</v-card-title>
          <v-card-text>
            Encontrar estes coeficientes não é trivial. Neste exemplo usaremos o Tensorflow.js para encontrar um curva em dados sintéticamente construidos.
            <br />O primeiro passo é ter dados que você acredita que possam ser modelados de alguma maneira. Neste caso tentaremos gerar dados aleatórios derivados de uma equação polinomial do terceiro grau.
            <Mathjax :mdData="'$$ y(x) = ax^3 + bx^2 + cx + d$$'" />Escolha os coeficientes abaixo para gerar dados. Eles sofrerão um desvio de distribuição normal (ruído) conforme o sigma que for escolhido, desta forma o problema fique mais interessante.
            <v-divider class="my-3" />

            <v-container fluid grid-list-xl>
              <v-layout row wrap>
                <v-flex xs6>
                  <v-text-field label="a" v-model.number="a"></v-text-field>
                </v-flex>
                <v-flex xs6>
                  <v-text-field label="b" v-model.number="b"></v-text-field>
                </v-flex>
                <v-flex xs6>
                  <v-text-field label="c" v-model.number="c"></v-text-field>
                </v-flex>
                <v-flex xs6>
                  <v-text-field label="d" v-model.number="d"></v-text-field>
                </v-flex>
                <v-flex xs9>
                  <v-text-field label="Número de pontos" v-model.number="numPoints"></v-text-field>
                </v-flex>
                <v-flex xs3>
                  <v-text-field label="sigma" v-model.number="sigma"></v-text-field>
                </v-flex>
              </v-layout>
            </v-container>

            <v-btn
              color="gray lighten-3"
              block
              @click="generateData(numPoints, coeff, sigma)"
            >Gerar dados</v-btn>

            <plotly-scatter v-if="Object.keys(plotData).length !== 0" :scatterData="generatedData" />

            <div v-if="Object.keys(generatedData).length !== 0">
              Este serão seus dados que tentaremos encontrar os parâmetros para fazer a regressão polinomial. Iniciaremos com um
              <i>chute</i> inicial e idealmente chegaremos aos mesmos valores de coeficientes colocados acima.
            </div>
          </v-card-text>
        </v-card>

        <v-btn
          color="primary"
          :disabled="Object.keys(generatedData).length === 0"
          @click="prepareInitialPoly"
        >Continue</v-btn>
        <v-btn color="error" @click="etapa--">Voltar</v-btn>
      </v-stepper-content>

      <v-stepper-step :complete="etapa > 3" step="3">
        Construindo um modelo
        <small>O primeiro modelo começa com um chute inicial</small>
      </v-stepper-step>

      <v-stepper-content step="3">
        <v-card class="mb-5" color="light-blue lighten-5">
          <v-card-title primary-title class="headline">Primeira iteração do algorítmo</v-card-title>
          <v-card-text>
            Começaremos com estes coeficientes aleatórios:
            <br />
            a = {{ poly.a | tensorToFloat | casaDecimal }}
            <br />
            b = {{ poly.b | tensorToFloat | casaDecimal }}
            <br />
            c = {{ poly.c | tensorToFloat | casaDecimal }}
            <br />
            d = {{ poly.d | tensorToFloat | casaDecimal }}
            <br />
            <v-btn color="gray lighten-3" @click="setUpVariables">Randomizar e Plotar</v-btn>

            <plotly-scatter-poly
              v-if="Object.keys(generatedData).length !== 0"
              :xs="plotData.xs"
              :ys="plotData.ys"
              :preds="plotData.preds"
            />Muito provavelmente a regressão inicial não é um bom modelo pois não representa os dados corretamente. Precisamos aprimorar nosso modelo com coeficientes melhores.
          </v-card-text>
        </v-card>

        <v-btn color="primary" @click="etapa++">Continue</v-btn>
        <v-btn color="error" @click="etapa--">Voltar</v-btn>
      </v-stepper-content>

      <v-stepper-step :complete="etapa > 4" step="4">
        Treinando o modelo
        <small>Para obter melhores coeficientes</small>
      </v-stepper-step>

      <v-stepper-content step="4">
        <v-card class="mb-5" color="light-blue lighten-5">
          <v-card-title primary-title class="headline">Definir parâmetros do treinamento do modelo</v-card-title>
          <v-card-text>
            Para treinar o modelo precisamos de três coisas:
            <br />
            <ul>
              <li>
                <b>Função de perda</b> (
                <i>loss function</i>): mede o quão bem o modelo representa a data. Quanto menor a perda, melhor a regressão.
                <br />Neste tutorial usaremos o
                <b>Método dos Quadrados mínimos</b> ou
                <a
                  href="https://developers.google.com/machine-learning/crash-course/glossary/#MSE"
                >MSE</a>. É calculado pelo quadrado da diferença do y real e do y estimado. Então faz-se a média de todos os termos.
              </li>
              <li>
                <b>Otimizador</b> (
                <i>optimizer</i>): é o algorítmo que será implementado conforme o outpot da
                <i>loss function</i>, tentado fazer este output o menor possível.
                <br />Neste exemplo usaremos o
                <b>Gradiente Descendente Estocástico</b> ou
                <a
                  href="https://developers.google.com/machine-learning/crash-course/glossary#SGD"
                >SGD</a>. Ele pega o gradiente de pontos aleatórios em nossos dados e informa se este valor deveria subir ou descer. A
                <b>taxa de aprendizagem</b> ou
                <i>learning rate</i> controla o quão grande são estes incrementos ou decrementos. Valores baixos deixam o treino mais lento (precisa de mais iterações), no entanto taxas altas podem fazer os coeficientes ficarem oscilando e sobrecorrigindo.
              </li>
              <li>
                <b>Loop de treino</b> (
                <i>training loop</i>): vai iterativamente rodando o optimizer para diminuir a perda
              </li>
            </ul>

            <v-divider class="my-3"></v-divider>

            <v-container fluid grid-list-lg>
              <v-layout row wrap>
                <v-flex xs6>
                  <v-text-field label="Número de iterações" v-model.number="numIterations"></v-text-field>
                </v-flex>
                <v-flex xs6>
                  <v-text-field label="Grau de aprendizagem" v-model.number="learningRate"></v-text-field>
                </v-flex>
                <v-flex xs6>
                  <v-btn
                    color="gray lighten-3"
                    block
                    @click="train(generatedData.xs, generatedData.ys, numIterations, learningRate)"
                  >Treinar</v-btn>
                </v-flex>
                <v-flex xs6>
                  <v-btn color="red lighten-3" block @click="setUpVariables">Resetar</v-btn>
                </v-flex>

                <v-flex x12>
                  <plotly-scatter-poly
                    v-if="Object.keys(plotData).length !== 0"
                    :xs="plotData.xs"
                    :ys="plotData.ys"
                    :preds="plotData.preds"
                  />
                </v-flex>

                <v-flex xs12>MSQ = {{ msq | casaDecimal }}</v-flex>
              </v-layout>
            </v-container>

            <table style="width:100%">
              <thead>
                <tr>
                  <th>Coef</th>
                  <th>A</th>
                  <th>B</th>
                  <th>C</th>
                  <th>D</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Inicial</td>
                  <td>{{coeff[0]}}</td>
                  <td>{{coeff[1]}}</td>
                  <td>{{coeff[2]}}</td>
                  <td>{{coeff[3]}}</td>
                </tr>
                <tr>
                  <td>Regressão</td>
                  <td>{{ poly.a | tensorToFloat | casaDecimal }}</td>
                  <td>{{ poly.b | tensorToFloat | casaDecimal }}</td>
                  <td>{{ poly.c | tensorToFloat | casaDecimal }}</td>
                  <td>{{ poly.d | tensorToFloat | casaDecimal }}</td>
                </tr>
                <tr>
                  <td>Diferença</td>
                  <td>{{ diff[0] }}</td>
                  <td>{{ diff[1] }}</td>
                  <td>{{ diff[2] }}</td>
                  <td>{{ diff[3] }}</td>
                </tr>
              </tbody>
            </table>
          </v-card-text>
        </v-card>

        <v-btn color="primary" @click="etapa++">Continue</v-btn>
        <v-btn color="error" @click="etapa--">Voltar</v-btn>
      </v-stepper-content>
    </v-stepper>
  </v-container>
</template>

<script>
import Mathjax from "~/components/AnaliseMatricial/Mathjax.vue";
// Tutorial em https://js.tensorflow.org/tutorials/fit-curve.html
import * as tf from "@tensorflow/tfjs";
import PlotlyScatter from "~/components/tensorflow/PlotlyScatter";
import PlotlyScatterPoly from "~/components/tensorflow/PlotlyScatterPoly";

export default {
  components: {
    PlotlyScatter,
    PlotlyScatterPoly,
    Mathjax
  },
  data() {
    return {
      etapa: 0,
      a: -2,
      b: 1,
      c: -0.5,
      d: 3,
      plotData: {},
      numPoints: 50,
      sigma: 0.05,
      learningRate: 0.5,
      numIterations: 25,
      generatedData: {},
      poly: { a: 0, b: 0, c: 0, d: 0 },
      msq: "",
      diff: []
    };
  },
  computed: {
    coeff() {
      return [this.a, this.b, this.c, this.d];
    }
  },
  filters: {
    tensorToFloat(value) {
      if (!value) return "";
      return value.dataSync()[0];
    },
    casaDecimal(value) {
      if (!value) return "";
      return Number(value).toFixed(3);
    }
  },
  methods: {
    prepareInitialPoly() {
      this.etapa++;
      this.setUpVariables();
    },
    setUpVariables() {
      this.poly.a = tf.variable(
        tf.scalar(Math.random() * (Math.random() < 0.5 ? -1 : 1))
      );
      this.poly.b = tf.variable(
        tf.scalar(Math.random() * (Math.random() < 0.5 ? -1 : 1))
      );
      this.poly.c = tf.variable(
        tf.scalar(Math.random() * (Math.random() < 0.5 ? -1 : 1))
      );
      this.poly.d = tf.variable(
        tf.scalar(Math.random() * (Math.random() < 0.5 ? -1 : 1))
      );
      this.updatePreds();
    },
    updatePreds() {
      let poly = this.poly;
      this.generatedData.preds = this.predict2(
        this.generatedData.xs,
        poly.a,
        poly.b,
        poly.c,
        poly.d
      );
      this.plotData.preds = this.generatedData.preds.dataSync();
    },
    predict2(x, a, b, c, d) {
      // y = a * x ^ 3 + b * x ^ 2 + c * x + d
      return tf.tidy(() => {
        return a
          .mul(x.pow(tf.scalar(3, "int32")))
          .add(b.mul(x.square()))
          .add(c.mul(x))
          .add(d);
      });
    },
    generateData(numPoints, coeff, sigma) {
      const [a, b, c, d] = [
        tf.scalar(coeff[0]),
        tf.scalar(coeff[1]),
        tf.scalar(coeff[2]),
        tf.scalar(coeff[3])
      ];

      const xs = tf.randomUniform([numPoints], -1, 1);

      // Generate polynomial data
      const three = tf.scalar(3, "int32");
      const ys = a
        .mul(xs.pow(three))
        .add(b.mul(xs.square()))
        .add(c.mul(xs))
        .add(d)
        // Add random noise to the generated data
        // to make the problem a bit more interesting
        .add(tf.randomNormal([numPoints], 0, sigma));

      // Normalize the y values to the range 0 to 1.
      const ymin = ys.min();
      const ymax = ys.max();
      const yrange = ymax.sub(ymin);
      const ysNormalized = ys.sub(ymin).div(yrange);

      this.generatedData = {
        xs,
        ys,
        ysn: ysNormalized
      };
      this.plotData.xs = xs.dataSync();
      this.plotData.ys = ys.dataSync();
    },
    loss(predictions, labels) {
      // Subtract our labels (actual values) from predictions, square the results,
      // and take the mean.
      // console.log('msq', predictions.dataSync(), labels.dataSync())
      const meanSquareError = predictions
        .sub(labels)
        .square()
        .mean();
      this.msq = meanSquareError.dataSync();
      return meanSquareError;
    },
    train(xs, ys, numIterations, learningRate) {
      // console.log('ys inicial', ys.dataSync())
      for (let iter = 0; iter < numIterations; iter++) {
        // optimizer.minimize is where the training happens.

        // The function it takes must return a numerical estimate (i.e. loss)
        // of how well we are doing using the current state of
        // the variables we created at the start.

        // This optimizer does the 'backward' step of our training process
        // updating variables defined previously in order to minimize the
        // loss.
        const optimizer = tf.train.sgd(learningRate);
        optimizer.minimize(() => {
          // Feed the examples into the model
          let poly = this.poly;
          const pred = this.predict2(xs, poly.a, poly.b, poly.c, poly.d);
          // console.log('poly = ', poly)
          return this.loss(pred, ys);
        });

        // Use tf.nextFrame to not block the browser.
        tf.nextFrame();
        // console.log('iter = ', iter)
      }
      this.updatePreds();
      this.getDiff();
      // console.log('update preds')
    },
    getDiff() {
      this.diff = [
        Number(this.a - this.poly.a.dataSync()[0]).toFixed(3),
        Number(this.b - this.poly.b.dataSync()[0]).toFixed(3),
        Number(this.c - this.poly.c.dataSync()[0]).toFixed(3),
        Number(this.d - this.poly.d.dataSync()[0]).toFixed(3)
      ];
    }
  }
};
</script>

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
</style>
