<template>
  <v-expansion-panel-content>
    <template v-slot:header>
      <h3 class="title">
        <!-- <v-icon :color="icon_color">{{icon}}</v-icon>
        <span :style="{color: icon_color}">{{ sma.analysis }}</span>-->
        - {{name}}
      </h3>
    </template>
    <v-card>
      <!-- <plotIndicator :traces="traces"/> -->
      <Datepicker :init="init" :end="end"/>
      <v-flex xs12 sm6 md3>
        <v-text-field
          label="Window"
          type="number"
          placeholder="Placeholder"
          v-model.number="window"
        ></v-text-field>
      </v-flex>
      <v-flex xs12 sm6 md3>
        <v-text-field label="Sigmas" type="number" placeholder="Placeholder" v-model.number="sigma"></v-text-field>
      </v-flex>
      <v-form>
        <v-container>
          <v-layout row wrap align-center>
            <!-- <v-flex xs12>Today RSTD20 = {{ sma.mstd20 }}</v-flex>
            <v-flex xs12>Today SMA200 = {{ sma.sma200 }}</v-flex>
            <v-flex xs12>Today Diff = {{ sma.todayDiff }}</v-flex>
            <v-flex xs12>Max Diff = {{ sma.maxDiff }}</v-flex>
            <v-flex xs12>Recomendation = {{ sma.analysis }}</v-flex>-->
          </v-layout>
        </v-container>
      </v-form>

      <v-dialog v-model="dialog" width="500">
        <template v-slot:activator="{ on }">
          <v-btn color="info" dark v-on="on">Informação</v-btn>
        </template>

        <v-card>
          <v-card-title class="headline info lighten-2" primary-title>{{ name }}</v-card-title>

          <v-card-text>{{description }}</v-card-text>

          <v-divider></v-divider>
        </v-card>
      </v-dialog>
    </v-card>
  </v-expansion-panel-content>
</template>

<script>
import plotIndicator from "~/components/finance/plotIndicator.vue";
import Datepicker from "~/components/finance/datepicker.vue";
// import { mstd } from "~/components/finance/indicators.js";
export default {
  components: { plotIndicator, Datepicker },
  props: ["data"],
  data() {
    return {
      dialog: false,
      init: new Date().toISOString().substr(0, 9),
      end: new Date().toISOString().substr(0, 10),
      window: 20,
      sigma: 2,
      name: "Bollinger Band®",
      nome: "Média movel simples 50 dias cruzando com a de 200 dias",
      description:
        "Bollinger Bands® bracket the 20-day SMA of the stock with an upper and lower band along with the daily movements of the stock's price. Because standard deviation is a measure of volatility, when the markets become more volatile the bands widen; during less volatile periods, the bands contract"
    };
  },
  computed: {}
};
</script>
