<template>
  <v-expansion-panel-content>
    <template v-slot:header>
      <h3 class="title">
        <v-icon :color="icon_color">{{icon}}</v-icon>
        <span :style="{color: icon_color}">{{ sma.analysis }}</span>
        - {{name}}
      </h3>
    </template>
    <v-card>
      <v-form>
        <v-container>
          <v-layout row wrap align-center>
            <v-flex xs12>Today SMA50 = {{ sma.sma50 }}</v-flex>
            <v-flex xs12>Today SMA200 = {{ sma.sma200 }}</v-flex>
            <v-flex xs12>Today Diff = {{ sma.todayDiff }}</v-flex>
            <v-flex xs12>Max Diff = {{ sma.maxDiff }}</v-flex>
            <v-flex xs12>Recomendation = {{ sma.analysis }}</v-flex>
          </v-layout>
        </v-container>
      </v-form>

      <v-dialog v-model="dialog" width="500">
        <template v-slot:activator="{ on }">
          <v-btn color="info" dark v-on="on">Informação</v-btn>
        </template>

        <v-card>
          <v-card-title class="headline info lighten-2" primary-title>{{ name }}</v-card-title>

          <v-card-text>{{description }}</v-card-text>

          <v-divider></v-divider>
        </v-card>
      </v-dialog>
    </v-card>
  </v-expansion-panel-content>
</template>

<script>
export default {
  props: ["sma"],
  data() {
    return {
      dialog: false,
      name: "Golden Cross (50-200)",
      nome: "Média movel simples 50 dias cruzando com a de 200 dias",
      description:
        "When these two moving averages cross, it often represents a shift in investor sentiment. If the 50-day MA moves above the 200-day MA (bullish), it's called a Golden Cross signal."
    };
  },
  computed: {
    icon() {
      return this.sma.analysis > 0 ? "trending_up" : "trending_down";
    },
    icon_color() {
      return this.sma.analysis > 0 ? "green" : "red";
    }
  }
};
</script>
