<template>
  <v-expansion-panel-content>
    <template v-slot:header>
      <h3 class="title">
        <!-- <v-icon :color="icon_color">{{icon}}</v-icon>
        <span :style="{color: icon_color}">{{ sma.analysis }}</span>-->
        - {{name}}
      </h3>
    </template>
    <v-card class>
      <v-container fluid grid-list-sm>
        <v-layout row wrap align-center>
          <v-flex xs12 sm6 v-for="sma in SMAS" :key="sma.window">
            <v-card :color="sma.color ? sma.color : 'light-blue darken-4'" class>
              <v-card-title primary-title>
                <div>
                  <div class="headline pb-1">SMA {{sma.window}} from {{sma.data}}</div>
                  <p>Today {{ sma.data }} SMA{{sma.window}}= {{ sma.todaySMA }}</p>
                  <p>Today {{ sma.data }} value = {{ sma.todayValue }}</p>
                  <p>Diff = {{ sma.diff }}</p>
                  <p>MaxDiff in {{ sma.window }} days = {{ sma.maxDiff}}</p>
                  <p>MinDiff in {{ sma.window }} days = {{ sma.minDiff}}</p>
                  <p>Recomendation comparing diffs = {{ sma.diffScore}}</p>
                  <p>Sum under Curve in {{ sma.window }} days = {{ sma.AoCdiff}}</p>
                </div>
              </v-card-title>
              <v-divider light></v-divider>
              <v-card-actions>
                <!-- <v-spacer></v-spacer> -->
                <!-- <v-switch v-model="plots" :value="sma.id" label="Plot"></v-switch>  -->
                <v-btn @click="Plot(sma.id)">Plot</v-btn>
                <v-btn @click="Unplot(sma.id)">Unplot</v-btn>
                <v-btn @click="removeSMA(sma.window, sma.data)">Remove</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>

          <v-flex sm12>
            <v-card color="grey darken-2" class>
              <v-card-title>Add new SMA</v-card-title>
              <v-container fluid grid-list-xs>
                <v-layout wrap justify-space-around>
                  <v-flex xs12 sm3>
                    <v-text-field
                      label="Window"
                      type="number"
                      placeholder="Window"
                      v-model.number="window"
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm3>
                    <v-select
                      label="Data"
                      type="string"
                      placeholder="Data"
                      :items="list"
                      v-model="data"
                    ></v-select>
                  </v-flex>
                  <v-flex xs12 sm3>
                    <v-btn lighten block @click="addSMA(window, data)">Add new SMA</v-btn>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card>
          </v-flex>
        </v-layout>
        <v-dialog v-model="dialog" width="500">
          <template v-slot:activator="{ on }">
            <v-btn color="info" dark v-on="on">Informação</v-btn>
          </template>

          <v-card>
            <v-card-title class="headline info lighten-2" primary-title>{{ name }}</v-card-title>

            <v-card-text>{{description }}</v-card-text>

            <v-divider></v-divider>
          </v-card>
        </v-dialog>
      </v-container>

      <!-- <plotIndicator :traces="traces"/> -->
      <!-- <Datepicker :init="bollingerParams.init" :end="bollingerParams.end" /> -->
    </v-card>
  </v-expansion-panel-content>
</template>

<script>
import plotIndicator from "~/components/finance/plotIndicator.vue";
// import Datepicker from "~/components/finance/datepicker.vue";
// import { mstd } from "~/components/finance/indicators.js";
import { fireDb, timestamp } from "~/plugins/firebase.js";

export default {
  components: { plotIndicator },
  data() {
    return {
      id: 2,
      plots: [],
      dialog: false,
      name: "Simple moving average",
      nome: "Média movel simples",
      description:
        "A moving average (MA) is a widely used indicator in technical analysis that helps smooth out price action by filtering out the “noise” from random short-term price fluctuations. It is a trend-following, or lagging, indicator because it is based on past prices.",
      window: 50,
      data: "close",
      list: ["open", "high", "low", "close"] //TODO: add (H+L+C)/3
    };
  },
  computed: {
    SMAS() {
      return this.$store.state.ticker.SMAS;
    }
    // traces() {
    //   let plots = [];
    //   // find SMAS with id equal to id inside plots array
    //   plots.forEach(id => {
    //     var sma = this.SMAS.filter(obj => {
    //       return obj.id === id;
    //     });
    //     plots.push(sma);
    //   });

    //   this.$store.commit("ADD_SMA_TRACE", plots);
    // }
  },
  mounted() {
    this.clear();
    this.addSMA(20, "close");
    this.addSMA(50, "close");
    this.addSMA(100, "close");
  },
  methods: {
    clear() {
      this.$store.commit("CLEAR");
    },
    async addSMA(window, data) {
      // gets the desired data in the store
      let values = this.$store.state.ticker.ohlc[`${this.data}`];
      // gets the simple moving average
      let sma = await this.getSMA(window, values);
      let todayValue = values[0];
      let todaySMA = sma[0];
      let diff = (todaySMA - todayValue).toFixed(2);
      let diffArray = this.getDiffArray(sma, values);
      let maxDiff = Math.max(...diffArray);
      let minDiff = Math.min(...diffArray);
      let diffScore = this.getDiffScore(diff, maxDiff, minDiff);
      let AoCdiff = +diffArray.reduce((a, b) => a + b, 0).toFixed(2);
      // creates the new SMA and puts in the array object to display
      let newSMA = {
        id: this.id,
        window: window,
        todayValue,
        todaySMA,
        diff,
        data: data,
        plot: true,
        color: "light-blue darken-4",
        sma: sma,
        diffArray: diffArray,
        maxDiff: maxDiff,
        minDiff: minDiff,
        diffScore: diffScore,
        AoCdiff: AoCdiff
      };
      let trace = {
        name: "SMA" + window + "[" + data,
        x: Object.keys(this.$store.state.ticker.history).slice(0, sma.length),
        y: sma
      };
      this.$store.commit("ADD_SMA", newSMA);
      this.$store.commit("ADD_SMA_TRACE", trace);
      this.addToDB();
      this.id++;
    },
    removeSMA(window, data) {
      this.$store.commit("REMOVE_SMA", { window, data });
    },
    async addToDB() {
      let ticker = this.$store.state.ticker.name;
      let date = this.$store.state.dateTo;
      let todayClose = this.$store.state.ticker.SMAS[0].sma[0];

      let sma20 = this.$store.state.ticker.SMAS[0].todaySMA;
      let sma20diff = +this.$store.state.ticker.SMAS[0].diff;
      // let sma20score = this.$store.state.ticker.SMAS[0].score

      let sma200 = this.$store.state.ticker.SMAS[1].todaySMA;
      let sma200diff = +this.$store.state.ticker.SMAS[1].diff;
      // let sma200score = this.$store.state.ticker.SMAS[1].score

      const tickerDateRef = fireDb
        .collection("invest")
        .doc(ticker)
        .collection(date);
      let doc = {
        timestamp: timestamp,
        close: todayClose,
        sma20: sma20,
        sma20diff: sma20diff,
        sma200: sma200,
        sma200diff: sma200diff
      };
      try {
        await tickerDateRef.add(doc);
      } catch (e) {
        console.error(e);
      }
    },
    getSMA(window, data) {
      let sma = [];
      // get the average of the last ${window} days and repeat it for each day
      for (let i = 0; i < data.length - window; i++) {
        // get (for example) the last 20 values in data array with slice
        let valuesInWindow = data.slice(i, i + window);
        // calculate the average of these 20 values
        let windowAverage = this.getAverage(valuesInWindow);
        // puts the average of these 20 days into the sma array
        sma.push(windowAverage);
        // repeat for the next day
      }
      return sma;
    },
    getAverage(array) {
      // gets array and 'reduce' it to a single value
      // which is the sum of all values in the array
      var sum = array.reduce((sum, valueInArray) => sum + valueInArray);

      // the average is this sum divided by how many values there were in the array
      return +(sum / array.length).toFixed(2);
    },
    getDiffArray(smaArray, valueArray) {
      let diffArray = [];
      for (let i = 0; i < valueArray.length; i++) {
        let diff = smaArray[i] - valueArray[i];
        diffArray.push(+diff.toFixed(2));
      }
      return diffArray.filter(v => !isNaN(v));
    },
    getDiffScore(todayDiff, maxDiff, minDiff) {
      let score = 0;
      if (+todayDiff > 0) {
        score = +(todayDiff / maxDiff).toFixed(2);
      } else {
        score = +(todayDiff / minDiff).toFixed(2);
      }
      return score;
    },
    getAoCscore(aoc, diffArray) {
      let score = 0;
    },
    Plot(id) {
      this.$store.commit("ADD_SMA_PLOT", id);
    },
    Unplot(id) {
      this.$store.commit("REMOVE_SMA_PLOT", id);
    }
  }
};
</script>
